@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);
@import url(normalize.css);
@import "compass/css3";

// Variables ==================================
$black: #16263D;
$grey: #787B80;
$background: #EEEEEE;
$offwhite: #F6F6F6;
$border: #DADFE1;
$lightgrey: #BFBFBF;
$blue: #27B4F4;
$teal: #02C2B9;
$purple: #9F81EB;

$market-color-1: #10164B;
$market-color-2: #1B2B7F;
$market-color-3: #3C91BE;
$market-color-4: #62BED2;
$market-color-5: #8ACDCE;
$market-color-6: #AFDCCC;
$market-color-7: #DCECC9;

$sans: 'Poppins', sans-serif;



// Header & Footer ==================================
header, footer {
  background: white;
}

.logo-lockup {
  width: 175px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

header {
  padding: 20px 0;
  .header-logo {
    @extend .logo-lockup;
    background-image: url("https://s3-us-west-2.amazonaws.com/advisorconnect/images/header-logo.svg");
  }
  .nav-right {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 600;
    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
    }
  }
  .contacts-left {    
    color: $purple;
  }
  #settings {
    position: relative;

    div.autocomplete {
      display: none;
      position: absolute;
      top: 23px;
      right: 0;
      border: 1px solid #eee;
      border-top: 0;
      background: #fff;
      width: 208px;
      z-index: 4;
      padding: 15px;

      ul {
        list-style-type: none;
        margin: 0;

        li {
          padding: 5px;
          text-transform: uppercase;
          text-align: right;

          a {
            color: $blue;
            text-decoration: none;
            font-size: 12px;
          }
        }
      }
    }

    &:hover {
      div.autocomplete {
        display: block;
      }
    }
  }
  a.user {
    cursor: pointer;
    color: $grey;
    position: relative;
      &:after {
      position: absolute;
      top: 8px;
      right: 0;
      margin-right: -15px;
      width: 0;
      border-top: 4px solid $grey;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0; 
    }
    .face {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

footer {
  border-top: 1px solid $border;
  margin-top: 40px;
  padding: 40px 0;
  .copyright {
    font-size: 12px;
    margin-bottom: 20px;
    color: $purple;
  }
  .footer-links {
    font-size: 12px;
    span {
      display: inline-block;
      margin-right: 20px;
    }
    a {
      color: $grey;
      font-weight: bold;
    }
  }
  .footer-logo {
    float: right;
    @extend .logo-lockup;
    background-image: url("https://s3-us-west-2.amazonaws.com/advisorconnect/images/footer-logo.svg");
  }
}

.subheader {
  background: $blue;
  margin-bottom: 40px;
  padding: 20px;
  color: white;
  .subnav {    
    ul {
      list-style: none;
      text-align: right;
      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-left: 10px;
        a {
          border: 2px solid;
          border-radius: 100px;
          display: inline-block;
          height: 40px;
          line-height: 36px;
          padding: 0 20px;
          text-decoration: none;
          color: white;
          &.selected {
            background-color: white;
            border-color: white;
            color: $black;
          }
        }
      }
    }
  } 
}



// Tables ==================================
table {
  width: 100%;
  background: white;
  th, td {
    padding: 10px;
    border: 1px solid $border;
  }
  th {
    background: $offwhite;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    color: $grey;
  }
}



// Buttons ==================================
.button {
  height: 50px;
  line-height: 50px;
  min-width: 100px;
  text-align: center;
  padding: 0 10px;
  color: white;
  border-radius: 2px;
  border: none;
  box-shadow: inset 0px -1px 0px 2px rgba(0,0,0,0.10);
  &:hover {
    
  }
  &:active,&:focus {
    box-shadow: inset 0px 1px 0px 2px rgba(0,0,0,0.10);
    outline: none;
  }
  
  &.teal {
    background: $teal;
    &:hover {
      background: lighten($teal, 5%);  
    }
  }
  &.grey {
    background: $lightgrey;
    &:hover {
      background: lighten($lightgrey, 5%);  
    }
  }
}



// Checkboxes ==================================
input[type="checkbox"] {
  background: white;
  border: 1px solid $border;
  border-radius: 1px;
}



// Tooltips ==================================
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: $black;
  background-color: rgba($black, 0.95);
  color: white;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.10);
}

[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid $black;
  border-top: 5px solid rgba($black, 0.95);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}



// Forms & Inputs ==================================
::-webkit-input-placeholder {
   color: $lightgrey;
}

:-moz-placeholder {
   color: $lightgrey;  
}

::-moz-placeholder {
   color: $lightgrey;  
}

:-ms-input-placeholder {  
   color: $lightgrey;  
}

select {
  background-color: white;
  background-image: url("https://s3-us-west-2.amazonaws.com/advisorconnect/images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 96% 50%;
  overflow: hidden;
  border: 1px solid $border;
  border-radius: 4px;
  height: 40px;
  appearance: none;
  padding: 0 40px 0 10px;
  &:hover {
    border-color: darken($border, 10%);
  }
  &:active, &:focus {
    outline: none;
  }
}



// Global ==================================
* {
  font-family: $sans;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $black;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

hr {
  border-color: transparent;
  border-top: 1px solid $border;
  display: block;
  margin: 20px 0;
}

.face {
  display: block;
  height: 40px;
  width: 40px;
  background-size: cover;
  border-radius: 4px;
}

.card {
  background: white;
  border: 1px solid $border;
  .card-header {
    background-color: $offwhite;
    border-bottom: 1px solid $border;
    height: 80px;
    h4 {
      margin: 0;
      padding: 0 30px;
      line-height: 80px;
    }
  }
  .card-body {
    padding: 30px;
  }
  td {
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-bottom: 1px solid $border;
  }
  tr:last-child td {
    border: none !important;
  }
}

.name {
  font-weight: bold;
  font-size: 24px;
  color: $black;
}

.job {
  font-size: 16px;
  color: $grey;
}

.tags {
  margin-top: 10px;
  font-size: 12px;
  span {
    display: inline-block;
    font-weight: 600;
    border-bottom: 1px solid;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.contact-links {
  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: $blue;
    border: 1px solid;
    border-radius: 3px;
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    &.financial {
      background-image: url(https://s3-us-west-2.amazonaws.com/advisorconnect/images/icons/blue/financial-blue.png);
    }
    &.facebook {
      background-image: url(https://s3-us-west-2.amazonaws.com/advisorconnect/images/icons/blue/facebook-blue.png);
    }
    &.linkedin {
      background-image: url(https://s3-us-west-2.amazonaws.com/advisorconnect/images/icons/blue/linkedin-blue.png);
    }
    &.twitter {
      background-image: url(https://s3-us-west-2.amazonaws.com/advisorconnect/images/icons/blue/twitter-blue.png);
    }
    &.phone {
      background-image: url(https://s3-us-west-2.amazonaws.com/advisorconnect/images/icons/blue/phone-blue.png)
    }
    &.pinterest {
      background-image: url(https://s3-us-west-2.amazonaws.com/advisorconnect/images/icons/blue/pinterest-blue.png);
    }
    &.email {
      background-image: url(https://s3-us-west-2.amazonaws.com/advisorconnect/images/icons/blue/email-blue.png);
    }
    &.amazon {
      background-image: url(https://s3-us-west-2.amazonaws.com/advisorconnect/images/icons/blue/amazon-blue.png);
    }
    &.location {
      background-image: url(https://s3-us-west-2.amazonaws.com/advisorconnect/images/icons/blue/location-blue.png);
    }
  }
}



// Grid System ==================================
%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content:'';
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.section {
  margin: 40px auto;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @extend %clearfix;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding-right: 1rem;
  box-sizing: border-box;
  &:last-child {
    float: right;
    padding: 0 !important;
  }
}

.col-center {
  float: none !important;
  margin: 0 auto !important;
}

$colcount: 12;

@for $i from 1 through $colcount {
  .col-#{$i} {
    max-width: ((100 / $colcount) * $i) * 1%;
  }
}

$padcount: 5;

@for $i from 1 through $padcount {
  .padding-#{$i * 10} {
    padding: ($i * 10px);
  }
}



// Pages ==================================
table.manager-dashboard {
  td {
    font-size: 18px;
    font-weight: 600;
  }
  td.agent {
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      font-weight: bold;
    }
    .email {
      font-size: 10px;
      display: block;
    }
    .face {
      margin-right: 10px;
    }
  }
  .completed {
    text-align: center;
    &.yes {
      background-image: url("https://s3-us-west-2.amazonaws.com/advisorconnect/images/circle-check.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  .pending {
    text-transform: uppercase;
    font-size: 15px;
    color: $blue;
  }
}


.contact-header-card {
  background: white;
  box-shadow: 0px 4px 8px 5px rgba(0,0,0,0.04);
  border-radius: 2px;
  .contact-info {
    .face {
      border-radius: 2px 0 0 2px;
/*    width: 140px;
      height: 140px;
      margin-right: 40px; */
    }  
  }  
}

.network-breakdown, .qualified-contacts {
   width: 100%;
  display: inline-block;
  text-align: center;

  canvas {
    margin: 0 10px 0;
  }

  h4 {
    width: 40%;
    margin: 5px;
    vertical-align: top;
    display: inline-block;
  }
}

.qualified-contacts {
  
}

.potential-markets {
  [class^='market-'] {
    font-size: 28px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    display: inline-block;
    b {
      vertical-align: middle;
      display: inline-block;
      background-color: $blue;
      color: white;
      font-size: 12px;
      height: 22px;
      line-height: 24px;
      padding: 0 10px;
      border-radius: 100px;
    }
  }
  
  $market-colors: (1, $market-color-1),
                  (2, $market-color-2),
                  (3, $market-color-3),
                  (4, $market-color-4),
                  (5, $market-color-5),
                  (6, $market-color-6),
                  (7, $market-color-7);

  @each $market-colors, $color in $market-colors {
    .market-#{$market-colors} {
      border-color: $color;
    }
  }
}

.filters {
  b {
    color: $grey;
    margin-right: 10px;
  }  
  span {
    margin-right: 10px;
  }
}

.search {
  position: relative;
  text-align: right;
  width: 100%;
  input[type="search"] {
    box-sizing: border-box;
    width: 100%;
    padding: 0 60px 0 20px;
    height: 40px;
    line-height: 40px;
    border: 1px solid $border;
    border-radius: 4px;
    &:active, &:focus {
      border-color: darken($border, 10%);
      outline: none;
    }
  }
  button#search-button {
    position: absolute;
    top: 1px;
    right: 1px;
    border: none;
    /* border-left: 1px solid $border; */
    width: 50px;
    height: 40px;
    border-radius: 0 4px 4px 0;
    background: none;
    background-image: url("https://s3-us-west-2.amazonaws.com/advisorconnect/images/search.png");
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-size: 18px;
  }
}

table.network-stats {
  .text-right {
    color: $teal;
  }
}

table.contacts-table {
  .select-all-buttons {
    .button {
      height: 40px;
      line-height: 40px;
      font-size: 12px;
    }
  }
  .select-all-buttons,
  .contact-buttons {
    width: 25%;
    .button {
      width: 100%;
      padding: 0;
    }    
  }
}

.contact-info {
  position: relative;
  display: table;
  width: 100%;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  [class*="col-"] {
    display: table-cell;
    vertical-align: middle; 
    float: none;
    padding: 0;
    &:first-child {
      width: 18%;
      padding-right: 2%;
    }
    &:nth-child(2) {
      width: 50%;
    }
    &:nth-child(3) {
      width: 30%;
    }
  }
}
.name {
  font-weight: bold;
  font-size: 24px;
  span {
    display: inline;
    &.stars {
      display: inline-block;
      margin-left: 10px;
      background-position: 0 0;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 60px;
      height: 14px;
      &.one-star {
        background-image: url("https://s3-us-west-2.amazonaws.com/advisorconnect/images/one-star.png");
      }
      &.two-star {
        background-image: url("https://s3-us-west-2.amazonaws.com/advisorconnect/images/two-stars.png");
      }
      &.three-star {
        background-image: url("https://s3-us-west-2.amazonaws.com/advisorconnect/images/three-stars.png");
      }
    }
  }
}
