@import "compass/css3";
@import 'styles';

div.perma-container {
  width: 90%;
  display: block;
  margin: 0 auto;
}


div.clear {
  clear: both;
}


div.filters {
  
  h1 {
    float: left;
  }

  ul.filters {
    float: right;
    width: 366px;
    padding: 35px 0 15px;

    li {
      list-style-type: none;
      float: left;

      input {
        width: 100px;
        height: auto;
        margin: 0 5px;
        font-size: 12px;
      }

      span {
        margin-top: 10px;
        display: block;
      }
    }
  }
}

div.navbar {
  background: #525252;

  .navbar-header {
    float: none;
  }

  #header {
    padding: 20.5px 20px;
    font-family: $quick;
    text-transform: uppercase;
    font-weight: bold;

    span {
      color: #2196f3;
    }
  }

  a.navbar-brand {
    font-size: 15px;
    color: #fff;
  }

  #settings {
    position: relative;
    color: #fff;
    font-size: 15px;

    &:hover {
      div.autocomplete {
        height: 120px;
      }
    }

    div.autocomplete {
      width: 240px;
      position: absolute;
      height: 0;
      overflow: hidden;
      top: 63px;
      right: 7px;
      background: #525252;
      -webkit-transition: all 2;
      -moz-transition: all 2;
      -o-transition: all 2;
      transition: all 2;

      ul {
        display: block;
        font-size: 14px;
        margin: 0;
        padding: 0 30px;;

        li {
          display: block;
          text-transform: uppercase;
          text-align: right;
          padding: 10px 0;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}

div.signup {

  h1 {
    font-family: $quick;
    font-size: 30px;
    text-transform: uppercase;
    color: $blue;
    text-align: center;
  }

  div.well {
    padding: 30px 80px;
    float: none;
    margin: 0 auto;

    fieldset {

      legend {
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}

div.sidebar {
  float: left;
  height: 100%;
  width: 20%;

  div.inner {
    min-height: 300px;
    padding: 20px 40px;
    background: #fff;

    h3 {
      font-size: 25px;
      color: #525252;
      font-weight: 700;
      text-transform: uppercase;
    }

    ul {
      padding-left: 10px;

      li {
        font-size: 16px;
        padding: 5px;
        text-transform: uppercase;
        list-style-type: none;

        a {
          color: $darkblue;
          font-weight: 500;
          position: relative;

          span {
            width: 3px;
            background: #9E9FAE;
            display: none;
            height: 100%;
            position: absolute;
            top: 0px;
            left: -10px;
          }

          &:hover {
            color: #525252;
          }

          &.active {
            span {
              display: block;
            }
          }
        }
      }
    }
  }
}


div.items {
  float: left;
  width: 80%;
  background: #fafafa;
  padding: 50px;
  border-left: 1px solid #dedede;
}

div.stats {
  padding-bottom: 40px;
  
  h4 {
    font-size: 28px;
  }
  
  div.stat {
    width: 24%;
    display: inline-block;
    vertical-align: top;

    h5 {
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

div.results {
  width: 100%;

  div.search-box {
    padding: 10px 25px 40px;
    width: auto;

    input.search {
      width: 90%;
      float: left;
    }

    input[type='submit'] {
      float: left;
    }
  }

  h4 {
    color: $blue;
    font-size: 18px;
    margin: 0 0 15px;
    padding: 0 25px;
    text-transform: uppercase;
  }

  div.result {
    min-height: 338px;
    width: 45%;
    margin:0 2.5% 2.5%;
    float: left;
    background: #fff;
    border: 1px solid #c8c7cc;
    padding: 20px;

    h3 {
      color: $blue;
    }

    h5 {
      font-size: 15px;
    }

    a {
      margin: 4px;
      display: inline-block;
    }
  }
}


div.person {
  width: 80%;
}

div.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.8);

  div#person {
    width: 1000px;
    margin: 20px auto;
    background: #fff;
    @include box-shadow(#ccc 0 0 4px 0);
    min-height: 150px;

    div.top {
      background: #525252;
      padding: 15px 20px;
      width: auto;
      
      p {
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        font-size: 18px;
        margin: 0;
        padding: 0;
        font-family: $quick;

        a {
          float: right;
          color: #fff;
          font-size: 20px;
        }
      }
    }

    div.inner {
      padding: 20px;

      div.leftTop {
        width: 40%;
        float: left;
        margin-bottom: 20px;
      }

      div.rightTop {
        width: 60%;
        float: left;
        margin-bottom: 20px;

        div.group {
          width: 50%;
          float: left;
        }

        h4.wealth {
          font-size: 18px;
          color: #525252;
          text-transform: uppercase;
          font-weight: 400;

          span.inner {
            color: #4caf50;
            font-weight: 700;
          }
        }

        h1 {
          font-size: 18px;
          color: $darkblue;
          font-weight: 700;
          text-transform: uppercase;
          margin: 0;
          padding-top: 10px;
        }

        p {
          font-size: 15px;
        }

        button {
          margin: 0 5px 0 0;
          font-size: 12px;
          text-transform: capitalize;
          font-weight: 700;
        }
      }

      hr {
        clear: both;
        padding: 20px 0 0;
        margin: 0;
      }

      div.jobsList, div.schoolList, div.newsList, div.salaryList {
        width: 50%;
        padding: 0 5% 5%;
        float: left;

        h3 {
          font-size: 20px;
          color: $darkblue;
          font-weight: 400;
          padding: 0;
          margin: 0 0 10px;
        }

        h4 {
          font-size: 19px;
          color: #525252;
          font-weight: 700;
          text-transform: uppercase;
        }

        h5 {
          font-size: 14px;
        }
      }
    }
  }
}
