@import url(/static/css/poppins.css);
@import url(normalize.css);
@import url(hint.css);
@import "compass/css3";

// Variables, Mixins, & Helpers ==================================
$black: #16263D;
$grey: #787B80;
$background: #EEEEEE;
$offwhite: #F6F6F6;
$border: #DADFE1;
$lightgrey: #BFBFBF;
$blue: #27B4F4;
$teal: #02C2B9;
$darkblue: #3A539B;
$purple: #9F81EB;
$error: #EB143E;
$success: #6CCC48;

$market-color-1: #10164B;
$market-color-2: #1B2B7F;
$market-color-3: #3C91BE;
$market-color-4: #62BED2;
$market-color-5: #8ACDCE;
$market-color-6: #AFDCCC;
$market-color-7: #DCECC9;

$linkedin: #0076B7;

$sans: 'Poppins', sans-serif;

@mixin border-radius($border-radius) {
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
      -ms-border-radius: $border-radius;
          border-radius: $border-radius;
}

@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
     -moz-background-size: $background-size;
      -ms-background-size: $background-size;
          background-size: $background-size;
}

%centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

%bg-img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @include background-size(100%);
}

%circle-check {
  background-image: url("/static/img/circle-check.png");
  @extend %bg-img;
}

%caps {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 600;
}

.caps {
  @extend %caps;
}

a {
  color: $black;
}

.dropzone .dz-preview .dz-error-message {
    display: none;
}

// Header & Footer ==================================

$header-height: 100px;
header {
  background: white;
  height: $header-height;
  padding: 0;
  .generic-logo {
    @extend %bg-img;
    margin-top: 20px;
    width: 178px;
    height: 60px;
    background-image: url("/static/img/AC_logo.png");
  }
  .header-logo {
    @extend %bg-img;
    margin-top: 20px;
    width: 178px;
    height: 60px;
    background-image: url("/static/img/logo-lockup.png");
  }  
  .nav-right {
    height: $header-height;
    line-height: $header-height;
    font-size: 12px;
    font-weight: 600;
    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
    }
  }
  .contacts-left {    
    color: $purple;
  }
  #settings {
    position: relative;

    div.autocomplete {
      display: none;
      position: absolute;
      top: $header-height;
      right: -20px;
      border: 1px solid $border;
      border-top: 0;
      background: white;
      height: auto;
      line-height: 0;
      width: 200px;
      z-index: 4;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          padding: 5px;
          text-transform: uppercase;
          text-align: right;
          a {
            color: $blue;
            text-decoration: none;
            font-size: 12px;
            height: 40px;
            line-height: 40px;
            padding: 10px;
          }
        }
      }
    }

    &:hover {
      div.autocomplete {
        display: block;
      }
    }
  }
  a.user {
    cursor: pointer;
    color: $grey;
    position: relative;
      &:after {
      position: absolute;
      top: 8px;
      right: 0;
      margin-right: -15px;
      width: 0;
      border-top: 4px solid $grey;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0; 
    }
    .face {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}
.ui-dialog-titlebar {display:none}

div.linkedin_login_modal {
  overflow: hidden;
}

footer {
  .wrap {
    border-top: 2px solid $border;
    margin-top: 40px;
    padding: 40px 0;
  }
  .copyright {
    font-size: 12px;
    margin-bottom: 20px;
    color: $purple;
  }
  .footer-links {
    font-size: 12px;
    span {
      display: inline-block;
      margin-right: 20px;
    }
    a {
      color: $grey;
      font-weight: bold;
    }
  }
}
.subheader {
  background: $blue;
  margin-bottom: 40px;
  padding: 40px;
  color: white;
  .back-link {
    @extend %caps;
    &:before {
      content: "";      
      background-image: url("/static/img/back-arrow.png");
      height: 10px;
      width: 10px;
      margin-right: 10px;
      display: inline-block;
      @extend %bg-img;
    }
  }
  h2 {
    margin: 0;
  }
  .subnav {    
    ul {
      margin: 0;
      list-style: none;
      text-align: right;
      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-left: 10px;
        a, button {
          border: 2px solid;
          background-color: transparent;
          @include border-radius(100px);
          display: inline-block;
          height: 40px;
          line-height: 36px;
          padding: 0 20px;
          text-decoration: none;
          color: white;
          &.selected {
            background-color: white;
            border-color: white;
            color: $black;
          }
        }        
      }
    }
  } 
}



// Tables ==================================
table {
  width: 100%;
  background: white;
  th, td {
    padding: 10px;
    border-bottom: 1px solid $border;
  }
  th {
    background: white;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    color: $grey;
  }
}



// Tabs ==================================

.tabset {
  li {
    @extend %caps;
    background-color: $offwhite;
    color: $darkblue;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin-right: 10px;
    padding: 0 20px;
    cursor: pointer;
    &.active {
      color: $black;
      background-color: white;
    }
  }
}


// Buttons ==================================
.button {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  min-width: 100px;
  text-align: center;
  padding: 0 10px;
  color: white;
  @include border-radius(2px);
  border: none;
  box-shadow: inset 0px -1px 0px 2px rgba(0,0,0,0.10);
  &:hover {
    
  }
  &:active,&:focus {
    box-shadow: inset 0px 1px 0px 2px rgba(0,0,0,0.10);
    outline: none;
  }
  
  &.teal {
    background: $teal;
    &:hover {
      background: lighten($teal, 5%);  
    }
  }
  &.dark-blue {
    background: $darkblue;
    &:hover {
      background: lighten($darkblue, 5%);  
    }
  }
  &.white {
    background: white;
    color: $black;
    &:hover {
      background: white;  
    }
  }
  &.grey {
    background: $lightgrey;
    &:hover {
      background: lighten($lightgrey, 5%);  
    }
  }
  &.small {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
  &.linkedin {
    background: $linkedin;
  }
  &.large {
    height: 70px;
    line-height: 70px;
    font-size: 18px;
  }
  &.fluid {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}



// Checkboxes ==================================
input[type="checkbox"] {
  background: white;
  border: 1px solid $border;
  @include border-radius(1px);
}



// Tooltips ==================================

[data-hint]:after {
  background: $black;  
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  white-space: normal;
  min-width: 100px;
  text-transform: initial;
  text-align: center;
}

.hint--big:after {
  width: 200px;
}



// Forms & Inputs ==================================
::-webkit-input-placeholder {
   color: $lightgrey;
}

:-moz-placeholder {
   color: $lightgrey;  
}

::-moz-placeholder {
   color: $lightgrey;  
}

:-ms-input-placeholder {  
   color: $lightgrey;  
}

select {
  background-color: white;
  background-image: url("/static/img/select-arrow.png");
  background-repeat: no-repeat;
  background-position: 96% 50%;
  overflow: hidden;
  border: 1px solid $border;
  @include border-radius(4px);
  height: 40px;
  font-size: 13px;
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
  padding: 0 40px 0 10px;
  &:hover {
    border-color: darken($border, 10%);
  }
  &:active, &:focus {
    outline: none;
  }
}

%input {
  border: 1px solid $border;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 10px;
  @include border-radius(2px);
  &:active, &:focus {
    outline: none;
    border-color: $black;
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  @extend %input;
}

form {
  &.card {
    padding: 30px;
  }  
}

.form-group {
  margin: 20px 0;
  label {
    @extend %caps;
    margin-bottom: 5px;
  }
  input {

  }
}



// Error Messages & Toasts ==================================
%error-success {
  color: white;
  padding: 10px;
  // text-align: center;
  display: block;
  margin-bottom: 20px;
  @include border-radius(4px);
  span {
    display: block;
  }
}

.error {
  @extend %error-success;
  background-color: $error;
}
.success {
  @extend %error-success;
  background-color: $success;
}
[class*="toast--"] {
  color: white;
  padding: 20px 0;
  .wrap {
    position: relative;
  }
  .toast-message {
    width: 90%;
  }
  .toast-close {
    $toast-close: 30px;
    height: $toast-close;
    width: $toast-close;
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -($toast-close / 2);
    margin-left: -($toast-close / 2);
    font-size: $toast-close;
    line-height: $toast-close;
    font-weight: normal;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}
.toast--success {
  background-color: $success;
}
.toast--error {
  background-color: $error;
}


// Global ==================================
* {
  font-family: $sans;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-teal {
  color: $teal;
}

hr {
  border-color: transparent;
  border-top: 1px solid $border;
  display: block;
  margin: 20px 0;
}

.face {
  display: block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%; 
  @include background-size(125%);
  @include border-radius(100px);
}

.card {
  background: white;
  border: 1px solid $border;
  .card-header {
    background-color: $offwhite;
    border-bottom: 1px solid $border;
    height: 80px;
    h4 {
      margin: 0;
      padding: 0 30px;
      line-height: 80px;
    }
  }
  .card-body {
    padding: 30px;
  }
  td {
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-bottom: 1px solid $border;
  }
  tr:last-child td {
    border: none !important;
  }
}





// Grid System ==================================
%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content:'';
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.section {
  padding: 10px 0;
}

.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  @extend %clearfix;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding-right: 1rem;
  box-sizing: border-box;
  &:last-child {
    float: right;
    padding: 0 !important;
  }
}

.col-center {
  float: none !important;
  margin: 0 auto !important;
}

$colcount: 12;

@for $i from 1 through $colcount {
  .col-#{$i} {
    max-width: ((100 / $colcount) * $i) * 1%;
  }
}

$padcount: 5;

@for $i from 1 through $padcount {
  .padding-#{$i * 10} {
    padding: ($i * 10px);
  }
}



// Pages ==================================

.contacts-uploaded {
  .card-header {
    display: table;
    width: 100%;
    * {
      padding-left: 30px;
      padding-right: 30px;
      display: table-cell;
    }
    h4 {
      width: 50%;
    }
    span {
      width: 25%;
    }
  }
  table {
    td {
      &:first-child {
        width: 50%;
        img {
          max-width: 40px;
        }
        * {
          vertical-align: middle;
        }
        img {
          margin-right: 10px;
        }
      }
      &:nth-child(2)
      &:nth-child(3) {
        width: 25%;
      }
    }
    tr.not-uploaded * {
      font-weight: normal !important;
      color: $lightgrey !important;
    }
  }
}


// Manager Dashboard ==================================

.manager-team-metrics {
  margin-bottom: 20px;
  .metric-block {
    display: block;    
    padding: 20px 10px;
    background-color: white;
    @include border-radius(4px);
    text-align: center;
    h2 {
      color: $teal;
      margin: 0;
    }
    .caps {
      color: $grey;
    }
  }
}
.manager-dashboard {
  th, td {
    text-align: center;
    &:first-child {
      text-align: left;
    }
  }
  th {
    font-size: 14px;
  }
  td {
    font-size: 18px;
    font-weight: 600;
  }
  td.agent {
    width: 300px;
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      font-weight: bold;
    }
    .email {
      display: block;
      font-size: 10px;
      font-weight: 600;
      display: block;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .face {
      margin-right: 10px;
    }
  }
  .completed {
    text-align: center;
    &.yes {
      @extend %circle-check;
      @include background-size(auto);
    }
  }
  .pending {
    text-transform: uppercase;
    font-size: 15px;
    color: $blue;
  }
}



// Network Summary (Agents) ==================================

.agent-header {
  padding: 10px;
  display: table;
  width: 100%;
  .pic ,
  .agent-info,
  .contact-links {
    display: table-cell;
    vertical-align: middle;
  }
  .pic {
    width: 100px;
    padding-right: 20px;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .name {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
  }
  .contact-links {
    text-align: right;
    // display: inline-block;
  }
}

.network-breakdown, 
.qualified-contacts {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 20px 0 40px;
  canvas {
    margin: 0 10px;
  }
  h4 {
    width: 200px;
    margin: auto;
    vertical-align: top;
    display: inline-block;
  }
}

.qualified-contacts {
  
}

.potential-markets {
  [class^='market-'] {
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    display: inline-block;
    b {
      vertical-align: middle;
      display: inline-block;
      background-color: $blue;
      color: white;
      margin-left: 5px;
      font-size: 12px;
      height: 22px;
      line-height: 24px;
      padding: 0 10px;
      @include border-radius(100px);
    }
  }
  
  $market-colors: (1, $market-color-1),
                  (2, $market-color-2),
                  (3, $market-color-3),
                  (4, $market-color-4),
                  (5, $market-color-5),
                  (6, $market-color-6),
                  (7, $market-color-7);

  @each $market-colors, $color in $market-colors {
    .market-#{$market-colors} {
      border-color: $color;
    }
  }
}

.filters {
  b {
    color: $grey;
    margin-right: 10px;
  }  
  span {
    margin-right: 10px;
  }
  .sort-abc {
    cursor: pointer;
    &.active {
      color: $blue;
    }
    &.sort-up:after {
      content: "↑";
    }
    &.sort-down:after {
      content: "↓";
    }
    &:after {
      content: "↑";
      display: inline-block;
      margin-left: 4px;
      font-size: 75%;
    }
  }
}

.search {
  position: relative;
  text-align: right;
  width: 100%;
  input[type="search"] {
    box-sizing: border-box;
    width: 100%;
    padding: 0 60px 0 20px;
    height: 40px;
    line-height: 40px;
    border: 1px solid $border;
    @include border-radius(4px);
    font-size: 13px;
    &:active, &:focus {
      border-color: darken($border, 10%);
      outline: none;
    }
  }
  button#search-button {
    position: absolute;
    top: 1px;
    right: 1px;
    border: none;
    width: 50px;
    height: 40px;
    @include border-radius(0 4px 4px 0);
    background: none;
    background-image: url("/static/img/search.png");
    background-repeat: no-repeat;
    background-position: 45% 50%;
    @include background-size(18px);
  }
}

table.network-stats {
  .text-right {
    color: $teal;
  }
}

table.contacts-table {
  .select-all-buttons {
    .button {
      height: 40px;
      line-height: 40px;
      font-size: 12px;
    }
  }
  .select-all-buttons,
  .contact-buttons {
    width: 25%;
    .button {
      width: 100%;
      padding: 0;
    }    
  }
}


// Contacts Card ==================================

.contact-info {
  position: relative;
  display: table;
  width: 100%;
  .pic {
    display: table-cell;
    vertical-align: top;
    padding-right: 20px;    
    img {
      width: 150px;
      height: 150px;
      @include border-radius(4px);
    }
  }
  .main-info {
    display: table-cell;
  }
  .name {
    font-weight: 600;
    font-size: 22px;
    span {
      display: inline;
      &.stars {
        display: inline-block;
        margin-left: 10px;        
        width: 95px;
        height: 14px;
        @extend %bg-img;
        &.one-star {
          background-image: url("/static/img/one-star.png");
        }
        &.two-star {
          background-image: url("/static/img/two-stars.png");
        }
        &.three-star {
          background-image: url("/static/img/three-stars.png");
        }
        &.four-star {
          background-image: url("/static/img/four-stars.png");
        }      
        &.five-star {
          background-image: url("/static/img/five-stars.png");
        }      
      }
    }
  }
  .job {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .location {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.tags {
  margin-top: 10px;
  font-size: 12px;
  a {
    color: $black;
    cursor: pointer;
  }
  span {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 4px;
    background-color: lighten($blue, 38%);
    @include border-radius(2px);
    &:hover {
      background-color: lighten($blue, 28%);
    }
  }
}

.contact-links {
  margin: 10px 0;
  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: $blue;
    border: 1px solid;
    @include border-radius(3px);
    @extend %bg-img;
    &.financial {background-image: url("/static/img/social/financial-blue.png");}
    &.facebook {background-image: url("/static/img/social/facebook-blue.png");}
    &.linkedin {background-image: url("/static/img/social/linkedin-blue.png");}
    &.twitter {background-image: url("/static/img/social/twitter-blue.png");}
    &.phone {background-image: url("/static/img/social/phone-blue.png")}
    &.pinterest {background-image: url("/static/img/social/pinterest-blue.png");}
    &.soundcloud {background-image: url("/static/img/social/soundcloud-blue.png");}    
    &.slideshare {background-image: url("/static/img/social/slideshare-blue.png");}    
    &.plus {background-image: url("/static/img/social/google-plus-blue.png");}               
    &.angel {background-image: url("/static/img/social/angellist-blue.png");}     
    &.foursquare {background-image: url("/static/img/social/foursquare-blue.png");}       
    &.github {background-image: url("/static/img/social/github-blue.png");}          
    &.flickr {background-image: url("/static/img/social/flickr-blue.png");}
    &.tumblr {background-image: url("/static/img/social/tumblr-blue.png");}
    &.goodreads {background-image: url("/static/img/social/goodreads-blue.png");}
    &.email {background-image: url("/static/img/social/email-blue.png");}
    &.amazon {background-image: url("/static/img/social/amazon-blue.png");}
    &.location {background-image: url("/static/img/social/location-blue.png");}
  }
}


div.pagination {
  width: 100%;
  display: block;
  margin: 20px auto;
  border: 1px solid #eee;
  padding: 0;

  a {
    margin: 0;
    display: inline-block;
    cursor: pointer;
    padding: 15px 20px;
    border-right: 1px solid #eee;
    color: #3084CE;
  }

  a.active {
    background: #fff;
  }
}

#connections {
  position: relative;
}

// p200 Page ==================================

.p200-actions {
  .button {
    display: block;
    float: left;
    margin-right: 10px;
  }
}


// Onboarding ==================================

.onboard-header {
  padding: 30px 0 0;
  display: none;

  @extend %clearfix;
  .face, h1, .contact-count {
    float: left;
  }
  .face {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }
  .contact-count {
    float: right;
    border: 1px solid $teal;
    color: $teal;
    background: white;
    display: inline-block;
    display: none;
    padding: 1rem;
    @include border-radius(4px);
    * {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      margin-right: .5rem;
    }
  }
}

.onboarding {
  #step-2, #step-3, #step-4 {
    display: none;
  }
}

.wizard {
  @extend .card;
  margin-bottom: -1px;
  ol {
    display: table;
    width: 100%;
    li {
      display: table-cell;
      position: relative;
      counter-increment: slideNum;
      padding-left: 3rem;
      &::before {
        content: "" counter(slideNum) "";
        display: block;
        background: $purple;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        @include border-radius(100%);
      }
      label {
        margin: 0;
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: .1rem;
        text-transform: uppercase;
        color: $grey;
      }
      p {
        margin: 0;
      }
      &.complete {
        &:before {
          background-color: transparent;
          @extend %circle-check;
          content: " ";
        }
      }
      &.idle {
        * {
          color: $border;
        }
        &:before {
          background-color: $border;
        }
      }
    }
  }
}

.onboard {
  margin: 2rem 0;
}
.onboard-body {
  @extend .card;
  padding: 2rem;
}
.onboard-footer {
  @extend .card;
  margin-top: -1px;
  padding: 1rem;
  text-align: right;
  small {
    color: $grey;
    margin-right: 2rem;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
  .button {
    
  }
}

.note {
  @extend .card;
  padding: 1rem 1rem 3rem;
  color: $grey;
  h2 {
    color: initial;
  }
  p {
    
  }
  small {
    display: block;
  }
  img {
    max-width: 100%;
    width: 100%;
    margin: 2rem 0;
  }
}

.get-contacts {  
  width: 100%;
}

.connect-email {
  margin-bottom: 20px;
  padding: 20px;    
  display: block;
  border: 1px solid $border;
  img {
    width: 60px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    vertical-align: middle;
  }
  .connected_area {
    display: block;
  }
  .connected {
    margin: 20px 0 0;
    color: $grey;
    font-size: 12px;
    &:before {
      display: inline-block;
      content: "";
      width: 20%;
      height: 20%;      
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
      margin-right: .5rem;
      @extend %circle-check;
    }
  }
}

.icon-linkedin {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  background-image: url("/static/img/onboarding/linkedin-icon.png");
  @extend %bg-img;
}

.onboard-signin {
  margin-top: 2rem;
  .button {
    margin-bottom: 2rem;
  }
}

form.dropzone {
  position: relative;
  background-color: white;
  text-align: center;
  font-size: normal;
  padding: 120px 20px 60px;
  margin: 0;
  color: $grey;
  border: 2px dashed $border;
  @include border-radius(8px);
  cursor: pointer;
  &:before {
    position: absolute;
    top: 30px;
    left: 50%;
    content: "";
    display: block;
    width: 100px;
    height: 75px;
    margin-left: -50px;
    background-image: url("/static/img/onboarding/upload-icon.png");
    @extend %bg-img;
  }
  .dz-default.dz-message {
    text-align: center;
    span {
      font-size: 20px;
      color: $teal;
      &:before, &:after {
        text-align: center;
        display: block;
        font-size: 15px;
        margin: 10px 0;
      }
      &:before {
        content: "Upload Area"
      }      
      &:after {
        content: "Or click here to upload your file";
      }
    }
  }
  
  .dz-preview { // Upload Preview
    border-top: 1px solid $border;
    margin-top: 20px;
    padding-top: 20px;
    .dz-details {
      margin-bottom: 10px;
      .dz-filename * {
        font-family: monospace;
      }
    }
    &.dz-file-preview {} 
    &.dz-error {}
    &.dz-complete {}
    
    .dz-progress { // Progress Bar
      span.dz-upload {

      }
    }
    .dz-error-message {
      @extend .error;
    }
    .dz-success-message {
      @extend .success;
    }
  }
  
  .dz-image, 
  .dz-success-mark,
  .dz-error-mark,
  .dz-size {
    display: none;
  }
  
  &.dz-drag-hover { // Drag Hover
    border: 2px solid $border;
  }

  
  &.dz-started { // Upload Started

  }

  &.dz-error {
    border-color: $error;
  }

  &.dz-success {
    border-color: $success;
  }
  

}

$modal-width: 800px;

.ui-dialog {
  top: 30% !important;
  left: 50% !important;
  margin-left: -($modal-width / 2) !important;
  width: $modal-width !important;
  display: block !important;
  z-index: 101 !important;
  position: absolute !important;
  padding: 0 !important;
  @include border-radius(0 !important);

  @media only screen and (max-width: 800px) {
    width: 90% !important;
    margin: 10px auto !important;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
  }
}

#linkedin_login_modal {
  padding: 0 !important;
  height: 500px !important;
  display: block !important;
  width: 100% !important;
  iframe {
    border: 0px;
    overflow: hidden;
    padding: 0;
  }

}

#linkedin_password_form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  form.card {
    width: 100%;
    height: 100%;
    border: none;
  }
  input {
    height: 50px !important;
  }
}


// Progress & Loading Indicators ==================================

$spinner: 100px;
$progress: 400px;
.overlay {
  display: none; // USE JS TO SHOW OVERLAYS
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  z-index: 9998;
  dialog {
    display: block;
    border: none;
    z-index: 9999;
    margin: 0;
    @include border-radius(4px); 
    @extend %centered;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

#spinner {
  dialog {
    width: $spinner;
    height: $spinner;
  }
}

#progress {
  dialog {
    width: $progress;
    height: auto;
    padding: ($progress / 8);
    .progress-bar {
      width: 100%;
    }
    small {
      font-weight: normal;
      color: $teal;
    }
  }
}

$progress-bar: 15px;
.progress-bar {
  @include border-radius(100px);
  background: $border;
  position: relative;
  height: $progress-bar;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: auto;
    height: $progress-bar;
    background: $teal;    
    animation: grow-bar 35s ease-in;

  }
}

@-webkit-keyframes grow-bar {
  0%   { width: 0%; }
  100% { width: 100%; }
}
@-moz-keyframes grow-bar {
  0%   { width: 0%; }
  100% { width: 100%; }
}
@-o-keyframes grow-bar {
  0%   { width: 0%; }
  100% { width: 100%; }
}
@keyframes grow-bar {
  0%   { width: 0%; }
  100% { width: 100%; }
}




// Auth, Invite, Signup Pages ==================================

.signup {
  width: 50%;
  max-width: 800px;
  min-width: 400px;
  @extend %centered;
  .card {
    padding: 30px;
  }
}

.accept-terms {
  margin-left: 10px;
}

.flashed-messages {
  margin: 40px auto;
}
