.idea/
*.dump
*.sql
*.iml
*.log
out/**
supervisor/
.gitignore
node_modules/
docker-build-and-run.sh
docker-machine-down.sh
docker-machine-up.sh
BaseDockerImage/
GOOGLE/Dockerfile
docker-compose.yml
out/
demo/
.git/