migrations/env.py
userdir/
metastore_db/
metastore_db/*
temp_data/
migrations/
*.dump
selenium/
kombu/
nohup.out
training_data/
.sass-cache/
prime/static/.webassets-cache/
prime/static/js/build/.module/
prime/static/js/build/.module-cache/
prime/static/css/gen/
node_modules/
*.pem
list.txt
share/
vars.sh
lib/
bin/
.Python
*.pyc
*.db
include
*.swp
.idea
*.DS_Store
*.iml
out/
.DS_Store/
*.log
