/migrations/
nohup.out
consume/nohup.out
migrations/versions/
training_data/
migrations/
.sass-cache/
prime/static/.webassets-cache/
prime/static/js/build/.module/
prime/static/js/build/.module-cache/
prime/static/css/gen/
data/
*.pem
list.txt
share/
vars.sh
lib/
bin/
.Python
*.pyc
*.db
include
*.swp
.idea
.DS_Store
*.iml
