{% extends 'email.html' %}
{% block content %}
{%if not agent.account_created %}
<h1>Invitation from {{ inviter }}</h1>
{%else%}
<h1>Re-Invitation from {{ inviter }}</h1>
{%endif%}
<p>Dear {{ agent.first_name }},</p>
<br>
{%if not agent.account_created %}
<p>I’m pleased to invite you to complete an analysis of your network as part of our Project 200 initial market development process.  You’ll be asked to connect your accounts using the AdvisorConnect platform to better understand your current network (for example, key information such as occupation and industry information).  Remember that the more accounts you connect, the more valuable this tool will be to your marketing and prospecting efforts.</p>
{%else%}
<p>I’m re-inviting you to complete an analysis of your network as part of our Project 200 initial market development process. Please connect additional accounts using the AdvisorConnect platform.  Remember that the more accounts you connect, the more valuable this tool will be to your marketing and prospecting efforts.</p>
{%endif%}
<br>
{%if not agent.account_created %}
    <p><a style='background: #3A539B;padding: 15px 50px;margin: 20px auto;font-weight: bold;text-transform: uppercase; color:#fff;text-decoration:none;' href='{{ base_url }}/auth/signup?code={{ code }}'>Complete your Network Analysis</a></p>
    <br>
    <p>You can also cut and paste the following link into your browser:<br><a href='{{ base_url }}/auth/signup?code={{ code }}'>{{ base_url }}/auth/signup?code={{ code }}</a></p>
{%else%}
    <p><a style='background: #3A539B;padding: 15px 50px;margin: 20px auto;font-weight: bold;text-transform: uppercase; color:#fff;text-decoration:none;' href='{{ base_url }}/auth/login'>Re-submit your Network Analysis</a></p>
    <br>
    <p>You can also cut and paste the following link into your browser:<br><a href='{{ base_url }}/auth/login'>{{ base_url }}/auth/login</a></p>
{%endif%}
<br>
<p>After uploading your contacts, you’ll be able to view a summary analysis of your network.  {{ inviter }} will only receive a summary of your network.  None of your contacts’ personal information (including contact information) will be shared with {{ inviter }}. </p>
<br>
{%if agent.manager.phone %}
<p>If you have any questions, please call or email me.</p>
{%else%}
<p>If you have any questions, please email me.</p>
{%endif%}
<br>
<p>Sincerely,</p>
<br>
<p style='font-family: cursive;'>{{ agent.manager.user.first_name }} {{ agent.manager.user.last_name }}</p>
<br>
<p>{{ agent.manager.title }}</p>
{%if agent.manager.address is not none %}
<p>{{ agent.manager.address_1 }}</p>
<p>{{ agent.manager.address_2 }}</p>
{%endif%}
{%if agent.manager.phone %}
<p>{{ agent.manager.phone }}</p>
{%endif%}
<p>{{ agent.manager.user.email }}</p>
{% endblock %}
