{% extends 'email.html' %}
{% block content %}
<h1>Invitation from New York Life</h1>
<p>Dear {{ agent.first_name }},</p>
<br>
<p>I’m pleased to invite you to complete an analysis of your network as part of our Project 200 initial market development process.  You’ll be asked to connect your accounts using the AdvisorConnect platform to better understand your current network (for example, key information such as occupation and industry information).  Remember that the more accounts you connect, the more valuable this tool will be to your marketing and prospecting efforts.</p>
<br>
<p><a style='background: #4EB34E;padding: 15px 50px;margin: 20px auto;font-weight: bold;text-transform: uppercase; color:#fff;text-decoration:none;' href='{{ base_url }}/auth/signup?code={{ code }}'>Click here to complete your Network Analysis</a></p>
<br>
<p>You can also cut and paste the following link into your browser:<br><a href='{{ base_url }}/auth/signup?code={{ code }}'>{{ base_url }}/auth/signup?code={{ code }}</a></p>
<br>
<p>After uploading your contacts, you’ll be able to view a summary analysis of your network.  New York Life will only receive a summary of your network.  None of your contacts’ personal information (including contact information) will be shared with New York Life. </p>
<br>
{%if manager.phone %}
<p>If you have any questions, please call or email me.</p>
{%else%}
<p>If you have any questions, please email me.</p>
{%endif%}
<br>
<p>Sincerely,</p>
<br>
<p style='font-family: cursive;'>{{ manager.user.first_name }} {{ manager.user.last_name }}</p>
<br>
<p>{{ manager.title }}</p>
{%if manager.address is not none %}
<p>{{ manager.address_1 }}</p>
<p>{{ manager.address_2 }}</p>
{%endif%}
{%if manager.phone %}
<p>{{ manager.phone }}</p>
{%endif%}
<p>{{ manager.user.email }}</p>
{% endblock %}
