{% extends 'email.html' %}
{% block content %}
<h1>A new Network Analysis is ready for {{ name }}</h1>
<br/>
<p><a style='background: #3A539B;padding: 15px 50px;margin: 20px auto;font-weight: bold;text-transform: uppercase; color:#fff;text-decoration:none;' href='{{ url }}/managers/agent/{{ agent_id }}'>View the Network Analysis</a></p>
<br>
<p>You can also cut and paste the following link into your browser:<br><a href='{{ url }}/managers/agent/{{ agent_id }}'>{{ url }}/managers/agent/{{ agent_id }}</a></p>
<br>
<br/>
{% endblock %}
