{% extends 'email.html' %}
{% block content %}
<h1>Your P200 is ready for Export</h1>
<br>
<p>Your manager has approved your p200. To view the p200 and export it, click below:</p>
<br>
<p><a style='background: #4EB34E;padding: 15px 50px;margin: 20px auto;font-weight: bold;text-transform: uppercase; color:#fff;text-decoration:none;' href='{{ base_url }}/p200'>View your P200</a></p>
<br>
<p>You can also cut and paste the following link into your browser:<br><a href='{{ base_url }}/p200''>{{ base_url }}/p200'</a></p>
<br>
<p>Sincerely,</p>
<br>
<p style='font-family: cursive;'>Support at Advisorconnect</p>
<br>
{% endblock %}
