{% extends 'email.html' %}
{% block content %}
<h1>Advisorconnect Password Reset</h1>
<p>Please click the link below to reset your password</p>
<br/>
<p><a style='background: #3A539B;padding: 15px 50px;margin: 20px auto;font-weight: bold;text-transform: uppercase; color:#fff;text-decoration:none;' href='{{ base_url }}/auth/signup?code={{ code }}&reset=yes'>Reset Password</a></p>
<br>
<p>You can also cut and paste the following link into your browser:<br><a href='{{ base_url }}/auth/signup?code={{ code }}&reset=yes'>{{ base_url }}/auth/signup?code={{ code }}&reset=yes</a></p>
<br>
<p>Sincerely,</p>
<br>
<p style='font-family: cursive;'>Support at AdvisorConnect</p>
<br>
{% endblock %}
