{% extends 'email.html' %}
{% block content %}
<h1>p200 Submission from {{ agent.first_name }}</h1>
<br>
<p>{{ agent.first_name }} has submitted their P200. To view the P200 and approve it, click below:</p>
<br>
<p><a style='background: #3A539B;padding: 15px 50px;margin: 20px auto;font-weight: bold;text-transform: uppercase; color:#fff;text-decoration:none;' href='{{ base_url }}/p200/{{ agent.user_id }}'>{{ agent.first_name }}'s P200</a></p>
<br>
<p>You can also cut and paste the following link into your browser:<br><a href='{{ base_url }}/managers/p200/{{ agent.user_id }}'>{{ base_url }}/p200/{{ agent.user_id }}</a></p>
<br>
<p>Sincerely,</p>
<br>
<p style='font-family: cursive;'>Support at AdvisorConnect</p>
<br>
{% endblock %}
