<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>AdvisorConnect</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    {% assets "css_all" %}
      <link rel='stylesheet' href="{{ ASSET_URL }}">
    {% endassets %}

    <link rel='shortcut icon' href='/favicon.ico' />
    <link rel='apple-touch-icon' href="">

    <meta name='title' content='' />
    <meta name='description' content='' />
    <meta name='keywords' content='' />

    <!-- Google Site Verification -->
    <meta name='google-site-verification' content="" />

    <!-- Facebook Open Graph -->
    <meta property="fb:admins" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="fb:page_id" content="" />

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/react-with-addons-0.12.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:   77kimruenyqspn
        authorize: true
        onLoad: onLinkedInLoad
    </script>
  </head>
  <body>
  <header>
    <div class="wrap">
      <div class="col-6">
        <div class="header-logo"></div>
      </div>
      <div class="col-6">
        {% if current_user.is_authenticated() %}
        <div class="nav-right text-right">
          {% if not current_user.is_manager and current_user.p200_completed %}
          <span><div class="contacts-left">300 Contacts Left</div></span>
          {% endif %}
          <span><div id='settings'><a class="user">{{ current_user.name }}</a>
              <div class='autocomplete'>
                <ul>
                  <li><a href='/auth/logout'>Logout</a></li>
                </ul>
              </div>
            </div>
          </span>
          <span style="background-image:url({{ current_user.image }})" class="face"></span></div>
        {% endif %}
      </div>
    </div>
  </header>
    {% block content %}{% endblock %}
    </body>
</html>

