{% extends 'base.html' %}
{% block content %}
<div class='items'>
  <div class='welcome'>
    <h1>Your Saved Prospects</h1>
    <p>Add prospects to a list to export with contact information and track your performance.</p>
    <div class='wrapper'>
      <ul class='tabs'>
        <li><a href='/dashboard'>Your Dashboard</a><li>
        <li class='active'><a>Saved Prospects</a><li>
      </ul>
    </div>
  </div>
  <div id='clients' class='padding'>
  </div>
</div>
<script src="/static/js/chart.js" type="text/javascript"></script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script src="/static/js/build/clientList.js" type="text/javascript"></script>
{% endblock %}
