{% extends 'base.html' %}
{% block content %}
{% with header="Build My Project 200" %}
{% include "_partials/agent_header.html" %}
{% endwith %}
<!-- Contacts Table-->
<div class="section" data-step="1" data-intro="Welcome back!  To help you build your Project 200, you can sort your contacts using the filters or you can search by name.">
  <div class="wrap">
    <div class="col-12">
      <div class="filters">
        <span class="filter--search">
          <input type="search" name='search-box' id='search-box' placeholder="Search By Name"/>
          <button id="search-button"></button>
        </span>        
        <span class="filter--stars">
          <select name='stars'>
            <option value=''>Any Rating</option>
            <option value='5'>Five Stars</option>
            <option value='4'>Four Stars</option>
            <option value='3'>Three Stars</option>
            <option value='2'>Two Stars</option>
            <option value='1'>One Star</option>
          </select>
        </span>
        <span class="filter--market">
          <select name='market' id='market'>
            <option value=''>Any Industry</option>
            {% for industry in agent.industries() %}
            <option value='{{ industry[0] }}'>{{ industry[0] }}</option>
            {% endfor %}
          </select>
        </span>
        <span class="filter--state">
          <select name='state' id='state'>
            <option value=''>Any State</option>
            {% for state in agent.states() %}
            <option value='{{ state[0] }}'>{{ state[0] }}</option>
            {% endfor %}
          </select>
        </span>        
        <span class="filter--age">
          <select name='age' id='age'>
            <option value=''>Any Age</option>
            <option value='1'>Young Professionals (21-45)</option>
            <option value='2'>Pre-Retirees (45-60)</option>
            <option value='3'>Retirees (60+)</option>
          </select>
        </span>
      </div>
      <div class="filter--abc" style="display:none;">
        <b data-sort='a-z' class="active">A</b>
        <b data-sort='a-z'>B</b>
        <b data-sort='a-z'>C</b>
        <b data-sort='a-z'>D</b>
        <b data-sort='a-z'>E</b>
        <b data-sort='a-z'>F</b>
        <b data-sort='a-z'>G</b>
        <b data-sort='a-z'>H</b>
        <b data-sort='a-z'>I</b>
        <b data-sort='a-z'>J</b>
        <b data-sort='a-z'>K</b>
        <b data-sort='a-z'>L</b>
        <b data-sort='a-z'>M</b>
        <b data-sort='a-z'>N</b>
        <b data-sort='a-z'>O</b>
        <b data-sort='a-z'>P</b>
        <b data-sort='a-z'>Q</b>
        <b data-sort='a-z'>R</b>
        <b data-sort='a-z'>S</b>
        <b data-sort='a-z'>T</b>
        <b data-sort='a-z'>U</b>
        <b data-sort='a-z'>V</b>
        <b data-sort='a-z'>W</b>
        <b data-sort='a-z'>X</b>
        <b data-sort='a-z'>Y</b>
        <b data-sort='a-z'>Z</b>
      </div>        
    </div>
  </div>
</div>
<hr/>
<div class="section" id='connections-section'>
  <div class="wrap" id='connections'>
<!--     {% if not current_user.is_manager and current_user.p200_completed %}
      <div class="contacts-left" id="contacts-left">{{ current_user.p200_count }} Contacts Selected</div>
    {% endif %} -->
    {% include "_partials/connections_table.html" %}
  </div>
</div>

{% include "_partials/search_script.html" %}
{% if not current_user.intro_js_seen %}
{% include "_partials/intro.html" %}
{% endif %}
{% endblock %}
