{% extends 'base.html' %}
{% block content %}
{% include "_partials/agent_header.html" %}
<!-- Contacts Table-->
<div class="section">
  <div class="wrap">
    <div class="col-8">
      <div class="filters"><b>Filters:</b><span>
          <select name='stars'>
            <option value=''>Any Rating</option>
            <option value='1'>Three Stars</option>
            <option value='2'>Two Stars</option>
            <option value='3'>One Star</option>
        </select></span><span>
          <select name='market'>
            <option value=''>Any Market</option>
            {% for industry in agent.industries %}
            <option value='{{ industry[0] }}'>{{ industry[0] }}</option>
            {% endfor %}
          </select>
      </span></div>
    </div>
    <div class="col-4">
      <div class="search">
        <input type="search" name='search-box' placeholder="Search Contacts"/>
        <button id="search-button"></button>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="section" id='connections-section'>
  <div class="wrap" id='connections'>
    <table class="contacts-table">
      <thead>
        <th>
          <input name='select-all' type="checkbox" />
        </th>
        <th>Add Selected Contacts</th>
        <th class="select-all-buttons">
          <div class="wrap">
            <div class="col-6">
              <button id='add-all' class="button teal">Add Selected</button>
            </div>
            <div class="col-6">
              <button id='skip-all' class="button grey">Skip Selected</button>
            </div>
          </div>
        </th>
      </thead>
      <tbody>
      {% if connections.count() > 0 %}
      {% for connection in connections %}
      <tr data-row='{{ connection.id }}'>
        <td>
          <input class='connection-checkbox' data-connection-id='{{ connection.id }}' type="checkbox" />
        </td>
        <td>
          <div class="contact-info">
            <div class="col-2"><img src='{{ connection.image }}' /></div>
            <div class="col-6">
              <div class="name"> <span>{{ connection.name }}</span><span class="stars {{ connection.stars_display }}"></span></div>
              <div class="job">{{ connection.linkedin_headline }}</div>
              <div class="tags">
                {% for tag in connection.tags %}<span>{{ tag }}</span>{% endfor %}
              </div>
            </div>
            <div class="col-4">
              <div class="contact-links">
                <a href="#" data-tooltip="25 Financial Services Contacts" class="financial"></a>
                {% if connection.facebook %}
                <a href="{{ connection.facebook }}" class="facebook" data-tooltip="{{ connection.facebook }}"></a>
                {% endif %}
                {% if connection.linkedin %}
                <a href="{{ connection.linkedin }}" class="linkedin" data-tooltip="{{ connection.linkedin }}"></a>
                {% endif %}
                {% if connection.twitter %}
                <a href="{{ connection.twitter }}" class="twitter" data-tooltip="{{ connection.twitter }}"></a>
                {% endif %}
                {% if connection.pinterest %}
                <a href="#" class="pinterest"></a>
                {% endif %}
                {% if connection.email_addresses %}
                <a href="#" class="email" data-tooltip="{{ connection.emails }}"></a>
                {% endif %}
                {% if connection.phone %}
                <a href="#" class="phone" data-tooltip="{{ connection.phone }}"></a>
                {% endif %}
                {% if connection.linkedin_location %}
                <a href="#" class="location"></a>
                {% endif %}
                {% if connection.amazon %}
                <a href="#" class="amazon" data-tooltip="{{ connection.amazon }}"></a>
                {% endif %}
              </div>
            </div>
          </div>
        </td>
        <td class="contact-buttons">
          <div class="wrap">
            <div class="col-6">
              <button data-add='{{ connection.id }}' class="button teal">Add</button>
            </div>
            <div class="col-6">
              <button data-skip='{{ connection.id }}' class="button grey">Skip</button>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan='3'>
            <div class="col-12">
              <div class='padding-20'>
                <div class="name"> <span>There Are currently no prospects we can show you. Please contact jeff@advisorconnect.co if this seems incorrect.</span></div>
              </div>
            </div>
          </td>
      </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
</div>
<!-- Footer-->
<footer>
  <div class="wrap">
    <div class="col-6">
      <div class="copyright">&copy; 2016 AdvisorConnect</div>
      <div class="footer-links"><span><a href="#">Help</a></span><span><a href="#">FAQs</a></span><span><a href="#">Contact</a></span><span><a href="#">About</a></span></div>
    </div>
    <div class="col-6 text-right">
      <div class="footer-logo"></div>
    </div>
  </div>
</footer>
<script type='text/javascript'>
$(function() {
   var $filter = $("[name='market']");
   var $stars = $("[name='stars']");
   var $query = $("[name='search-box']");
   $("[name='search-box']").keyup(function() {
     search()
   });

   $("[name='stars']").change(function() {
     search()
   });

   $("[name='market']").change(function() {
     search()
   });

  function search() {
     $("#connections-section").load(window.location.pathname + "?query=" + encodeURIComponent($query.val()) + "&filter=" + encodeURIComponent($filter.val()) + "&stars=" + encodeURIComponent($stars.val()) + " #connections", function() {
     });
  }

  function addConnection() {
    $("[data-add]").click(function() {
        var id = $(this).data("add");
        var params = {id: id}
        $.post("/add-connections", params, function() {
          $("[data-row=" + id + "]").slideUp();
        });
    });
  }

  function skipConnection() {
    $("[data-skip]").click(function() {
        var id = $(this).data("skip");
        var params = {id: id}
        $.post("/skip-connections", params, function() {
          $("[data-row=" + id + "]").slideUp();
        });
    });
  }

  function addAll() {
    $("#add-all").click(function() {
        var ids = $(".connection-checkbox:checked").map(function () {
          return $(this).data("connection-id");
        }).get();
        var ids = ids.join()
        var params = {id:ids, multi:true}
        $.post("/add-connections", params, function() {
          var saved = ids.split(",")
          for (var j=0;j<saved.length;j++) {
            $("[data-row='" + saved[j] + "']").slideUp();
          }
        });
    });
  }

  function skipAll() {
    $("#skip-all").click(function() {
        var ids = $(".connection-checkbox:checked").map(function () {
          return $(this).data("connection-id");
        }).get();
        var ids = ids.join()
        var params = {id:ids, multi:true}
        $.post("/skip-connections", params, function() {
          var saved = ids.split(",")
          for (var j=0;j<saved.length;j++) {
            $("[data-row='" + saved[j] + "']").slideUp();
          }
        });
    });
  }

  function selectAll() {
    $("[name='select-all']").click(function() {
        if ($(this).is(":checked")) {
          $(".connection-checkbox").prop("checked", true)
        } else {
          $(".connection-checkbox").prop("checked", false)
        }
    });
  }

   addConnection();
   skipConnection();
   addAll();
   skipAll();
   selectAll();
 });
</script>
{% endblock %}
