{% extends 'base.html' %}
{% block content %}
{% include "_partials/agent_header.html" %}
<!-- Contacts Table-->
<div class="section">
  <div class="wrap">
    <div class="col-8">
      <div class="filters"><b>Filters:</b><span>
          <select name='stars'>
            <option value=''>Any Rating</option>
            <option value='5'>Five Stars</option>
            <option value='4'>Four Stars</option>
            <option value='3'>Three Stars</option>
            <option value='2'>Two Stars</option>
            <option value='1'>One Star</option>
        </select></span><span>
          <select name='market' id='market'>
            <option value=''>Any Market</option>
            {% for industry in agent.industries %}
            <option value='{{ industry[0] }}'>{{ industry[0] }}</option>
            {% endfor %}
          </select>
      </span></div>
    </div>
    <div class="col-4">
      <div class="search">
        <input type="search" name='search-box' id='search-box' placeholder="Search Contacts"/>
        <button id="search-button"></button>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="section" id='connections-section'>
  <div class="wrap" id='connections'>
    <div class='loading'><img src='https://s3.amazonaws.com/snowpak/img/loader.gif' /></div>
    <table class="contacts-table">
      <thead>
        <th>
          <input name='select-all' type="checkbox" />
        </th>
        <th>Add Selected Contacts</th>
        <th class="select-all-buttons">
          <div class="wrap">
            <div class="col-6">
              <button id='add-all' class="button teal">Add Selected</button>
            </div>
            <div class="col-6">
              <button id='skip-all' class="button grey">Skip Selected</button>
            </div>
          </div>
        </th>
      </thead>
      <tbody>
      {% for connection in connections %}
      <tr data-row='{{ connection.prospect.id }}'>
        <td>
          <input class='connection-checkbox' data-connection-id='{{ connection.prospect.id }}' type="checkbox" />
        </td>
        <td>
          <div class="contact-info">
            <div class="col-2"><img src='{{ connection.prospect.image }}' /></div>
            <div class="col-6">
              <div class="name"> <span>{{ connection.prospect.name }}</span><span class="stars {{ connection.stars_display }}"></span></div>
              <div class="job">{{ connection.prospect.headline }}</div>
              <div class="tags">
                {% for referrer in connection.referrers %}
                  {% if referrer['referrer_connection'].startswith('Worked') %}
                    Worked with 
                  {% else %}
                    {{referrer['referrer_connection'].split(" together ")[0]}} with 
                  {% endif %}
                  <a href="/connections?query={{referrer['referrer_name']}}" class="location">
                  <span>
                    {{referrer['referrer_name']}}
                  </span> 
                  </a>
                   {% if referrer['referrer_connection'].startswith('Worked') %}
                    at {{referrer['referrer_connection'].split("Worked at ")[-1].replace(" together "," ")}}
                    {% else %}
                    {{referrer['referrer_connection'].split(" ")[-1]}}  
                    {% endif %}
                {% endfor %}
              </div>              
              <div class="tags">
                {% for tag in connection.prospect.tags %}<span>{{ tag }}</span>{% endfor %}
              </div>
            </div>
            <div class="col-4">
              <div class="contact-links">
                {% if connection.prospect.facebook %}
                <a href="{{ connection.prospect.facebook }}" class="facebook" data-tooltip="{{ connection.prospect.facebook }}"></a>
                {% endif %}
                {% if connection.prospect.linkedin %}
                <a href="{{ connection.prospect.linkedin }}" class="linkedin" data-tooltip="{{ connection.prospect.linkedin }}"></a>
                {% else %}
                <a href="{{ connection.prospect.linkedin_url }}" class="linkedin" data-tooltip="{{ connection.prospect.linkedin_url }}"></a>
                {% endif %}
                {% if connection.prospect.twitter %}
                <a href="{{ connection.prospect.twitter }}" class="twitter" data-tooltip="{{ connection.prospect.twitter }}"></a>
                {% endif %}
                {% if connection.prospect.pinterest %}
                <a href="{{ connection.prospect.pinterest }}" class="pinterest"  data-tooltip="{{ connection.prospect.pinterest }}"></a>
                {% endif %}
                {% if connection.prospect.amazon %}
                <a href="{{ connection.prospect.amazon }}" class="amazon" data-tooltip="{{ connection.prospect.amazon }}"></a>
                {% endif %}
                {% if connection.prospect.soundcloud %}
                <a href="{{ connection.prospect.soundcloud }}" class="soundcloud" data-tooltip="{{ connection.prospect.soundcloud }}"></a>
                {% endif %}         
                {% if connection.prospect.slideshare %}
                <a href="{{ connection.prospect.slideshare }}" class="slideshare" data-tooltip="{{ connection.prospect.slideshare }}"></a>
                {% endif %}    
                {% if connection.prospect.plus %}
                <a href="{{ connection.prospect.plus }}" class="plus" data-tooltip="{{ connection.prospect.plus }}"></a>
                {% endif %}          
                {% if connection.prospect.angel %}
                <a href="{{ connection.prospect.angel }}" class="angel" data-tooltip="{{ connection.prospect.angel }}"></a>
                {% endif %}         
                {% if connection.prospect.foursquare %}
                <a href="{{ connection.prospect.foursquare }}" class="foursquare" data-tooltip="{{ connection.prospect.foursquare }}"></a>
                {% endif %}      
                {% if connection.prospect.github %}
                <a href="{{ connection.prospect.github }}" class="github" data-tooltip="{{ connection.prospect.github }}"></a>
                {% endif %}       
                {% if connection.prospect.flickr %}
                <a href="{{ connection.prospect.flickr }}" class="flickr" data-tooltip="{{ connection.prospect.flickr }}"></a>
                {% endif %}                                                                                
                {% if connection.prospect.emails %}
                <a href="{{connection.prospect.mailto}}" class="email" data-tooltip="{{ connection.prospect.emails }}"></a>
                {% endif %}
                {% if connection.prospect.phone %}
                <a href="#" class="phone" data-tooltip="{{ connection.prospect.phone }}"></a>
                {% endif %}
                {% if connection.prospect.linkedin_location %}
                <a href="#" class="location"></a>
                {% endif %}

              </div>
            </div>
          </div>
        </td>
        <td class="contact-buttons">
          <div class="wrap">
            <div class="col-6">
              <button data-add='{{ connection.prospect.id }}' class="button teal">Add</button>
            </div>
            <div class="col-6">
              <button data-skip='{{ connection.prospect.id }}' class="button grey">Skip</button>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class='pagination'>
      {% for _page in range(1, pagination.pages + 1) %}
      {% if page == _page %}
      <a class='active' data-page='{{ _page }}'>{{ _page }}</a>
      {% else %}
      <a data-page='{{ _page }}'>{{ _page }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<!-- Footer-->
<footer>
  <div class="wrap">
    <div class="col-6">
      <div class="copyright">&copy; 2016 AdvisorConnect</div>
      <div class="footer-links"><span><a href="#">Help</a></span><span><a href="#">FAQs</a></span><span><a href="#">Contact</a></span><span><a href="#">About</a></span></div>
    </div>
    <div class="col-6 text-right">
      <div class="footer-logo"></div>
    </div>
  </div>
</footer>
<script type='text/javascript'>
$(function() {
   var $industry = $("[name='market']");
   var $stars = $("[name='stars']");
   var $query = $("[name='search-box']");
   var $page = 1;

   if ($industry.val()=='' && window.location.search.indexOf("industry=")>0) {
      var industry_name = window.location.search.split("industry=")[window.location.search.split("industry=").length - 1];
      document.getElementById("market").value = decodeURIComponent(industry_name);
      showLoader()
      search()      
   }

   if ($query.val()=='' && window.location.search.indexOf("query=")>0) {
      var query_name = window.location.search.split("query=")[window.location.search.split("query=").length - 1];
      document.getElementById("search-box").value = decodeURIComponent(query_name);
   } else {
      document.getElementById("search-box").value = '';
   }

   $("[name='search-box']").keyup(function() {
     delay(function(){
       showLoader()
       search()
    }, 1000 );
   });

  function bindStars() {
     $("[name='stars']").change(function() {
       showLoader()
       search()
     });
   }

   function bindMarket() {
     $("[name='market']").change(function() {
       showLoader()
       search()
     });
   }

   function bindPagination() {
     $("[data-page]").click(function() {
       showLoader()
       $page = $(this).data('page');
       search()
     });
   }

   function bindPageFunctions() {
     addConnection();
     skipConnection();
     addAll();
     skipAll();
     selectAll();
     bindStars()
     bindMarket()
     bindPagination()
   }

    var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
    })();
 

   function showLoader() {
     $(".loading").show();
   }

   function hideLoader() {
     $(".loading").fadeOut();
   }

  function search() {
     $('html, body').animate({scrollTop: "221px"});
     $("#connections-section").load(window.location.pathname + "?query=" + encodeURIComponent($query.val()) + "&industry=" + encodeURIComponent($industry.val()) + "&stars=" + encodeURIComponent($stars.val()) + "&p=" + $page + " #connections", function() {
         bindPageFunctions();
       hideLoader();
     });
  }

  function addConnection() {
    $("[data-add]").click(function() {
        var id = $(this).data("add");
        var params = {id: id}
        $.post("/add-connections", params, function() {
          $("[data-row=" + id + "]").slideUp();
        });
    });
  }

  function skipConnection() {
    $("[data-skip]").click(function() {
        var id = $(this).data("skip");
        var params = {id: id}
        $.post("/skip-connections", params, function() {
          $("[data-row=" + id + "]").slideUp();
        });
    });
  }

  function addAll() {
    $("#add-all").click(function() {
        var ids = $(".connection-checkbox:checked").map(function () {
          return $(this).data("connection-id");
        }).get();
        var ids = ids.join()
        var params = {id:ids, multi:true}
        $.post("/add-connections", params, function() {
          var saved = ids.split(",")
          for (var j=0;j<saved.length;j++) {
            $("[data-row='" + saved[j] + "']").slideUp();
          }
        });
    });
  }

  function skipAll() {
    $("#skip-all").click(function() {
        var ids = $(".connection-checkbox:checked").map(function () {
          return $(this).data("connection-id");
        }).get();
        var ids = ids.join()
        var params = {id:ids, multi:true}
        $.post("/skip-connections", params, function() {
          var saved = ids.split(",")
          for (var j=0;j<saved.length;j++) {
            $("[data-row='" + saved[j] + "']").slideUp();
          }
        });
    });
  }

  function selectAll() {
    $("[name='select-all']").click(function() {
        if ($(this).is(":checked")) {
          $(".connection-checkbox").prop("checked", true)
        } else {
          $(".connection-checkbox").prop("checked", false)
        }
    });
  }

  bindPageFunctions()
 });
</script>
{% endblock %}
