{% extends 'base.html' %}
{% block content %}
<div class="subheader">
  <div class="wrap">
    <div class="col-4">
      <h2>Summary of Brian's Network</h2>
    </div>
    <div class="col-8">
      <div class="subnav">
        <ul>
          <li><a href="#" class="selected">Selected Tab</a></li>
          <li><a href="#">Request Hiring Screen</a></li>
          <li><a href="#">Request P200</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>  
<!-- Contact Header Card-->
<div class="section">
  <div class="wrap contact-info contact-header-card">
    <table>
      <tr>
        <td>
          <div class="col-2"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"/></div>
          <div class="col-6">
            <div class="name"> <span>Justin Botelho</span><span class="stars three-star"></span></div>
            <div class="job">Infrastructure Consultant, Accenture</div>
            <div class="tags"><span>Cornell University</span><span>Accenture</span><span>Rowing</span><span>Sailing</span><span>Marketing</span></div>
          </div>
          <div class="col-4">
            <div class="contact-links"><a href="#" data-tooltip="25 Financial Services Contacts" class="financial"></a><a href="#" class="facebook"></a><a href="#" class="linkedin"></a><a href="#" class="twitter"></a><a href="#" class="pinterest"></a><a href="#" class="email"></a><a href="#" class="phone"></a><a href="#" class="location"></a><a href="#" class="amazon"></a></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- Contact Dashboard-->
<div class="section">
  <div class="wrap card">
    <div class="col-6">
      <div class="network-breakdown">
        <h1 class="text-center">Network Breakdown</h1><img src="https://s3-us-west-2.amazonaws.com/advisorconnect/images/graphs-1.png"/>
      </div>
    </div>
    <div class="col-6">
      <div class="qualified-contacts">
        <h1 class="text-center">Qualified Contacts</h1><img src="https://s3-us-west-2.amazonaws.com/advisorconnect/images/graphs-2.png"/>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="wrap">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h4>Potential Markets</h4>
        </div>
        <div class="card-body">
          <div class="potential-markets">
            <div class="market-1"><span>Real Estate</span></div>
            <div class="market-2"> <span>Financial Services </span><b>20</b></div>
            <div class="market-3"><span>Marketing</span></div>
            <div class="market-4"><span>Health Care</span></div>
            <div class="market-5"><span>Oil & Energy</span></div>
            <div class="market-6"><span>Sports</span></div>
            <div class="market-7"><span>Advertising</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h4>Network Stats</h4>
        </div>
        <table class="network-stats">
          <tr>
            <td><b>Male</b></td>
            <td>
              <div class="text-right">66%</div>
            </td>
          </tr>
          <tr>
            <td><b>Female</b></td>
            <td>
              <div class="text-right">34%</div>
            </td>
          </tr>
          <tr>
            <td><b>College Degree</b></td>
            <td>
              <div class="text-right">96%</div>
            </td>
          </tr>
          <tr>
            <td><b>Average Income Score</b></td>
            <td>
              <div class="text-right">64/100</div>
            </td>
          </tr>
          <tr>
            <td><b>Average Age</b></td>
            <td>
              <div class="text-right">32</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>  
<!-- Footer-->
<footer>
  <div class="wrap">
    <div class="col-6">
      <div class="copyright">&copy; 2016 AdvisorConnect</div>
      <div class="footer-links"><span><a href="#">Help</a></span><span><a href="#">FAQs</a></span><span><a href="#">Contact</a></span><span><a href="#">About</a></span></div>
    </div>
    <div class="col-6 text-right">
      <div class="footer-logo"></div>
    </div>
  </div>
</footer>
<script type='text/javascript'>
($(function(){

    for (var i in industries) {
      industries[i].color = randColor(colors);
      var row = $('<a href="./leads-' + industries[i].clean + '.html"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x" style="color:blue"></i><i class="fa fa-' + industries[i].icon + ' fa-stack-1x fa-inverse"></i></span></a>');
      $("h3#industry_icons").append(row);
      $("h3#industry_icons").append(industries[i].label);    
    }

    for (var i in schools) {
      schools[i].color = randColor(colors);   
    }

    for (var i in stats) {
      var row = $('<tr><td>' + stats[i].name + '</td><td>' + stats[i].value + '</td></tr>');
      $("table#network_stats").append(row);   
    }  

    var $industries = $("#industries")
    var $schools = $("#schools")
    var $connections = $("#connections")
    var connections = {
        labels:["Your Connections", "Extended", "Total"],
        datasets:[
        {
        label: "Your Connections",
        fillColor: "#0079c2",
        strokeColor: "rgba(220,220,220,0.8)",
        highlightFill: "#8dd8f7",
        highlightStroke: "#8dd8f7",
        data: [n_first_degree, n_extended, n_total]
        }]}
    var chart = new Chart($industries.get(0).getContext("2d")).Doughnut(industries, {});
    var chart = new Chart($schools.get(0).getContext("2d")).Doughnut(schools, {});
    var chart = new Chart($connections.get(0).getContext("2d")).Bar(connections, {});

    });
  
 })();
</script>
{% endblock %}
