{% extends 'base.html' %}
{% block content %}
  <header>
    <div class='wrapper'>
      <img src='../common/img/NewYorkLife.png'>
      <h2 id="chart_title"></h2>
      <a href='./leads-ln.html'><button class='button'>View Contacts</button></a>
      <div class='clear'></div>
    </div>
  </header>
  
  <header>
  <div class='wrapper' background-color='blue'>
      <h3>Your Potential Markets are:</h3>
      
      <center>
        <h3 id="industry_icons"></h3>
      </center> 
      <div class='clear'>
      </div>
      </header>

      <br>

      <div class='wrapper'>
    <div class='graphs'>
      <center><h3>Network Breakdown</h3></center>
      <div class='graph'>
        <a href="./leads-ln.html"><canvas id='industries'></canvas></a>
        <h4>Qualified Industry Contacts</h4>
      </div>
      <div class='graph'>
        <a href="./leads-extended.html"><canvas id='schools'></canvas></a>  
        <h4>Qualified School Contacts</h4>
      </div>
    </div>
    

    <div class='graphs'>
      <center><h3>Qualified Contacts</h3></center>
      <div class='big-graph'>
        <a href="./leads-ln.html"><canvas id='connections'></canvas></a>
      </div>
    </div>
    

    <div class='clear'></div>
    <div class='network-stats'>
     <br> <h3>Network Stats</h3>
      <table id="network_stats">
      </table>
    </div>
  </div>

{% endblock %}
