{% extends 'base.html' %}
{% block content %}
{% if current_user.is_manager %}
{% include "_partials/manager_header.html" %}
{% else %}
{% include "_partials/agent_header.html" %}
{% endif %}
{% include "_partials/agent_nav.html" %}
<!-- Contact Dashboard-->
<div class="section">
  <div class="wrap card">
    <div class="col-6">
      <div class="network-breakdown">
        <h1 class="text-center">Network Breakdown</h1>
        <canvas width="250px" height="300px" id='industry'></canvas>
        <canvas width="250px" height="300px" id='state'></canvas>
        <h4>Qualified Industry Contacts</h4>
        <h4>Contacts By State</h4>
      </div>
    </div>
    <div class="col-6">
      <div class="qualified-contacts">
        <h1 class="text-center">Qualified Contacts</h1>
        <canvas style='width: 500px;' width="500px" height="300px" id='connections'></canvas>
        <h4>Your Connections</h4>
        <h4>Total Connections</h4>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="wrap">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h4>Potential Markets</h4>
        </div>
        <div class="card-body">
          <div class="potential-markets">
            {% if agent.industries|length > 0 %}
            {% for industry in agent.industries %}
              <div class="market-{{ loop.index }}">
                {% if current_user.is_manager %}
                  <a>
                {% else %}
                  <a href="/connections?industry={{industry[0]}}">
                {% endif %}
                  <span>{{ industry[0] }}</span><b>{{ industry[1] }}</b>
                </a>
              </div>
            {% endfor %}
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h4>Network Stats</h4>
        </div>
        <table class="network-stats">
          <tr>
            <td><b>Male</b></td>
            <td>
              <div class="text-right">{{ agent.male_percentage }}%</div>
            </td>
          </tr>
          <tr>
            <td><b>Female</b></td>
            <td>
              <div class="text-right">{{ agent.female_percentage }}%</div>
            </td>
          </tr>
          <tr>
            <td><b>College Degree</b></td>
            <td>
              <div class="text-right">{{ agent.college_percentage }}%</div>
            </td>
          </tr>
          <tr>
            <td><b>Average Income Score</b></td>
            <td>
              <div class="text-right">{{ agent.average_income_score }}/100</div>
            </td>
          </tr>
          <tr>
            <td><b>Average Age</b></td>
            <td>
              <div class="text-right">{{ agent.average_age }}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>  
<!-- Footer-->
<footer>
  <div class="wrap">
    <div class="col-6">
      <div class="copyright">&copy; 2016 AdvisorConnect</div>
      <div class="footer-links"><span><a href="#">Help</a></span><span><a href="#">FAQs</a></span><span><a href="#">Contact</a></span><span><a href="#">About</a></span></div>
    </div>
<!--     <div class="col-6 text-right">
      <div class="footer-logo"></div>
    </div> -->
  </div>
</footer>
<script type='text/javascript' src='{{ static_url() }}js/chart.js'></script>
<script type='text/javascript'>
var colors = ['#231A80', '#2A90C0', '#4DC0D4', '#7DD0D0', '#A7DFCD', '#d8efc9', '#150B4B'];
var industries = []
var states = [];
function randColor(colors) {
  return colors[Math.floor(Math.random() * colors.length)]
}
{% for industry in agent.industries %}
industries.push({label: "{{ industry[0] }}".replace('&amp;', '&'), fillColor:"" + randColor(colors), value: {{ industry[1] }}});
{% endfor %}

{% for state in agent.states %}
states.push({label: "{{ state[0] }}", fillColor:"" + randColor(colors), value: {{ state[1] }}})
{% endfor %}


$(function(){

    for (var i in industries) {
      industries[i].color = randColor(colors);
    }

    for (var i in states) {
      states[i].color = randColor(colors);
    }

    var $industries = $("#industry")
    var $state = $("#state")
    var $connections = $("#connections")
    var connections = {
        labels:["Your Connections", "Total"],
        datasets:[
        {
        label: "Your Connections",
        fillColor: "#0079c2",
        strokeColor: "rgba(220,220,220,0.8)",
        highlightFill: "#8dd8f7",
        highlightStroke: "#8dd8f7",
        data: [{{ agent.primary_network_size }}, {{ agent.total_network_size }}]
        }]}
    var chart = new Chart($industries.get(0).getContext("2d")).Doughnut(industries, {});
    var chart = new Chart($state.get(0).getContext("2d")).Doughnut(states, {});
    var bar_options = {
      showScale: false
    }
    var chart = new Chart($connections.get(0).getContext("2d")).Bar(connections, bar_options);

 });
</script>
{% endblock %}
