{% extends 'base.html' %}
{% block content %}
<div class='wrap'>

    <h1>FAQs</h1>

    <h3>Why do you need access to my personal contacts and/or social accounts?</h3>
    <p>For us to understand if this career is the right fit for you we need to have a better understanding of your natural market and what your potential target markets are. Completing the network analysis allows us to do just that. To put your mind at ease, here’s a one pager that describes what you will need to do and on the back is an example of what I will be able to see after you complete the Network Analysis exercise. Neither I nor New York Life will have access to any of the personal contact information for your contacts.</p>
    
    <h3>Why do you need access to my email account(s)?</h3>
    <p>First, we only request access to the contact information (address book) for your email account(s). We do not see any emails or personal communications for you or any of your contacts. Additionally, we will never use any of your contacts’ information without your permission (for example, once hired, New York Life provides marketing services to help you connect with your network and announce your new career).</p>

    <p>It’s pretty safe to say that we have the closest relationships with individuals whom we communicate with the most. And since an Agent’s first sale is either a close friend or family member, by learning who the Agent communicates with the most Advisor Connect can build a profile of them will better help the Agent determine who their first phone calls should be made too.</p>

    <h3>How does AdvisorConnect use my contact data?</h3>
    <p>AdvisorConnect is able to provide valuable insights and information on your network by analyzing each of the contacts you provide. For example, while you may have only an email address for one of your contacts in your email address book, AdvisorConnect can provide additional valuable information such as updated professional, educational and social information as well as other ways to contact the person.</p>

    <h3>How many names can I upload?</h3>
    <p>There is no limit to the number of names you can upload, however we do require a minimum of 50 names in order to get the most of the AdvisorConnect technology. If you do not currently have 50 contacts in your network AdvisorConnect can help you identify additional contacts in your extended network.</p>

    <h3>What if I don’t have a LinkedIn account?</h3>
    <p>Having a LinkedIn account is not required but it is strongly encouraged since this is an important place for you to maintain your online professional identity.</p>

    <h3>What happens to the information I provide if I’m not hired?</h3>
    <p>None of the information you provide to AdvisorConnect when completing a Network Analysis is available to New York Life until after you have been hired. If you are not hired, neither New York Life nor AdvisorConnect will have access to your personal data.</p>

    <h3>Is there a cost to me?</h3>
    <p>No. New York Life currently provides the AdvisorConnect service to help support new Agent development.</p>

</div>
{% endblock %}
