{% extends 'base.html' %}
{% block content %}
<div class='overlay'>
  <div id='search-box'>
  </div>
</div>
<div class='container'>
  <div class='top-box'>
    <h5>STEP 4/4</h5>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 100%"></div>
    </div>
  </div>
  <div class='bs-docs-section confirm'>
    <div class='well col-lg-12'>
      <div class='row row-one'>
        <h1>Who Are You Looking For <div class='pull-right'><a href='/dashboard'><button class='btn btn-success'>SKIP > </button></a></div></h1>
        <p>Tell us a little about your ideal prospect.</p>
        <hr />
      </div>
      <div class='row row-one'>
        <form action='' method='POST'>
          <h4>Select Preferred Industry</h4>
          <fieldset class='margin-bottom'>
            <select class='chosen-select' multiple name='industry'>
              {% for industry in industries %}
              <option name='industry' value='{{ industry.id }}'>{{ industry.name }}</option>
              {% endfor %}
            </select>
          </fieldset>
          <h4>Select Preferred Locations</h4>
          <fieldset class='margin-bottom'>
            <select class='chosen-select' multiple name='location'>
              <option name='Greater New York City Area'>Greater New York City Area</option>
              <option name='San Francisco Bay Area'>San Francisco Bay Area</option>
              <option name='Greater Los Angeles Area'>Greater Los Angeles Area</option>
              <option name='Greater Chicago Area'>Greater Chicago Area</option>
              <option name='Washington D.C. Metro Area'>Washington D.C. Metro Area</option>
              <option name='Greater Boston Area'>Greater Boston Area</option>
              <option name='Dallas/Fort Worth Area'>Dallas/Fort Worth Area</option>
              <option name='Greater Atlanta Area'>Greater Atlanta Area</option>
              <option name='Greater Philadelphia Area'>Greater Philadelphia Area</option>
              <option name='Houston, Texas Area'>Houston, Texas Area</option>
              <option name='Greater Minneapolis-St. Paul Area'>Greater Minneapolis-St. Paul Area</option>
              <option name='Greater Seattle Area'>Greater Seattle Area</option>
              <option name='Greater Detroit Area'>Greater Detroit Area</option>
              <option name='Greater Denver Area'>Greater Denver Area</option>
              <option name='New York, New York'>New York, New York</option>
              <option name='Orange County, California Area'>Orange County, California Area</option>
              <option name='Greater San Diego Area'>Greater San Diego Area</option>
              <option name='Miami/Fort Lauderdale Area'>Miami/Fort Lauderdale Area</option>
              <option name='Cleveland/Akron, Ohio Area'>Cleveland/Akron, Ohio Area</option>
              <option name='Portland, Oregon Area'>Portland, Oregon Area</option>
              <option name='Austin, Texas Area'>Austin, Texas Area</option>
              <option name='Chicago, Illinois'>Chicago, Illinois</option>
              <option name='Raleigh-Durham, North Carolina Area'>Raleigh-Durham, North Carolina Area</option>
              <option name='Baltimore, Maryland Area'>Baltimore, Maryland Area</option>
              <option name='Tampa/St. Petersburg, Florida Area'>Tampa/St. Petersburg, Florida Area</option>
              <option name='Johannesburg Area, South Africa'>Johannesburg Area, South Africa</option>
              <option name='Charlotte, North Carolina Area'>Charlotte, North Carolina Area</option>
              <option name='Cincinnati Area'>Cincinnati Area</option>
              <option name='Columbus, Ohio Area'>Columbus, Ohio Area</option>
              <option name='Houston, Texas'>Houston, Texas</option>
              <option name='Kansas City, Missouri Area'>Kansas City, Missouri Area</option>
              <option name='Greater Pittsburgh Area'>Greater Pittsburgh Area</option>
              <option name='Orlando, Florida Area'>Orlando, Florida Area</option>
              <option name='Indianapolis, Indiana Area'>Indianapolis, Indiana Area</option>
              <option name='Greater Milwaukee Area'>Greater Milwaukee Area</option>
              <option name='Greater Nashville Area'>Greater Nashville Area</option>
              <option name='Los Angeles, California'>Los Angeles, California</option>
              <option name='Sacramento, California Area'>Sacramento, California Area</option>
              <option name='Greater Salt Lake City Area'>Greater Salt Lake City Area</option>
              <option name='San Antonio, Texas Area'>San Antonio, Texas Area</option>
              <option name='San Francisco, California'>San Francisco, California</option>
              <option name='Atlanta, Georgia'>Atlanta, Georgia</option>
              <option name='Hartford, Connecticut Area'>Hartford, Connecticut Area</option>
              <option name='Las Vegas, Nevada Area'>Las Vegas, Nevada Area</option>
              <option name='San Diego, California'>San Diego, California</option>
              <option name='Austin, Texas'>Austin, Texas</option>
              <option name='Washington, District Of Columbia'>Washington, District Of Columbia</option>
              <option name='Richmond, Virginia Area'>Richmond, Virginia Area</option>
              <option name='Seattle, Washington'>Seattle, Washington</option>
              <option name='Miami, Florida'>Miami, Florida</option>
              <option name='Jacksonville, Florida Area'>Jacksonville, Florida Area</option>
              <option name='Brooklyn, New York'>Brooklyn, New York</option>
              <option name='Philadelphia, Pennsylvania'>Philadelphia, Pennsylvania</option>
              <option name='Greater Grand Rapids, Michigan Area'>Greater Grand Rapids, Michigan Area</option>
              <option name='Rochester, New York Area'>Rochester, New York Area</option>
              <option name='West Palm Beach, Florida Area'>West Palm Beach, Florida Area</option>
              <option name='Dallas, Texas'>Dallas, Texas</option>
              <option name='Denver, Colorado'>Denver, Colorado</option>
              <option name='Greensboro/Winston-Salem, North Carolina Area'>Greensboro/Winston-Salem, North Carolina Area</option>
              <option name='Louisville, Kentucky Area'>Louisville, Kentucky Area</option>
              <option name='Providence, Rhode Island Area'>Providence, Rhode Island Area</option>
              <option name='Minneapolis, Minnesota'>Minneapolis, Minnesota</option>
              <option name='Norfolk, Virginia Area'>Norfolk, Virginia Area</option>
              <option name='Greater Memphis Area'>Greater Memphis Area</option>
              <option name='Boston, Massachusetts'>Boston, Massachusetts</option>
              <option name='Oklahoma City, Oklahoma Area'>Oklahoma City, Oklahoma Area</option>
              <option name='Charlotte, North Carolina'>Charlotte, North Carolina</option>
              <option name='Greater Omaha Area'>Greater Omaha Area</option>
              <option name='Birmingham, Alabama Area'>Birmingham, Alabama Area</option>
              <option name='Greater New Orleans Area'>Greater New Orleans Area</option>
              <option name='Madison, Wisconsin Area'>Madison, Wisconsin Area</option>
              <option name='Buffalo/Niagara, New York Area'>Buffalo/Niagara, New York Area</option>
              <option name='Albany, New York Area'>Albany, New York Area</option>
              <option name='Portland, Oregon'>Portland, Oregon</option>
              <option name='Greenville, South Carolina Area'>Greenville, South Carolina Area</option>
              <option name='San Jose, California'>San Jose, California</option>
              <option name='Dayton, Ohio Area'>Dayton, Ohio Area</option>
              <option name='Milan Area, Italy'>Milan Area, Italy</option>
              <option name='Phoenix, Arizona'>Phoenix, Arizona</option>
              <option name='Des Moines, Iowa Area'>Des Moines, Iowa Area</option>
              <option name='Tulsa, Oklahoma Area'>Tulsa, Oklahoma Area</option>
              <option name='Orlando, Florida'>Orlando, Florida</option>
              <option name='Pittsburgh, Pennsylvania'>Pittsburgh, Pennsylvania</option>
              <option name='Saint Louis, Missouri'>Saint Louis, Missouri</option>
              <option name='Indianapolis, Indiana'>Indianapolis, Indiana</option>
              <option name='Columbus, Ohio'>Columbus, Ohio</option>
              <option name='Tucson, Arizona Area'>Tucson, Arizona Area</option>
              <option name='Charleston, South Carolina Area'>Charleston, South Carolina Area</option>
              <option name='Knoxville, Tennessee Area'>Knoxville, Tennessee Area</option>
              <option name='Tampa, Florida'>Tampa, Florida</option>
              <option name='Colorado Springs, Colorado Area'>Colorado Springs, Colorado Area</option>
              <option name='Geneva Area, Switzerland'>Geneva Area, Switzerland</option>
              <option name='Cincinnati, Ohio'>Cincinnati, Ohio</option>
              <option name='Fort Lauderdale, Florida'>Fort Lauderdale, Florida</option>
              <option name='Boise, Idaho Area'>Boise, Idaho Area</option>
              <option name='Albuquerque, New Mexico Area'>Albuquerque, New Mexico Area</option>
              <option name='Jacksonville, Florida'>Jacksonville, Florida</option>
              <option name='Columbia, South Carolina Area'>Columbia, South Carolina Area</option>
              <option name='Raleigh, North Carolina'>Raleigh, North Carolina</option>
              <option name='Syracuse, New York Area'>Syracuse, New York Area</option>
              <option name='Harrisburg, Pennsylvania Area'>Harrisburg, Pennsylvania Area</option>
              <option name='Nashville, Tennessee'>Nashville, Tennessee</option>
              <option name='Milwaukee, Wisconsin'>Milwaukee, Wisconsin</option>
              <option name='Munich Area, Germany'>Munich Area, Germany</option>
              <option name='Little Rock, Arkansas Area'>Little Rock, Arkansas Area</option>
              <option name='Saint Paul, Minnesota'>Saint Paul, Minnesota</option>
              <option name='Cleveland, Ohio'>Cleveland, Ohio</option>
              <option name='Lexington, Kentucky Area'>Lexington, Kentucky Area</option>
              <option name='Toledo, Ohio Area'>Toledo, Ohio Area</option>
              <option name='Baton Rouge, Louisiana Area'>Baton Rouge, Louisiana Area</option>
              <option name='Sarasota, Florida Area'>Sarasota, Florida Area</option>
              <option name='Allentown, Pennsylvania Area'>Allentown, Pennsylvania Area</option>
              <option name='Fort Worth, Texas'>Fort Worth, Texas</option>
              <option name='Louisville, Kentucky'>Louisville, Kentucky</option>
              <option name='Salt Lake City, Utah'>Salt Lake City, Utah</option>
              <option name='Portland, Maine Area'>Portland, Maine Area</option>
              <option name='Baltimore, Maryland'>Baltimore, Maryland</option>
              <option name='Scottsdale, Arizona'>Scottsdale, Arizona</option>
              <option name='Wichita, Kansas Area'>Wichita, Kansas Area</option>
              <option name='Provo, Utah Area'>Provo, Utah Area</option>
              <option name='Tucson, Arizona'>Tucson, Arizona</option>
              <option name='Spokane, Washington Area'>Spokane, Washington Area</option>
              <option name='Richmond, Virginia'>Richmond, Virginia</option>
              <option name='Kuala Lumpur, Malaysia'>Kuala Lumpur, Malaysia</option>
              <option name='Lansing, Michigan Area'>Lansing, Michigan Area</option>
              <option name='Chattanooga, Tennessee Area'>Chattanooga, Tennessee Area</option>
              <option name='Springfield, Massachusetts Area'>Springfield, Massachusetts Area</option>
              <option name='Virginia Beach, Virginia'>Virginia Beach, Virginia</option>
              <option name='Kansas City, Missouri'>Kansas City, Missouri</option>
              <option name='Huntsville, Alabama Area'>Huntsville, Alabama Area</option>
              <option name='Sacramento, California'>Sacramento, California</option>
              <option name='Fort Wayne, Indiana Area'>Fort Wayne, Indiana Area</option>
              <option name='Omaha, Nebraska'>Omaha, Nebraska</option>
              <option name='Burlington, Vermont Area'>Burlington, Vermont Area</option>
              <option name='Bronx, New York'>Bronx, New York</option>
              <option name='Birmingham, Alabama'>Birmingham, Alabama</option>
              <option name='Colorado Springs, Colorado'>Colorado Springs, Colorado</option>
              <option name='Savannah, Georgia Area'>Savannah, Georgia Area</option>
              <option name='Reno, Nevada Area'>Reno, Nevada Area</option>
              <option name='Oklahoma City, Oklahoma'>Oklahoma City, Oklahoma</option>
              <option name='Madison, Wisconsin'>Madison, Wisconsin</option>
              <option name='Fresno, California Area'>Fresno, California Area</option>
              <option name='Melbourne, Florida Area'>Melbourne, Florida Area</option>
              <option name='Fort Myers, Florida Area'>Fort Myers, Florida Area</option>
              <option name='Fort Collins, Colorado Area'>Fort Collins, Colorado Area</option>
              <option name='Jackson, Mississippi Area'>Jackson, Mississippi Area</option>
              <option name='Memphis, Tennessee'>Memphis, Tennessee</option>
              <option name='Santa Barbara, California Area'>Santa Barbara, California Area</option>
              <option name='Fayetteville, Arkansas Area'>Fayetteville, Arkansas Area</option>
              <option name='Tallahassee, Florida Area'>Tallahassee, Florida Area</option>
              <option name='Kalamazoo, Michigan Area'>Kalamazoo, Michigan Area</option>
              <option name='New Orleans, Louisiana'>New Orleans, Louisiana</option>
              <option name='Albuquerque, New Mexico'>Albuquerque, New Mexico</option>
              <option name='Buffalo, New York'>Buffalo, New York</option>
              <option name='Springfield, Missouri Area'>Springfield, Missouri Area</option>
              <option name='Rochester, New York'>Rochester, New York</option>
              <option name='Charlottesville, Virginia Area'>Charlottesville, Virginia Area</option>
              <option name='Irvine, California'>Irvine, California</option>
              <option name='Lincoln, Nebraska Area'>Lincoln, Nebraska Area</option>
              <option name='Lancaster, Pennsylvania Area'>Lancaster, Pennsylvania Area</option>
              <option name='Ann Arbor, Michigan'>Ann Arbor, Michigan</option>
              <option name='Eugene, Oregon Area'>Eugene, Oregon Area</option>
              <option name='Asheville, North Carolina Area'>Asheville, North Carolina Area</option>
              <option name='Green Bay, Wisconsin Area'>Green Bay, Wisconsin Area</option>
              <option name='Knoxville, Tennessee'>Knoxville, Tennessee</option>
              <option name='Saginaw, Michigan Area'>Saginaw, Michigan Area</option>
              <option name='Boca Raton, Florida'>Boca Raton, Florida</option>
              <option name='Tulsa, Oklahoma'>Tulsa, Oklahoma</option>
              <option name='Honolulu, Hawaii'>Honolulu, Hawaii</option>
              <option name='Anchorage, Alaska Area'>Anchorage, Alaska Area</option>
              <option name='Grand Rapids, Michigan'>Grand Rapids, Michigan</option>
              <option name='Baton Rouge, Louisiana'>Baton Rouge, Louisiana</option>
              <option name='Boulder, Colorado'>Boulder, Colorado</option>
              <option name='Roanoke, Virginia Area'>Roanoke, Virginia Area</option>
              <option name='Mobile, Alabama Area'>Mobile, Alabama Area</option>
              <option name='Plano, Texas'>Plano, Texas</option>
              <option name='Urbana-Champaign, Illinois Area'>Urbana-Champaign, Illinois Area</option>
              <option name='Oshkosh, Wisconsin Area'>Oshkosh, Wisconsin Area</option>
              <option name='Cambridge, Massachusetts'>Cambridge, Massachusetts</option>
              <option name='Daytona Beach, Florida Area'>Daytona Beach, Florida Area</option>
              <option name='Scranton, Pennsylvania Area'>Scranton, Pennsylvania Area</option>
              <option name='Long Beach, California'>Long Beach, California</option>
              <option name='Columbia, South Carolina'>Columbia, South Carolina</option>
              <option name='Lafayette, Louisiana Area'>Lafayette, Louisiana Area</option>
              <option name='Spring, Texas'>Spring, Texas</option>
              <option name='Mesa, Arizona'>Mesa, Arizona</option>
              <option name='Wilmington, North Carolina Area'>Wilmington, North Carolina Area</option>
              <option name='Honduras'>Honduras</option>
              <option name='Oakland, California'>Oakland, California</option>
              <option name='Germany'>Germany</option>
              <option name='Gainesville, Florida Area'>Gainesville, Florida Area</option>
              <option name='Greensboro, North Carolina'>Greensboro, North Carolina</option>
              <option name='Dayton, Ohio'>Dayton, Ohio</option>
              <option name='Alexandria, Virginia'>Alexandria, Virginia</option>
              <option name='Milano, Italia'>Milano, Italia</option>
              <option name='Tempe, Arizona'>Tempe, Arizona</option>
              <option name='Peoria, Illinois Area'>Peoria, Illinois Area</option>
              <option name='Tallahassee, Florida'>Tallahassee, Florida</option>
              <option name='Overland Park, Kansas'>Overland Park, Kansas</option>
              <option name='Evansville, Indiana Area'>Evansville, Indiana Area</option>
              <option name='Sioux Falls, South Dakota Area'>Sioux Falls, South Dakota Area</option>
              <option name='El Paso, Texas'>El Paso, Texas</option>
              <option name='Pensacola, Florida Area'>Pensacola, Florida Area</option>
              <option name='Durham, North Carolina'>Durham, North Carolina</option>
              <option name='Rockford, Illinois Area'>Rockford, Illinois Area</option>
              <option name='Sealand Region, Denmark'>Sealand Region, Denmark</option>
              <option name='York, Pennsylvania Area'>York, Pennsylvania Area</option>
              <option name='Canton, Ohio Area'>Canton, Ohio Area</option>
              <option name='Columbia, Missouri Area'>Columbia, Missouri Area</option>
              <option name='Lexington, Kentucky'>Lexington, Kentucky</option>
              <option name='Naples, Florida Area'>Naples, Florida Area</option>
              <option name='Reading, Pennsylvania Area'>Reading, Pennsylvania Area</option>
              <option name='El Paso, Texas Area'>El Paso, Texas Area</option>
              <option name='Wichita, Kansas'>Wichita, Kansas</option>
              <option name='Detroit, Michigan'>Detroit, Michigan</option>
              <option name='Hollywood, Florida'>Hollywood, Florida</option>
              <option name='Lakeland, Florida Area'>Lakeland, Florida Area</option>
              <option name='Arlington, Virginia'>Arlington, Virginia</option>
              <option name='Davenport, Iowa Area'>Davenport, Iowa Area</option>
              <option name='Cedar Rapids, Iowa Area'>Cedar Rapids, Iowa Area</option>
              <option name='Littleton, Colorado'>Littleton, Colorado</option>
              <option name='Pompano Beach, Florida'>Pompano Beach, Florida</option>
              <option name='West Palm Beach, Florida'>West Palm Beach, Florida</option>
              <option name='South Bend, Indiana Area'>South Bend, Indiana Area</option>
              <option name='Charleston, South Carolina'>Charleston, South Carolina</option>
              <option name='Kolkata, West Bengal, India'>Kolkata, West Bengal, India</option>
              <option name='Arlington, Texas'>Arlington, Texas</option>
              <option name='New London/Norwich, Connecticut Area'>New London/Norwich, Connecticut Area</option>
              <option name='Saint Petersburg, Florida'>Saint Petersburg, Florida</option>
              <option name='Bakersfield, California Area'>Bakersfield, California Area</option>
              <option name='Boise, Idaho'>Boise, Idaho</option>
              <option name='Stockton, California Area'>Stockton, California Area</option>
              <option name='Vancouver, Washington'>Vancouver, Washington</option>
              <option name='Montgomery, Alabama Area'>Montgomery, Alabama Area</option>
              <option name='Johnson City, Tennessee Area'>Johnson City, Tennessee Area</option>
              <option name='Ithaca, New York Area'>Ithaca, New York Area</option>
              <option name='Fort Collins, Colorado'>Fort Collins, Colorado</option>
              <option name='Marietta, Georgia'>Marietta, Georgia</option>
              <option name='Tacoma, Washington'>Tacoma, Washington</option>
              <option name='San Luis Obispo, California Area'>San Luis Obispo, California Area</option>
              <option name='Aurora, Colorado'>Aurora, Colorado</option>
              <option name='Lincoln, Nebraska'>Lincoln, Nebraska</option>
              <option name='Gainesville, Florida'>Gainesville, Florida</option>
              <option name='Youngstown, Ohio Area'>Youngstown, Ohio Area</option>
              <option name='Winston Salem, North Carolina'>Winston Salem, North Carolina</option>
              <option name='St. Cloud, Minnesota Area'>St. Cloud, Minnesota Area</option>
              <option name='Wilmington, Delaware'>Wilmington, Delaware</option>
              <option name='Riverside, California'>Riverside, California</option>
              <option name='Fayetteville, North Carolina Area'>Fayetteville, North Carolina Area</option>
              <option name='Staten Island, New York'>Staten Island, New York</option>
              <option name='Berkeley, California'>Berkeley, California</option>
              <option name='Fresno, California'>Fresno, California</option>
              <option name='Macon, Georgia Area'>Macon, Georgia Area</option>
              <option name='Fargo, North Dakota Area'>Fargo, North Dakota Area</option>
              <option name='Spokane, Washington'>Spokane, Washington</option>
              <option name='Mountain View, California'>Mountain View, California</option>
              <option name='Katy, Texas'>Katy, Texas</option>
              <option name='Greenville, South Carolina'>Greenville, South Carolina</option>
              <option name='Topeka, Kansas Area'>Topeka, Kansas Area</option>
              <option name='Bryan/College Station, Texas Area'>Bryan/College Station, Texas Area</option>
              <option name='Wausau, Wisconsin Area'>Wausau, Wisconsin Area</option>
              <option name='Chandler, Arizona'>Chandler, Arizona</option>
              <option name='Modesto, California Area'>Modesto, California Area</option>
              <option name='Taipei City, Taiwan'>Taipei City, Taiwan</option>
              <option name='Bellevue, Washington'>Bellevue, Washington</option>
              <option name='Shreveport, Louisiana Area'>Shreveport, Louisiana Area</option>
              <option name='Santa Monica, California'>Santa Monica, California</option>
              <option name='Duluth, Minnesota Area'>Duluth, Minnesota Area</option>
              <option name='Bakersfield, California'>Bakersfield, California</option>
              <option name='Reno, Nevada'>Reno, Nevada</option>
              <option name='Anchorage, Alaska'>Anchorage, Alaska</option>
              <option name='Killeen/Temple, Texas Area'>Killeen/Temple, Texas Area</option>
              <option name='Rochester, Minnesota Area'>Rochester, Minnesota Area</option>
              <option name='Savannah, Georgia'>Savannah, Georgia</option>
              <option name='Henderson, Nevada'>Henderson, Nevada</option>
              <option name='Toulouse Area, France'>Toulouse Area, France</option>
              <option name='Naples, Florida'>Naples, Florida</option>
              <option name='Hickory/Lenoir, North Carolina Area'>Hickory/Lenoir, North Carolina Area</option>
              <option name='Grand Junction, Colorado Area'>Grand Junction, Colorado Area</option>
              <option name='Barnstable/Yarmouth, Massachusetts Area'>Barnstable/Yarmouth, Massachusetts Area</option>
              <option name='Myrtle Beach, South Carolina Area'>Myrtle Beach, South Carolina Area</option>
              <option name='Fort Pierce, Florida Area'>Fort Pierce, Florida Area</option>
              <option name='Odessa/Midland, Texas Area'>Odessa/Midland, Texas Area</option>
              <option name='Corpus Christi, Texas Area'>Corpus Christi, Texas Area</option>
              <option name='Santa Clara, California'>Santa Clara, California</option>
              <option name='Lubbock, Texas Area'>Lubbock, Texas Area</option>
              <option name='Chesapeake, Virginia'>Chesapeake, Virginia</option>
              <option name='Sarasota, Florida'>Sarasota, Florida</option>
              <option name='Santa Fe, New Mexico Area'>Santa Fe, New Mexico Area</option>
              <option name='Iowa City, Iowa Area'>Iowa City, Iowa Area</option>
              <option name='Columbus, Georgia Area'>Columbus, Georgia Area</option>
              <option name='Irving, Texas'>Irving, Texas</option>
              <option name='Lubbock, Texas'>Lubbock, Texas</option>
              <option name='Bloomington/Normal, Illinois Area'>Bloomington/Normal, Illinois Area</option>
              <option name='Salinas, California Area'>Salinas, California Area</option>
              <option name='Wilmington, North Carolina'>Wilmington, North Carolina</option>
              <option name='Little Rock, Arkansas'>Little Rock, Arkansas</option>
              <option name='Akron, Ohio'>Akron, Ohio</option>
              <option name='Lawrence, Kansas Area'>Lawrence, Kansas Area</option>
              <option name='Appleton, Wisconsin'>Appleton, Wisconsin</option>
              <option name='Bellingham, Washington Area'>Bellingham, Washington Area</option>
              <option name='Syracuse, New York'>Syracuse, New York</option>
              <option name='Bloomington, Indiana Area'>Bloomington, Indiana Area</option>
              <option name='Providence, Rhode Island'>Providence, Rhode Island</option>
              <option name='Tyler, Texas Area'>Tyler, Texas Area</option>
              <option name='Silver Spring, Maryland'>Silver Spring, Maryland</option>
              <option name='Jersey City, New Jersey'>Jersey City, New Jersey</option>
              <option name='Beverly Hills, California'>Beverly Hills, California</option>
              <option name='Springfield, Illinois Area'>Springfield, Illinois Area</option>
              <option name='Charleston, West Virginia Area'>Charleston, West Virginia Area</option>
              <option name='Fairfax, Virginia'>Fairfax, Virginia</option>
              <option name='Huntsville, Alabama'>Huntsville, Alabama</option>
              <option name='Beaumont/Port Arthur, Texas Area'>Beaumont/Port Arthur, Texas Area</option>
              <option name='St Albans, United Kingdom'>St Albans, United Kingdom</option>
              <option name='Chapel Hill, North Carolina'>Chapel Hill, North Carolina</option>
              <option name='Cleveland, United Kingdom'>Cleveland, United Kingdom</option>
              <option name='Southern Region, Funen, Denmark'>Southern Region, Funen, Denmark</option>
              <option name='Bristol, Bristol, United Kingdom'>Bristol, Bristol, United Kingdom</option>
              <option name='Erie, Pennsylvania Area'>Erie, Pennsylvania Area</option>
              <option name='Palo Alto, California'>Palo Alto, California</option>
              <option name='Rio de Janeiro, Rio de Janeiro, Brasil'>Rio de Janeiro, Rio de Janeiro, Brasil</option>
              <option name='Brampton, Ontario, Canada'>Brampton, Ontario, Canada</option>
              <option name='Huntington Beach, California'>Huntington Beach, California</option>
              <option name='Chattanooga, Tennessee'>Chattanooga, Tennessee</option>
              <option name='Saskatchewan, Canada'>Saskatchewan, Canada</option>
              <option name='Bloomington, Indiana'>Bloomington, Indiana</option>
              <option name='Sunnyvale, California'>Sunnyvale, California</option>
              <option name='Region VII - Central Visayas, Philippines'>Region VII - Central Visayas, Philippines</option>
              <option name='Salem, Oregon'>Salem, Oregon</option>
              <option name='Stevenage, United Kingdom'>Stevenage, United Kingdom</option>
              <option name='Rio de Janeiro e Região, Brasil'>Rio de Janeiro e Região, Brasil</option>
              <option name='Bromley, United Kingdom'>Bromley, United Kingdom</option>
              <option name='Winter Park, Florida'>Winter Park, Florida</option>
              <option name='Hialeah, Florida'>Hialeah, Florida</option>
              <option name='Panama City, Florida Area'>Panama City, Florida Area</option>
              <option name='Lawrence, Kansas'>Lawrence, Kansas</option>
              <option name='Portland, Maine'>Portland, Maine</option>
              <option name='Reading, Pennsylvania'>Reading, Pennsylvania</option>
              <option name='Blacksburg, Virginia'>Blacksburg, Virginia</option>
              <option name='Visalia, California Area'>Visalia, California Area</option>
              <option name='San Mateo, California'>San Mateo, California</option>
              <option name='Dubuque, Iowa Area'>Dubuque, Iowa Area</option>
              <option name='La Jolla, California'>La Jolla, California</option>
              <option name='Durham, United Kingdom'>Durham, United Kingdom</option>
              <option name='Troy, Michigan'>Troy, Michigan</option>
              <option name='Shrewsbury, United Kingdom'>Shrewsbury, United Kingdom</option>
              <option name='Peoria, Arizona'>Peoria, Arizona</option>
              <option name='Cape Coral, Florida'>Cape Coral, Florida</option>
              <option name='Ventura, California'>Ventura, California</option>
              <option name='Saint Charles, Missouri'>Saint Charles, Missouri</option>
              <option name='Crewe, United Kingdom'>Crewe, United Kingdom</option>
              <option name='Málaga Area, Spain'>Málaga Area, Spain</option>
              <option name='Tuscaloosa, Alabama'>Tuscaloosa, Alabama</option>
              <option name='Bellingham, Washington'>Bellingham, Washington</option>
              <option name='Iowa City, Iowa'>Iowa City, Iowa</option>
              <option name='Costa Mesa, California'>Costa Mesa, California</option>
              <option name='Auburn, Alabama Area'>Auburn, Alabama Area</option>
            </select>
          </fieldset>
          <!--
          <h4>Select Preferred Job Titles</h4>
          <fieldset class='margin-bottom'>
            <select class='chosen-select' multiple name='industry'>
              {% for industry in industries %}
              <option name='industry' value='{{ industry.id }}'>{{ industry.name }}</option>
              {% endfor %}
            </select>
          </fieldset>
          -->
          <h4>Gender Preference</h4>
          <fieldset class='margin-bottom'>
            <label for='gender'>Male</label>
            <input type='radio' name='gender' id='gender' />
            <label for='gender'>Female</label>
            <input type='radio' name='gender' id='gender' />
            <label for='gender'>Both</label>
            <input type='radio' name='gender' id='gender' />
          </fieldset>
          <h4>Ideal Age Preference</h4>
          <fieldset class='margin-bottom'>
            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="20" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]"/>
          </fieldset>
          <h4>Ideal Company Size</h4>
          <fieldset class='margin-bottom'>
            <input id="ex2" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10000" data-slider-step="500" data-slider-value="[0,10000]"/>
          </fieldset>
          <!--
          <h4>Certifications</h4>
          <fieldset class='margin-bottom'>
            <select class='chosen-select' multiple name='certifications'>
              <option name='industry' value=''>MD</option>
              <option name='industry' value=''>JD</option>
              <option name='industry' value=''>PHD</option>
              <option name='industry' value=''>CFA</option>
            </select>
          </fieldset>
          -->
          <fieldset class='margin-bottom'>
            <button type='submit' class='btn btn-success'>Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript' src='/static/js/chosen.jquery.js'></script>
<script type='text/javascript' src='/static/js/bootstrap-slider.js'></script>
<script type='text/javascript' src='/static/js/build/investor_profile.js'></script>
{% endblock %}
