{% extends 'base.html' %}
{% block header %}

{% endblock %}
{% block content %}

<div class='signup' id="linkedin_password_form">
  <form class="card" method='POST'>
  <header>
    <div class="header-logo"></div>
  </header>
    {% if form.errors %}
    <div class='error'>
      {% for error in form.errors.items() %}
      <div>
        <strong>{{ error[0] }}:</strong> {{ error[1][0] }}
      </div>
      {% endfor %}
    </div>
    {%endif%}
    {{ form.csrf_token }}
    <p>Please re-enter your Linkedin password so we can securely connect your contacts.</p>
    <div class="form-group" >
      <strong class="form-control" id="inputEmail">{{ current_user.linkedin_email }}</strong>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Linkedin Password</label>
      <input type="password" name='password' class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <button id="check_linkedin_button" type="submit" class="button teal">Connect Linkedin Contacts</button>
  </form>
  <h5>
    <a href='https://www.linkedin.com/uas/request-password-reset?trk=uno-reg-guest-home-forgot-password' target="_blank">Forgot Your Linkedin Password?</a>
  </h5>
</div>
<script type="text/javascript">
  $("#check_linkedin_button").click(function(){
    $(".overlay").fadeIn();
    $(".waiting").show();
  });
  $( document ).ready(function() {
    $(".overlay").fadeOut();
    $(".waiting").hide();
    if ("{{ valid }}" == "True") {
      $('#overlay', window.parent.document).hide();
      $('#hack_next', window.parent.document).trigger("click");
      $('div[class*="ui-dialog"]', window.parent.document).remove();

    }
  });
</script>
{% endblock %}
{% block footer %}{% endblock %}