{% extends 'base.html' %}
{% block header %}{% endblock %}

{% block content %}

<div id="linkedin_password_form">
  <form class="card" method='POST'>
    <header>
      <div class="header-logo"></div>
    </header>
    <h3>Please re-enter your Linkedin password so we can securely connect your contacts.</h3>
    <hr>

    {% if form.errors %}
      <div class='error'>
        {% for error in form.errors.items() %}
        <div>
          <strong>{{ error[0] }}:</strong> {{ error[1][0] }}
        </div>
        {% endfor %}
      </div>
    {%endif%}
    {{ form.csrf_token }}

<!--     <h4 id="inputEmail">
      {{ current_user.linkedin_email }}
    </h4> -->
    <div class="col-8">
      <input type="email" name='email' class="form-control" id="inputEmail" placeholder="Enter Your LinkedIn Email Address">
    </div>
    <div class="col-8">
      <input type="password" name='password' class="form-control" id="inputPassword" placeholder="Enter Your LinkedIn Password">
    </div>
    <div class="col-4">
      <button id="check_linkedin_button" type="submit" class="button fluid linkedin">Connect Linkedin Contacts</button>
    </div>
    <div>
      <small>
        <a href='https://www.linkedin.com/uas/request-password-reset?trk=uno-reg-guest-home-forgot-password' target="_blank">Forgot Your Linkedin Password?</a>
      </small>
    </div>
  </form>
</div>
<script type="text/javascript">
  $("#check_linkedin_button").click(function(){
    $(".overlay").fadeIn();
    $(".waiting").show();
  });
  $( document ).ready(function() {
    $(".overlay").fadeOut();
    $(".waiting").hide();
    var local = document.location.href.split("/").slice(0,3).join("/")
    if ("{{ valid }}" == "True") {
      $('#overlay', window.parent.document).hide();
      //$('#hack_next', window.parent.document).trigger("click");
      window.top.location.href = local + "/?status=all_done";
      //window.top.location.reload(true); 
      console.log(window.top.location.href);
      $('div[class*="ui-dialog"]', window.parent.document).remove();
    }
      
  });
</script>
{% endblock %}





{% block footer %}{% endblock %}
