{% extends 'base.html' %}
{% block header %}{% endblock %}

{% block content %}
<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
<div class="wrap" id="linkedin_password_form">
  <form class="signup card" id='linkedin-login-form' method='POST' autocomplete="false">
    <header>
      <div class="header-logo"></div>
    </header>
    <small><div class='error'>

    </div> </small>
    <h3>Please enter your Linkedin username (email) and password so we can securely connect your contacts.</h3>
    <hr>

    
    <div class="form-group">
      <input type="email" name='email' class="form-control" id="inputEmail" placeholder="Enter Your LinkedIn Email Address" autocomplete="new-email">
    </div>
    <div class="form-group">
      <input type="password" name='password' class="form-control" id="inputPassword" placeholder="Enter Your LinkedIn Password" autocomplete="new-password">
    </div>
    <button id="check_linkedin_button" type="submit" class="button linkedin">Connect Linkedin Contacts</button>
    
    <p>
      <small>
        <a href='https://www.linkedin.com/uas/request-password-reset?trk=uno-reg-guest-home-forgot-password' target="_blank">Forgot Your Linkedin Password?</a>
      </small>
    </p>
  </form>
</div>
<script type="text/javascript">
  $(function(){

    $(".error").text("");
    $(".error").css("display","none");  

    function finishMe(err) {
      clearInterval(listening);
      var csrf_token = $("[_csrf_token]").val() 
      var outData = {csrf_token:csrf_token}
      if (err) {
        $.post("/linkedin_failed?failtype=login", outData, function(data) {
        });
      }         
      $(".overlay").fadeOut();
      $(".waiting").hide();      
      $('#overlay', window.parent.document).hide();
      window.close();         
    }

    var listening;
    var attempts = 0;
    function didLinkedinLoginWork() {
      //this will check redis, which is where the login task publishes its results 
        var csrf_token = $("[_csrf_token]").val() 
        var outData = {csrf_token:csrf_token}
        $.ajaxSetup({ cache: false });
        $.ajax({
            type: 'GET',
            url: '/linkedin_login_status',
            crossDomain: true,
            data: JSON.stringify(outData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function(data, textStatus, jqXHR) {
              if (data.finished) {
                var error = data.error;

                //it logged in
                if (data.success) {
                  finishMe(false);
                } 
                //it sent a pin to the user's email. the "error" just says the email account that the pin was sent to
                else if (data.pin) {
                  attempts = 0;
                  window.location.href = '/linkedin_pin?message=' + error;
                } else {
                  clearInterval(listening);
                  $(".overlay").fadeOut();
                  $(".waiting").hide();
                  //linkedin told us what was wrong, we will pass the message along
                  if (error.length > 0) {
                    $(".error").text(error)
                    $(".error").css("display","inline");  
                    attempts = 0;
                  }
                  //no frickin clue what happened, just act like everything ok and move along
                  else {
                    finishMe(true);
                  }
                }
              } else {
                attempts = attempts+1;

                if (attempts>90) {
                  finishMe();
                }
              }
            },
            error: function (data, textStatus, errorThrown) {
              $(".overlay").fadeOut();
              $(".waiting").hide();           
              $(".error").text("There was an unknown issue. An error report was sent. Please close the window and move on to the next step.")
              $(".error").css("display","inline");  
            }
        }); 


    }

    //the linkedin credentials checker task will publish results when it is finished, so we are listening for them
    function listenForSuccess() {
      listening = setInterval(function() {
        didLinkedinLoginWork()
      }, 1000);
    }

    //user clicks the button to submit credentials
    $("#linkedin-login-form").submit(function(e){
      //prevent form from giving its status
      e.preventDefault();
      if ($("#inputEmail").val().length==0) {
        $(".error").text("You must enter email");
        $(".error").css("display","inline");  
        return;        
      }
      if ($("#inputPassword").val().length==0) {
        $(".error").text("You must enter password");
        $(".error").css("display","inline");  
        return;        
      }      
      $(".overlay").fadeIn();
      $(".waiting").show();
      $(".error").text("");
      $(".error").css("display","none");        
      var data = {email:$("#inputEmail").val(),password:$("#inputPassword").val()}
      $.post("/linkedin_login", data, function(data){
        if (data.success) {
          //view has launched a task to try the login
          //the task will publish results when it is finished, so we are listening for them
          listenForSuccess()
        } else {
          //view returns false if one of the args is missing
          $(".error").text("You must enter email and password");
          $(".error").css("display","inline");  
        }
      });
    });

  });
</script>
{% endblock %}





{% block footer %}{% endblock %}
