{% extends 'base.html' %}
{% block header %}{% endblock %}

{% block content %}

<div id="linkedin_pin_form">
  <header>
    <div class="header-logo"></div>
  </header>
  <div class='error'></div> 
  <h3>{{ message }}</h3>
  <hr>
  <div class="col-8">
    <input type="text" name='pin' id="inputPin" placeholder="Enter PIN" autocomplete="new-pin">
  </div>
  <div class="col-4">
    <button id="submit_pin" class="button fluid linkedin">Submit</button>
  </div>
</div>
<script type="text/javascript">  
$(function() {

  $(".error").text("");
  $(".error").css("display","none");    

  $(".overlay").fadeOut();
  $(".waiting").hide();

  function finishMe(err) {
    var csrf_token = $("[_csrf_token]").val() 
    var outData = {csrf_token:csrf_token}
    if (err) {
      $.post("/linkedin_failed?failtype=pin", outData, function(data) {
      }); 
    }        
    $(".overlay").fadeOut();
    $(".waiting").hide();      
    window.close()      
  }

  $("#submit_pin").click(function(e){
    e.preventDefault();
    $(".error").text("");
    $(".error").css("display","none");        
    $(".overlay").fadeIn();
    $(".waiting").show();
    var csrf_token = $("[_csrf_token]").val()

    var outData = {csrf_token:csrf_token,pin:$("#inputPin").val()}
    $.post("/linkedin_pin", outData, function(data) {
      if (data.error || !data.success) {
        $("#inputPin").val('')
        $(".overlay").fadeOut();
        $(".waiting").hide();
        $(".error").text("We weren't sure about that PIN. Would you mind trying again? Or, close the window and we can redeem your LinkedIn contacts later.");
        $(".error").css("display","inline");          
      } else {
        finishMe(false);
      }
    });
  });
});
</script>
{% endblock %}





{% block footer %}{% endblock %}
