{% extends 'base.html' %}
{% block content %}
{% with header="Project 200" %}
{% include "_partials/agent_header.html" %}
{% endwith %}

<div class="section">
  <div class="wrap p200-actions">       
    <button class='button dark-blue'>Submit For Approval</button>
    <a class='button white' href='/export'>Export to MOD</a>
    <button class='button white' id='export'>Export as PDF</button>
    <button class='button white'>View Skipped Connections</button>
  </div>
</div>
<div class="section" id='connections-section'>
  <div class="wrap" id='connections'>
    {% include "_partials/connections_table.html" %}
  </div>
</div>

<footer>
  <div class="wrap">
    <div class="col-6">
      <div class="copyright">&copy; 2016 AdvisorConnect</div>
      <div class="footer-links"><span><a href="#">Help</a></span><span><a href="#">FAQs</a></span><span><a href="#">Contact</a></span><span><a href="#">About</a></span></div>
    </div>
<!--     <div class="col-6 text-right">
      <div class="footer-logo"></div>
    </div> -->
  </div>
</footer>
<script type='text/javascript'>

$(function() {
 });
</script>
{% endblock %}
