{% extends 'base.html' %}
{% block content %}
{% with header="Project 200" %}
{% endwith %}
<script type='text/javascript'>
  window.onload = function() { window.print(); }
</script>
<div class="section" id='connections-section'>
  <div class="wrap" id='connections'>
    {% include "_partials/connections_table.html" %}
  </div>
</div>

<footer>
  <div class="wrap">
    <div class="col-6">
      <div class="copyright">&copy; 2016 AdvisorConnect</div>
      <div class="footer-links"><span><a href="#">Help</a></span><span><a href="#">FAQs</a></span><span><a href="#">Contact</a></span><span><a href="#">About</a></span></div>
    </div>
<!--     <div class="col-6 text-right">
      <div class="footer-logo"></div>
    </div> -->
  </div>
</footer>
{% endblock %}
