{% extends 'base.html' %}

{% block content %}

{% include "_partials/agent_header.html" %}

{% include "_partials/agent_nav.html" %}

<div class="section">
  <div class="wrap card">
    <div class="col-6">
      <div class="network-breakdown">
        <h2 class="text-center hint--top" data-hint="This has been set by the GO and includes the state(s) most commonly included for that GO (e.g. Greater New York GO includes NY, NJ and CT).">Initial Market in GO Territory</h2>        
        <canvas width="200px" height="240px" id='industry'></canvas>
        <canvas width="200px" height="240px" id='state'></canvas>
        <h4 class="hint--top" data-hint="Qualified first-degree contacts broken down by industry.">Contacts by Industry</h4>
        <h4 class="hint--top" data-hint="Qualified first-degree contacts broken down by state.">Contacts By State</h4>
      </div>
    </div>
    <div class="col-6">
      <div class="qualified-contacts">
        <h2 class="text-center">Qualified Overall Network</h2>
        <canvas width="400px" height="240px" id='connections'></canvas>
        <h4 class="hint--top" data-hint="Number of qualified contacts in first-degree network." style='width: 130px;'>1st-Degree</h4>
        <h4 class="hint--top" data-hint="Number of qualified contacts in second-degree network." style='width: 130px;'>2nd-Degree</h4>
        <h4 class="hint--top" data-hint="Number of first-degree plus second-degree qualified network contacts." style='width: 130px;'>Total</h4>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="wrap">
    <div class="col-7">
      <div class="card">
        <div class="card-header">
          <h4 class="hint--top" data-hint="Markets within qualified first-degree contacts.">Potential Markets</h4>
        </div>
        <div class="card-body">
          <div class="potential-markets">
            {% if agent.industries|length > 0 %}
            {% for industry in agent.industries %}
              <div class="market-{{ loop.index }}">
                {% if current_user.is_manager or current_user.p200_approved or not current_user.p200_completed %}
                  <a>
                {% else %}
                  <a href="/connections?industry={{industry[0]}}">
                {% endif %}
                  <span>{{ industry[0] }}</span><b>{{ industry[1] }}</b>
                </a>
              </div>
            {% endfor %}
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>
      <br>      
      <div class="card contacts-uploaded">
        {%if agent.unique_contacts_uploaded %}
          <div class="card-header">
            <h4>Contacts Uploaded</h4>
            <span class="text-right">Uploaded</span>
            <span class="text-right text-teal">Qualified</span>
          </div>
          <table>
            {%if agent.contacts_from_linkedin %}
              <tr>
                <td><img src="/static/img/linkedin-40.png"> <b>LinkedIn</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_linkedin | int) }}</td>
                <td class="text-right text-teal">{{ '{0:,}'.format(agent.from_linkedin | int) }}</td>
              </tr>
            {%endif%}
            {%if agent.contacts_from_gmail %}
              <tr>
                <td><img src="/static/img/gmail-40.png"> <b>Gmail</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_gmail | int) }}</td>
                <td class="text-right text-teal">{{ '{0:,}'.format(agent.from_gmail | int) }}</td>
              </tr>
            {%endif%}
            {%if agent.contacts_from_yahoo %}
              <tr>
                <td><img src="/static/img/yahoo-mail-40.png"> <b>Yahoo! Mail</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_yahoo | int) }}</td>
                <td class="text-right text-teal">{{ '{0:,}'.format(agent.from_yahoo | int) }}</td>
              </tr>
            {%endif%}
            {%if agent.contacts_from_windowslive %}
              <tr>
                <td><img src="/static/img/windows-live-40.png"> <b>Windows Live</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_windowslive | int) }}</td>
                <td class="text-right text-teal">{{ '{0:,}'.format(agent.from_windowslive | int) }}</td>
              </tr>
            {%endif%}
            {%if agent.contacts_from_aol %}
              <tr>
                <td><img src="/static/img/aol-40.png"> <b>Aol</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_aol | int) }}</td>
                <td class="text-right text-teal">{{ '{0:,}'.format(agent.from_aol | int) }}</td>
              </tr>
            {%endif%}
            {%if agent.contacts_from_csv %}
              <tr>
                <td><img src="/static/img/csv-40.png"> <b>CSV</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_csv | int) }}</td>
                <td class="text-right text-teal">{{ '{0:,}'.format(agent.from_csv | int) }}</td>
              </tr>
            {%endif%}            
          {%endif%}
        </table>
      </div>
      {% if not current_user.is_manager %}
       <!--  <span><small><a href='/exclusions_report'>Download detailed exclusions report</a></small></span> -->
      {%endif%}
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          <h4 class="hint--top" data-hint="Statistics for qualified first-degree contacts.">Network Statistics</h4>
        </div>
        <table class="network-stats">
          <tr>
            <td><b>Male</b></td>
            <td>
              <div class="text-right">{{ agent.male_percentage }}%</div>
            </td>
          </tr>
          <tr>
            <td><b>Female</b></td>
            <td>
              <div class="text-right">{{ agent.female_percentage }}%</div>
            </td>
          </tr>
          <tr>
            <td><b>College Degree</b></td>
            <td>
              <div class="text-right">{{ agent.college_percentage }}%</div>
            </td>
          </tr>
          <tr>
            <td><b class="hint--top" data-hint="The Wealth Score (0-100) is based on such factors as estimated salary and estimated investible assets.">Average Wealth Score</b></td>
            <td>
              <div class="text-right">{{ agent.average_income_score }}/100</div>
            </td>
          </tr>
          <tr>
            <td><b>Average Age</b></td>
            <td>
              <div class="text-right">{{ agent.average_age }}</div>
            </td>
          </tr>          
          <tr>
            <td><b>LinkedIn</b></td>
            <td>
              <div class="text-right">{{ '{0:,}'.format(agent.linkedin | int) }}</div>
            </td>
          </tr>
          <tr>
            <td><b>Facebook</b></td>
            <td>
              <div class="text-right">{{ '{0:,}'.format(agent.facebook | int) }}</div>
            </td>
          </tr>
          <tr>
            <td><b>Twitter</b></td>
            <td>
              <div class="text-right">{{ '{0:,}'.format(agent.twitter | int) }}</div>
            </td>
          </tr>
          <tr>
            <td><b>Pinterest</b></td>
            <td>
              <div class="text-right">{{ '{0:,}'.format(agent.pinterest | int) }}</div>
            </td>
          </tr>
          <tr>
            <td><b>Amazon</b></td>
            <td>
              <div class="text-right">{{ '{0:,}'.format(agent.amazon | int) }}</div>
            </td>
          </tr>          
        </table>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript' src='{{ static_url() }}js/chart.js'></script>
<script type='text/javascript'>
var colors = ['#231A80', '#2A90C0', '#4DC0D4', '#7DD0D0', '#A7DFCD', '#d8efc9', '#150B4B'];
var industries = []
var states = [];
function randColor(colors) {
  return colors[Math.floor(Math.random() * colors.length)]
}
{% for industry in agent.industries %}
industries.push({label: "{{ industry[0] }}".replace('&amp;', '&'), fillColor:"" + randColor(colors), value: {{ industry[1] }}});
{% endfor %}

{% for state in agent.states %}
states.push({label: "{{ state[0] }}", fillColor:"" + randColor(colors), value: {{ state[1] }}})
{% endfor %}

window.print();
$(function(){

    for (var i in industries) {
      industries[i].color = randColor(colors);
    }

    for (var i in states) {
      states[i].color = randColor(colors);
    }

    var $industries = $("#industry")
    var $state = $("#state")
    var $connections = $("#connections")
    var connections = {
        labels:["First-Degree", "Second-Degree", "Total"],
        datasets:[
        {fillColor: "#0079c2",
        strokeColor: "rgba(220,220,220,0.8)",
        highlightFill: "#8dd8f7",
        highlightStroke: "#8dd8f7",
        data: [{{ agent.primary_network_size }}, {{ agent.extended_network_size }}, {{ agent.total_network_size }}]
        }]}

    //Chart.defaults.global.responsive = true;
    var industry_chart = new Chart($industries.get(0).getContext("2d")).Doughnut(industries, {animation: false});
    var state_chart= new Chart($state.get(0).getContext("2d")).Doughnut(states, {animation: false});

    var bar_options = {
      animation: false,
      showScale: false
    }
    var connections_chart = new Chart($connections.get(0).getContext("2d")).Bar(connections, bar_options);
    
 });
</script>
{% endblock %}

