{% extends 'base.html' %}
{% block content %}
<div class='row'>
  {% if prospect.image_url %}
  <div class='image'>
    <img src='{{ prospect.image_url }}' />
  </div>
  {% endif %}
  <h1>{{ prospect.name }} <span class='pull-right'><a href='/search?url={{ prospect.url }}'><button class='btn btn-warning'>View Prospect List</button></a></span></h1>
  <h3>Work History</h3>
  {% for job in prospect.jobs %}
  <div class='item'>
    <h4><a href='{{ job.get_url }}'>{{ job.company.name }}</a></h4>
    <p>{{ job.title }} | {{ job.location_raw }}</p>
    <p>{{ job.start_date }} - {% if job.end_date %}{{ job.end_date }}{% else %}Present{% endif %}</p>
  </div>
  {% endfor %}
  <h3>Schools</h3>
  {% for education in prospect.schools %}
  <div class='item'>
    <h4><a href='{{ education.get_url }}'>{{ education.school.name }}</a></h4>
    <p>{{ education.degree }}</p>
    <p>{{ education.end_date }}</p>
  </div>
  {% endfor %}
<br/>
</div>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
{% endblock %}
