{% extends 'base.html' %}
{% block content %}
<div class='row'>
  {% if prospect.image_url %}
  <div class='image'>
    <img src='{{ prospect.image_url }}' />
  </div>
  {% endif %}
  <h1>{{ prospect.name }} <span>Prime</span></h1>
  <h3>Work History</h3>
  {% for job in prospect.jobs %}
  <div class='item'>
    <h4><a href='{{ job.get_url }}'>{{ job.company.name }}</a></h4>
    <p>{{ job.title }} | {{ job.location_raw }}</p>
    <p>{{ job.start_date }} - {% if job.end_date %}{{ job.end_date }}{% else %}Present{% endif %}</p>
  </div>
  {% endfor %}
  <h3>Schools</h3>
  {% for education in prospect.schools %}
  <div class='item'>
    <h4><a href='{{ education.get_url }}'>{{ education.school.name }}</a></h4>
    <p>{{ education.degree }}</p>
    <p>{{ education.end_date }}</p>
  </div>
  {% endfor %}
<br/>
</div>
<div class='row'>   
{% if results %}
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Relationship</th>
      <th>Institution</th>
      <th>Current Location</th>
      <th>Current Industry</th>
      <th>User Score</th>
    </tr>
  </thead>
  <tbody>
  {% for result in results %}
  <tr>
    <td>{{ result.id }}</td>
    <td><script type="IN/MemberProfile" data-id="{{ result.url }}" data-format="hover"></script>{{ result.prospect_name }}</td>
    <td>{{ result.relationship }}</td>
    {% if result.company_id %}
    <td><a href='/company/{{ result.company_id }}'>{{ result.company_name }}</a></td>
    {% else %}
     <td><a href='/school/{{ result.school_id }}'>{{ result.school_name }}</a></td>
    {% endif %}
    <td>{{ result.current_location }}</td>
    <td>{{ result.industry }}</td>
    <td>{{ result.score }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
</div>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
{% endblock %}
