{% extends 'base.html' %}
{% block content %}    
  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  <script type="text/javascript">
    var domain_key='VB652MMUEG24H4JF3SGL';
    var domain_password='GSrAxStb9Zk5EOmD';    
    var cloudsponge_params = 'domain_key=' + domain_key + '&domain_password=' + domain_password;
    var cloudsponge_base_url = 'https://api.cloudsponge.com/'    ;
    var cloudsponge_status = '';
    var downloadWindow = null;
    var public_url = null;

    $( document ).ready(function() {
      if ("{{ status }}" == 'all_done') {
        $("#step-1").hide();
        attemptFinish();             
      }
      else if ({{ agent.unique_contacts_uploaded | int }} > 0 && "{{ status }}" != "in_progress") {
        var message = "Welcome back! You've uploaded {{ '{0:,}'.format(agent.unique_contacts_uploaded | int) }} unique contacts so far, and it's not too late to add more. You don't need to re-connect any accounts you've already connected, but it's OK if you do. We're keeping track of everything for you." ;
        showSuccess(message);
      }
      
    });    

  </script>

  <div class="wrap section onboarding" id="mainDiv">
      <!-- Onboard Step 1-->
    <div class="onboard" id="step-1">
      <div class="wizard">
        <ol>
          <li >
            <label>Step One</label>
            <p>Connect Your Accounts</p>
          </li>        
          <li class="idle">
            <label>Step Two</label>
            <p>Finish</p>
          </li>
        </ol>
      </div>
      <div class="onboard-body">
        <div class="wrap">
          <div class="col-6">
            <div class="note">
              <h2>Welcome to AdvisorConnect!</h2>
              <p>Let's get started by connecting your accounts.</p>
              <p>Select your account from the right and then follow the instructions.</p>
              <p>You can repeat this step until you have chosen all of your accounts. </p>
              <small>Don't worry, none of your personal messages or your contacts’ personal information will be shared with {{ inviter }}.</small>
            </div>
          </div>
          <div class="col-6">
            <div id='linkedin-area' class="connect-email" onclick="_linkedin();">
              <img id='linkedin' type="Submit" src="/static/img/linkedin-40.png"/>
              <div class="hint--top hint--big button teal small" data-hint="Click here to sign in to LinkedIn and add contacts from your profile.">Add LinkedIn Account</div>           
              <div class='connected_area'>
                {%if agent.contacts_from_linkedin | int > 0 %}
                  <div class='connected' id="linkedin_response">Added {{ '{0:,}'.format(agent.contacts_from_linkedin | int) }} contacts from LinkedIn</div>
                {%elif agent.linkedin_password and agent.linkedin_login_email %}
                  <div class='connected' id="linkedin_response">Connected LinkedIn account for {{ agent.linkedin_login_email }}</div>
                {%endif%}             
              </div>                  
            </div>            
            <div id='gmail-area' class="connect-email" onclick="_gmail();">
              <img id='gmail' type="Submit" src="/static/img/gmail-40.png"/>
              <div class="hint--top hint--big button teal small" data-hint="Click here to sign in to Gmail and add contacts from your email accounts. You can connect more than one Gmail account by clicking this button more than once.">Add Gmail Account</div>
              <div class='connected_area'>
                {%if agent.contacts_from_gmail | int > 0 %}
                  <div class='connected' id="gmail_response">Added {{ '{0:,}'.format(agent.contacts_from_gmail | int) }} contacts from Gmail</div>
                {%endif%}                  
              </div>                  
            </div>
            <div id='yahoo-area' class="connect-email" onclick="_yahoo();">
              <img id='yahoo' type="Submit" src="/static/img/yahoo-mail-40.png"/>
              <div class="hint--top hint--big button teal small" data-hint="Click here to sign in to Yahoo and add contacts from your email accounts. You can connect more than one Yahoo account by clicking this button more than once.">Add Yahoo! Account</div>
              <div class='connected_area'>
                {%if agent.contacts_from_yahoo | int > 0 %}
                  <div class='connected' id="yahoo_response">Added {{ '{0:,}'.format(agent.contacts_from_yahoo | int) }} contacts from Yahoo</div>
                {%endif%}                 
              </div>
            </div>
            <div id='windowslive-area' class="connect-email" onclick="_windowslive();">
              <img id='windowslive' type="Submit" src="/static/img/windows-live-40.png"/>
              <div class="hint--top hint--big button teal small" data-hint="Click here to sign in to WindowsLive and add contacts from your email accounts. You can connect more than one account from WindowsLive by clicking this button more than once.">Add Windows Live (Hotmail, Outlook) Account</div>
              <div class='connected_area'>
                {%if agent.contacts_from_windowslive | int > 0 %}
                  <div class='connected' id="windowslive_response">Added {{ '{0:,}'.format(agent.contacts_from_windowslive | int) }} contacts from Windows Live</div>
                {%endif%}                  
              </div>
            </div>        
            <div id='aol-area' class="connect-email" onclick="_aol();">
              <img id='aol'  type="Submit" src="/static/img/aol-40.png"/>
              <div class="hint--top hint--big button teal small" data-hint="Click here to sign in to AOL and add contacts from your email accounts. You can connect more than one account from AOL by clicking this button more than once.">Add AOL Account</div>
              <div class='connected_area'>
                {%if agent.contacts_from_aol | int > 0 %}
                  <div class='connected' id="aol_response">Added {{ '{0:,}'.format(agent.contacts_from_aol | int) }} contacts from AOL</div>
                {%endif%}                  
              </div>
            </div>  
            <div id='csv-area' class="connect-email" onclick="_csv();" style="display:none;">
              <img id='csv' type="Submit" src="/static/img/csv-40.png"/>
              <div class="hint--top hint--big button teal small" data-hint="Click here to manually contacts using a CSV file.">Add CSV</div>
              <div class='connected_area'>
                {%if agent.contacts_from_csv | int > 0 %}
                  <div class='connected' id="csv_response">Added {{ '{0:,}'.format(agent.contacts_from_csv | int) }} contacts from CSV</div>
                {%endif%}                  
              </div>
            </div>                            
          </div>
        </div>
      </div>
      <div class="onboard-footer"><small>
        {%if current_user.unique_contacts_uploaded | int  > 0 or (current_user.linkedin_password and current_user.linkedin_login_email) %}
          <button id="hack_next" onclick="attemptFinish();" style='border:0;' class="button dark-blue">Next</button>  
        {%endif%}
      </div>     
    </div>       
    <div class="wrap">
      <div class="onboard" id="step-2">
        <div class="wizard">
          <ol>
            <li class="complete">
              <label>Step One</label>
              <p>Connect Your Email Accounts</p>
            </li>        
            <li >
              <label>Step Two</label>
              <p>Finish</p>
            </li>
          </ol>
        </div>
        <div class="onboard-body">
          <div class="wrap">            
            <div class="note text-center">
              <h1>Congratulations!</h1>
              <h3 class="text-teal">You’ve successfully uploaded {%if current_user.unique_contacts_uploaded | int > 0 %}a total of <span class='final-contact-count'></span>{%else%}your{%endif%} contacts!</h3>
              <p>We will email you when your Network Analysis is complete.</p>
              <div class='center'><a id='close_href' href='/auth/logout'><button class='button teal'>Close</button></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type='text/javascript' >
    $( document ).ready(function() {
      var local = document.location.href.split("/").slice(2,3).join("/").trim().toLowerCase();
      if (local == 'demo.advisorconnect.co') {
        $("#close_href").attr('href', '/auth/logout');
      } else {
        $("#close_href").attr('href', 'http://www.newyorklife.com/careers/sales-careers');
      }
        
    }); 

    function do_import(service, divid, win) {     
      if(service == 'LinkedIn') {
          win.location.href = '/linkedin_login';
          $("#spinner").fadeIn();
          var timer = setInterval(function() {   
            if(win.closed) {
              clearInterval(timer);   
              var csrf_token = $("[_csrf_token]").val()
              var outData = {csrf_token:csrf_token}      
              if ("{{ agent.contacts_from_linkedin }}" == "0" && "{{ agent.linkedin_password }}".length>0 &&  "{{ agent.linkedin_login_email }}".length>0) {
                $.post("/linkedin_failed?failtype=getting the csv; you need to download it", outData, function(data) {
                }); 
              }                                 
              window.location.href = '/?status=in_progress';
              $("#spinner").fadeOut();       
            }  
          }, 500);  
      } 
      else {
        var url = cloudsponge_base_url + 'begin_import/user_consent.json';
        $.getJSON(url + '?service=' + service + '&' + cloudsponge_params + '&callback=?', 
        function(data) {
          var cloudsponge_url = data.url;
          var import_id = data.import_id;
          var tempcontactsurl = cloudsponge_base_url + 'contacts.json/' + import_id + '?' + cloudsponge_params + '&callback=?';
          var tempeventsurl = cloudsponge_base_url + 'events.json/' + import_id + '?' + cloudsponge_params + '&callback=?';

          win.location.href = cloudsponge_url;
          var timer = setInterval(function() {   
            if(win.closed) {
              clearInterval(timer);              
              handle_cloudsponge(tempcontactsurl, tempeventsurl, divid, service);

            }  
          }, 500);              

           
        });      
      }
    }

    function handle_cloudsponge(tempcontactsurl, tempeventsurl, divid, service) {
      $.getJSON(tempeventsurl, function(data){
        events = data.events;

        for (i = 0; i < events.length; i++) { 
          cloudsponge_status = events[i].status;
          if (cloudsponge_status == 'COMPLETED') {
            $("#spinner").fadeIn();
            var timer2 = setInterval(function() {  
              $.getJSON(tempcontactsurl, function() {
              })
              .success(function(data) {
                clearInterval(timer2); 
                contacts = data.contacts;

                if (contacts !=undefined && contacts.length) { 
                  var contacts_array = [];
                  contacts_owner = data.contacts_owner;
                  if(service=='CSV'){
                    response_element_id = "csv_response";
                  } 
                  else {
                    response_element_id = contacts_owner.email[0].address + "_response";
                  }
                  
                  status_field = document.getElementById(response_element_id);
                  //this condition is no longer relevant since we are collapsing
                  if (status_field == null || status_field == undefined || true) {
                    for (i = 0; i < contacts.length; i++) { 
                        var contact = contacts[i];
                        contacts_array.push({contact:contact, contacts_owner:contacts_owner, service:service});
                 
                    }
                    
                    var csrf_token = $("[_csrf_token]").val()

                    var outData = {csrf_token:csrf_token, contacts_array: contacts_array}
                    $.ajax({
                        type: 'POST',
                        url: '/upload_cloudsponge?service=' + service,
                        crossDomain: true,
                        data: JSON.stringify(outData),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function(responseData, textStatus, jqXHR) {
                          //location.reload(true);
                          //window.location.assign('/?status=in_progress');
                          window.location.href = '/?status=in_progress';
                          $("#spinner").fadeOut();
                          return true;
                        },
                        error: function (responseData, textStatus, errorThrown) {
                            $("#spinner").fadeOut();                
                            showSuccess("It appears there was an issue with the upload. An error report has been sent. We apologize for the inconvenience.");
                        }
                    }); 
                  }
                  else {  
                    $("#spinner").fadeOut();     
                    return true;                               
                  }
                  contacts = [];
                  return true;
                } 
                else {
                  $("#spinner").fadeOut();                                
                  return true;
                }                             
              });                          
            }, 1000); 
            break;
          } 
          else if (cloudsponge_status =="ERROR") {
            $("#spinner").fadeOut();     
            break;    
            return true;                   
          }
        }   
      });       
    }

    function attemptFinish() {
      if ({{ current_user.unique_contacts_uploaded | int }} > 0 || ("{{ current_user.linkedin_login_email }}"!='' && "{{ current_user.linkedin_password }}"!='')) {
        upload()
      } else {
        var message = "You haven't added any contacts yet, but you can always come back later to complete your signup.";
        showSuccess(message);
      }      
    }

    function upload() {
        $("#spinner").fadeIn();  
        var csrf_token = $("[_csrf_token]").val() 
        var outData = {csrf_token:csrf_token, contacts_array: []}
        $.ajax({
            type: 'POST',
            url: '/upload_cloudsponge?complete=yes',
            crossDomain: true,
            data: JSON.stringify(outData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function(responseData, textStatus, jqXHR) {
              $("#next").hide()
              $(".final-contact-count").html("{{ '{0:,}'.format(current_user.unique_contacts_uploaded | int) }}")
              $("#step-1").hide(); 
              $("#step-2").slideDown()   
              $("#spinner").fadeOut();   
            },
            error: function (responseData, textStatus, errorThrown) {
                $("#spinner").fadeOut();                
                showSuccess("It appears there was an issue with the upload. An error report has been sent. We apologize for the inconvenience.");
            }
        });  
    }
    
    function _aol() {
      var win = window.open('about:blank');        
      cloudsponge_status = 'NONE';   
      var len = do_import('aol','#aol-area',win);
      $(".email").hide();
      $("#spinner").fadeOut();      
    }
    function _yahoo(){
      var win = window.open('about:blank');        
      cloudsponge_status = 'NONE';   
      var len =do_import('Yahoo','#yahoo-area',win);
      $(".email").hide();
      $("#spinner").fadeOut();      
    }

    function _gmail() {
      cloudsponge_status = 'NONE';   
      var win = window.open('about:blank');        
      var len = do_import('Gmail','#gmail-area',win);
      $(".email").hide();
      $("#spinner").fadeOut();      
    }

    function _linkedin() {
      cloudsponge_status = 'NONE';   
      var win = window.open('about:blank');        
      var len = do_import('LinkedIn','#linkedin-area',win);
      $(".linkedin").hide();
      $("#spinner").fadeOut();      
    }

    function _windowslive() {
      var win = window.open('about:blank');        
      cloudsponge_status = 'NONE';   
      var len = do_import('WindowsLive','#windowslive-area',win);
      $(".email").hide();
      $("#spinner").fadeOut();      
    }

    function _csv() {
      var win = window.open('about:blank');        
      cloudsponge_status = 'NONE';   
      var len = do_import('CSV','#csv-area',win);
      $(".email").hide();
      $("#spinner").fadeOut();      
    }

  </script>  

{% endblock %}
