body {
  font-family: "Quicksand", sans-serif;
}

.clear {
  clear: both;
}

a:hover {
  text-decoration: none;
}

.centered {
  margin: 0 auto;
  float: none;
}

.navbar {
  margin-bottom: 0;
}

.select {
  position: relative;
  background-position: 320px 21px;
  background-color: #fff;
  border: 1px solid #dddddd;
  display: block;
  margin: 0 auto 16px;
  font-size: 20px;
  color: #a0a0a1;
  -webkit-box-shadow: #eeeeee 0px 1px 2px;
  -moz-box-shadow: #eeeeee 0px 1px 2px;
  box-shadow: #eeeeee 0px 1px 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 16px;
}
.select select {
  -webkit-appearance: none;
  -moz-appearance: window;
  appearance: none;
  background: transparent;
  padding-left: 10px;
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

button:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

h1, h2, h3, h4 {
  font-family: "Quicksand", sans-serif;
}

div.clear {
  clear: both;
}

div.filters h1 {
  float: left;
}
div.filters ul.filters {
  float: right;
  width: 366px;
  padding: 35px 0 15px;
}
div.filters ul.filters li {
  list-style-type: none;
  float: left;
}
div.filters ul.filters li input {
  width: 100px;
  height: auto;
  margin: 0 5px;
  font-size: 12px;
}
div.filters ul.filters li span {
  margin-top: 10px;
  display: block;
}

div.navbar {
  background: #525252;
}
div.navbar .navbar-header {
  float: none;
}
div.navbar #header {
  padding: 20.5px 20px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
div.navbar #header span {
  color: #2196f3;
}
div.navbar a.navbar-brand {
  font-size: 15px;
  color: #fff;
}
div.navbar #settings {
  position: relative;
  color: #fff;
  font-size: 15px;
}
div.navbar #settings:hover div.autocomplete {
  height: 120px;
}
div.navbar #settings div.autocomplete {
  width: 240px;
  position: absolute;
  height: 0;
  overflow: hidden;
  top: 63px;
  right: 7px;
  background: #525252;
  -webkit-transition: all 2;
  -moz-transition: all 2;
  -o-transition: all 2;
  transition: all 2;
}
div.navbar #settings div.autocomplete ul {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 0 30px;
}
div.navbar #settings div.autocomplete ul li {
  display: block;
  text-transform: uppercase;
  text-align: right;
  padding: 10px 0;
}
div.navbar #settings div.autocomplete ul li a {
  color: #fff;
}

div.signup h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #2196f3;
  text-align: center;
}
div.signup div.well {
  padding: 30px 80px;
  float: none;
  margin: 0 auto;
}
div.signup div.well fieldset legend {
  text-transform: uppercase;
  text-align: center;
}

div.sidebar {
  float: left;
  height: 100%;
  width: 20%;
}
div.sidebar div.inner {
  min-height: 300px;
  padding: 20px 40px;
  background: #fff;
}
div.sidebar div.inner h3 {
  font-size: 25px;
  color: #525252;
  font-weight: 700;
  text-transform: uppercase;
}
div.sidebar div.inner ul {
  padding-left: 10px;
}
div.sidebar div.inner ul li {
  font-size: 16px;
  padding: 5px;
  text-transform: uppercase;
  list-style-type: none;
}
div.sidebar div.inner ul li a {
  color: #113196;
  font-weight: 500;
  position: relative;
}
div.sidebar div.inner ul li a span {
  width: 3px;
  background: #9E9FAE;
  display: none;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -10px;
}
div.sidebar div.inner ul li a:hover {
  color: #525252;
}
div.sidebar div.inner ul li a.active span {
  display: block;
}

div.items {
  float: left;
  width: 80%;
  background: #fafafa;
  padding: 50px;
  border-left: 1px solid #dedede;
}

div.stats {
  padding-bottom: 40px;
}
div.stats h4 {
  font-size: 28px;
}
div.stats div.stat {
  width: 24%;
  display: inline-block;
  vertical-align: top;
}
div.stats div.stat h5 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

div.results {
  width: 100%;
}
div.results div.search-box {
  padding: 10px 25px 40px;
  width: auto;
}
div.results div.search-box input.search {
  width: 90%;
  float: left;
}
div.results div.search-box input[type='submit'] {
  float: left;
}
div.results h4 {
  color: #2196f3;
  font-size: 18px;
  margin: 0 0 15px;
  padding: 0 25px;
  text-transform: uppercase;
}
div.results div.result {
  width: 45%;
  margin: 0 2.5% 2.5%;
  float: left;
  background: #fff;
  border: 1px solid #c8c7cc;
  padding: 20px;
}
div.results div.result h3 {
  color: #2196f3;
}
div.results div.result h5 {
  font-size: 15px;
}
div.results div.result a {
  margin: 4px;
  display: inline-block;
}

div.person {
  width: 80%;
}

div.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.8);
}
div.overlay div#person {
  width: 1000px;
  margin: 20px auto;
  background: #fff;
  -webkit-box-shadow: #cccccc 0 0 4px 0;
  -moz-box-shadow: #cccccc 0 0 4px 0;
  box-shadow: #cccccc 0 0 4px 0;
  min-height: 150px;
}
div.overlay div#person div.top {
  background: #525252;
  padding: 15px 20px;
  width: auto;
}
div.overlay div#person div.top p {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
div.overlay div#person div.top p a {
  float: right;
  color: #fff;
  font-size: 20px;
}
div.overlay div#person div.inner {
  padding: 20px;
}
div.overlay div#person div.inner div.leftTop {
  width: 40%;
  float: left;
  margin-bottom: 20px;
}
div.overlay div#person div.inner div.rightTop {
  width: 60%;
  float: left;
  margin-bottom: 20px;
}
div.overlay div#person div.inner div.rightTop div.group {
  width: 50%;
  float: left;
}
div.overlay div#person div.inner div.rightTop h4.wealth {
  font-size: 18px;
  color: #525252;
  text-transform: uppercase;
  font-weight: 400;
}
div.overlay div#person div.inner div.rightTop h4.wealth span.inner {
  color: #4caf50;
  font-weight: 700;
}
div.overlay div#person div.inner div.rightTop h1 {
  font-size: 18px;
  color: #113196;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
}
div.overlay div#person div.inner div.rightTop p {
  font-size: 15px;
}
div.overlay div#person div.inner div.rightTop button {
  margin: 0 10px 0 0;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 700;
}
div.overlay div#person div.inner hr {
  clear: both;
  padding: 20px 0 0;
  margin: 0;
}
div.overlay div#person div.inner div.jobsList, div.overlay div#person div.inner div.schoolList, div.overlay div#person div.inner div.newsList, div.overlay div#person div.inner div.salaryList {
  width: 50%;
  padding: 0 5% 5%;
  float: left;
}
div.overlay div#person div.inner div.jobsList h3, div.overlay div#person div.inner div.schoolList h3, div.overlay div#person div.inner div.newsList h3, div.overlay div#person div.inner div.salaryList h3 {
  font-size: 20px;
  color: #113196;
  font-weight: 400;
  padding: 0;
  margin: 0 0 10px;
}
div.overlay div#person div.inner div.jobsList h4, div.overlay div#person div.inner div.schoolList h4, div.overlay div#person div.inner div.newsList h4, div.overlay div#person div.inner div.salaryList h4 {
  font-size: 19px;
  color: #525252;
  font-weight: 700;
  text-transform: uppercase;
}
div.overlay div#person div.inner div.jobsList h5, div.overlay div#person div.inner div.schoolList h5, div.overlay div#person div.inner div.newsList h5, div.overlay div#person div.inner div.salaryList h5 {
  font-size: 14px;
}
