body {
  font-family: "Quicksand", sans-serif;
}

.clear {
  clear: both;
}

a:hover {
  text-decoration: none;
}

.centered {
  margin: 0 auto;
  float: none;
}

.navbar {
  margin-bottom: 0;
}

.select {
  position: relative;
  background-position: 320px 21px;
  background-color: #fff;
  border: 1px solid #dddddd;
  display: block;
  margin: 0 auto 16px;
  font-size: 20px;
  color: #a0a0a1;
  -webkit-box-shadow: #eeeeee 0px 1px 2px;
  -moz-box-shadow: #eeeeee 0px 1px 2px;
  box-shadow: #eeeeee 0px 1px 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 16px;
}
.select select {
  -webkit-appearance: none;
  -moz-appearance: window;
  appearance: none;
  background: transparent;
  padding-left: 10px;
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

button:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

h1, h2, h3, h4 {
  font-family: "Quicksand", sans-serif;
}

body {
  background: #354661;
  font-family: "Quicksand", sans-serif;
}

div.perma-container {
  width: 90%;
  display: block;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
}

div.clear {
  clear: both;
}

div.filters h1 {
  float: left;
}
div.filters ul.filters {
  float: right;
  width: 366px;
  padding: 35px 0 15px;
}
div.filters ul.filters li {
  list-style-type: none;
  float: left;
}
div.filters ul.filters li input {
  width: 100px;
  height: auto;
  margin: 0 5px;
  font-size: 12px;
}
div.filters ul.filters li span {
  margin-top: 10px;
  display: block;
}

div.navbar {
  background: #414154;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
div.navbar .navbar-header {
  float: none;
}
div.navbar #header {
  padding: 20.5px 20px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
div.navbar #header span {
  color: #2196f3;
}
div.navbar a.navbar-brand {
  font-size: 15px;
  color: #fff;
}
div.navbar #settings {
  position: relative;
  color: #fff;
  font-size: 15px;
}
div.navbar #settings:hover div.autocomplete {
  height: 120px;
  z-index: 4;
}
div.navbar #settings div.autocomplete {
  width: 240px;
  position: absolute;
  height: 0;
  overflow: hidden;
  top: 63px;
  right: 7px;
  background: #525252;
  -webkit-transition: all 2;
  -moz-transition: all 2;
  -o-transition: all 2;
  transition: all 2;
}
div.navbar #settings div.autocomplete ul {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 0 30px;
}
div.navbar #settings div.autocomplete ul li {
  display: block;
  text-transform: uppercase;
  text-align: right;
  padding: 10px 0;
}
div.navbar #settings div.autocomplete ul li a {
  color: #fff;
}

div.signup div.top-box {
  float: none;
  margin: 0 auto;
}
div.signup h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #2196f3;
  text-align: left;
}
div.signup div.well {
  width: 988px;
  padding: 30px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 2px;
  float: none;
  margin: 0 auto;
}
div.signup div.well div {
  padding: 0 20px;
}
div.signup div.well ul, div.signup div.well li {
  list-style-type: decimal;
}
div.signup div.well fieldset legend {
  text-transform: uppercase;
  text-align: center;
}

div.sidebar {
  float: left;
  height: 100%;
  width: 20%;
}
div.sidebar div.inner {
  min-height: 300px;
  padding: 20px 40px;
}
div.sidebar div.inner h3 {
  font-size: 25px;
  color: #ccc;
  font-weight: 700;
  text-transform: uppercase;
}
div.sidebar div.inner ul {
  padding-left: 10px;
}
div.sidebar div.inner ul li {
  font-size: 14px;
  padding: 5px;
  list-style-type: none;
}
div.sidebar div.inner ul li a {
  color: #fff;
  text-shadow: #333333 1px 1px 0;
  font-weight: bold;
  position: relative;
}
div.sidebar div.inner ul li a span {
  width: 3px;
  background: #2196f3;
  display: none;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -10px;
}
div.sidebar div.inner ul li a:hover {
  color: #525252;
}
div.sidebar div.inner ul li a.active {
  color: #eee;
}
div.sidebar div.inner ul li a.active span {
  display: block;
}

div.welcome {
  background: #eff2f8;
  width: auto;
  padding-bottoM: 30px;
  -webkit-box-shadow: #999999 0 0px 2px 0px;
  -moz-box-shadow: #999999 0 0px 2px 0px;
  box-shadow: #999999 0 0px 2px 0px;
}
div.welcome h1 {
  padding: 30px 30px 15px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
div.welcome h1 a {
  color: #505977;
  text-decoration: none;
}
div.welcome p {
  padding: 0 30px;
  font-size: 16px;
  width: 80%;
  line-height: 170%;
}
div.welcome hr {
  border: 0;
  height: 1px;
  background: #ccc;
  border-bottom: 1px solid #fff;
}
div.welcome ul {
  padding: 0px 30px;
  height: 21px;
  margin: 0;
}
div.welcome ul li {
  display: inline;
  font-weight: bold;
  margin: 0 5px 0 0;
}
div.welcome ul li a {
  padding: 5px 15px;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #bbb;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
div.welcome ul .active a {
  background: #4daff1;
  color: #fff;
}

div.upload div.well {
  background: #fff;
  padding: 30px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 2px;
  float: none;
  margin: 40px auto;
}
div.upload div.well div.row-one {
  padding: 0 20px;
}
div.upload h1 {
  font-size: 28px;
}

div.top-box h5 {
  color: #fff;
  font-weight: bold;
}

div.confirm div.well {
  background: #fff;
  padding: 30px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 2px;
  float: none;
  margin: 40px auto;
}
div.confirm div.well div.row-one {
  padding: 0 20px;
}
div.confirm h1 {
  font-size: 28px;
}
div.confirm div#skills div.skill {
  background: #2196f3;
  padding: 5px 10px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-right: 10px;
}
div.confirm div#skills div.skill span {
  cursor: pointer;
  padding-left: 10px;
}

h2.empty {
  line-height: 180%;
  background: #eee;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  padding: 30px;
}
h2.empty a {
  color: #2196f3;
}

div.items {
  float: left;
  width: 80%;
  background: #fafafa;
  border-left: 1px solid #dedede;
  min-height: 600px;
}

div.stats {
  padding-bottom: 40px;
  padding: 50px;
}
div.stats h4 {
  font-size: 28px;
}
div.stats div.stat {
  width: 24%;
  display: inline-block;
  vertical-align: top;
}
div.stats div.stat h5 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

div.results-dashboard, div.person-search {
  display: none;
}

div.results {
  width: auto;
  padding: 20px 50px 0;
}
div.results div.search-box {
  padding: 10px 0px 40px;
  width: auto;
}
div.results div.search-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  color: #525252;
  font-size: 12px;
}
div.results div.search-box h5 a {
  color: #525252;
}
div.results div.search-box input.search {
  width: 90%;
  float: left;
}
div.results div.search-box input[type='submit'] {
  float: left;
}
div.results div.search-box .fieldset {
  width: 230px;
  float: left;
}
div.results div.search-box .fieldset input[type='text'] {
  width: 90%;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ddd;
  -webkit-box-shadow: white 0 1px 0 1px;
  -moz-box-shadow: white 0 1px 0 1px;
  box-shadow: white 0 1px 0 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  background: #fff;
  margin: 0;
}
div.results div.search-box .fieldset label {
  padding-right: 10px;
}
div.results div.search-box .fieldset select {
  padding: 13px 10px 11px;
  font-weight: bold;
  font-size: 12px;
  width: 50%;
  background-color: #fff;
  margin: 0;
  border: 1px solid #ddd;
  -webkit-box-shadow: white 0 1px 0 1px;
  -moz-box-shadow: white 0 1px 0 1px;
  box-shadow: white 0 1px 0 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
div.results div.search-box .fieldset button {
  padding: 10px 20px;
}
div.results div.search-box div.advanced-filters {
  display: none;
}
div.results div.search-box div.date {
  width: 180px;
}
div.results div.search-page-results {
  display: none;
  -webkit-box-shadow: #dddddd 0 0 1px 2px;
  -moz-box-shadow: #dddddd 0 0 1px 2px;
  box-shadow: #dddddd 0 0 1px 2px;
  margin-top: 30px;
  padding: 30px;
}
div.results div.search-page-results ul {
  padding: 0;
  list-style-type: none;
}
div.results div.search-page-results ul li {
  list-style-type: none;
  font-weight: bold;
  padding-bottom: 10px;
}
div.results h4 {
  color: #2196f3;
  font-size: 18px;
  margin: 0 0 15px;
  padding: 0 25px;
  text-transform: uppercase;
}
div.results div.result {
  min-height: 338px;
  width: 45%;
  margin: 0 2.5% 2.5%;
  float: left;
  background: #fff;
  border: 1px solid #c8c7cc;
  padding: 20px;
}
div.results div.result h3 {
  color: #2196f3;
}
div.results div.result h5 {
  font-size: 15px;
}
div.results div.result a {
  margin: 4px;
  display: inline-block;
}

div.person {
  width: 80%;
}

div#uploading {
  width: 600px;
  text-align: center;
  margin: 50px auto;
  padding: 50px;
  background: #fff;
  -webkit-box-shadow: #cccccc 0 0 4px 0;
  -moz-box-shadow: #cccccc 0 0 4px 0;
  box-shadow: #cccccc 0 0 4px 0;
  min-height: 150px;
}

div.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.8);
}
div.overlay div#person, div.overlay div#search-box {
  width: 1000px;
  margin: 20px auto;
  background: #fff;
  -webkit-box-shadow: #cccccc 0 0 4px 0;
  -moz-box-shadow: #cccccc 0 0 4px 0;
  box-shadow: #cccccc 0 0 4px 0;
  min-height: 150px;
}
div.overlay div#person div.top, div.overlay div#search-box div.top {
  background: #525252;
  padding: 15px 20px;
  width: auto;
}
div.overlay div#person div.top p, div.overlay div#search-box div.top p {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
div.overlay div#person div.top p a, div.overlay div#search-box div.top p a {
  float: right;
  color: #fff;
  font-size: 20px;
}
div.overlay div#person div.inner, div.overlay div#search-box div.inner {
  padding: 20px;
}
div.overlay div#person div.inner div.leftTop, div.overlay div#search-box div.inner div.leftTop {
  width: 40%;
  float: left;
  margin-bottom: 20px;
}
div.overlay div#person div.inner div.rightTop, div.overlay div#search-box div.inner div.rightTop {
  width: 60%;
  float: left;
  margin-bottom: 20px;
}
div.overlay div#person div.inner div.rightTop div.group, div.overlay div#search-box div.inner div.rightTop div.group {
  width: 50%;
  float: left;
}
div.overlay div#person div.inner div.rightTop h4.wealth, div.overlay div#search-box div.inner div.rightTop h4.wealth {
  font-size: 18px;
  color: #525252;
  text-transform: uppercase;
  font-weight: 400;
}
div.overlay div#person div.inner div.rightTop h4.wealth span.inner, div.overlay div#search-box div.inner div.rightTop h4.wealth span.inner {
  color: #4caf50;
  font-weight: 700;
}
div.overlay div#person div.inner div.rightTop h1, div.overlay div#search-box div.inner div.rightTop h1 {
  font-size: 18px;
  color: #113196;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
}
div.overlay div#person div.inner div.rightTop p, div.overlay div#search-box div.inner div.rightTop p {
  font-size: 15px;
}
div.overlay div#person div.inner div.rightTop button, div.overlay div#search-box div.inner div.rightTop button {
  margin: 0 5px 0 0;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 700;
}
div.overlay div#person div.inner hr, div.overlay div#search-box div.inner hr {
  clear: both;
  padding: 20px 0 0;
  margin: 0;
}
div.overlay div#person div.inner div.jobsList, div.overlay div#person div.inner div.schoolList, div.overlay div#person div.inner div.newsList, div.overlay div#person div.inner div.salaryList, div.overlay div#search-box div.inner div.jobsList, div.overlay div#search-box div.inner div.schoolList, div.overlay div#search-box div.inner div.newsList, div.overlay div#search-box div.inner div.salaryList {
  width: 50%;
  padding: 0 5% 5%;
  float: left;
}
div.overlay div#person div.inner div.jobsList h3, div.overlay div#person div.inner div.schoolList h3, div.overlay div#person div.inner div.newsList h3, div.overlay div#person div.inner div.salaryList h3, div.overlay div#search-box div.inner div.jobsList h3, div.overlay div#search-box div.inner div.schoolList h3, div.overlay div#search-box div.inner div.newsList h3, div.overlay div#search-box div.inner div.salaryList h3 {
  font-size: 20px;
  color: #113196;
  font-weight: 400;
  padding: 0;
  margin: 0 0 10px;
}
div.overlay div#person div.inner div.jobsList h4, div.overlay div#person div.inner div.schoolList h4, div.overlay div#person div.inner div.newsList h4, div.overlay div#person div.inner div.salaryList h4, div.overlay div#search-box div.inner div.jobsList h4, div.overlay div#search-box div.inner div.schoolList h4, div.overlay div#search-box div.inner div.newsList h4, div.overlay div#search-box div.inner div.salaryList h4 {
  font-size: 19px;
  color: #525252;
  font-weight: 700;
  text-transform: uppercase;
}
div.overlay div#person div.inner div.jobsList h5, div.overlay div#person div.inner div.schoolList h5, div.overlay div#person div.inner div.newsList h5, div.overlay div#person div.inner div.salaryList h5, div.overlay div#search-box div.inner div.jobsList h5, div.overlay div#search-box div.inner div.schoolList h5, div.overlay div#search-box div.inner div.newsList h5, div.overlay div#search-box div.inner div.salaryList h5 {
  font-size: 14px;
}

div#client-list {
  width: 700px;
  margin: 20px auto;
  background: #fff;
  -webkit-box-shadow: #cccccc 0 0 4px 0;
  -moz-box-shadow: #cccccc 0 0 4px 0;
  box-shadow: #cccccc 0 0 4px 0;
  min-height: 150px;
  padding: 40px 100px;
}
div#client-list input[type='text'] {
  width: 80%;
}

div#modal {
  width: 700px;
  margin: 20px auto;
  background: #fff;
  -webkit-box-shadow: #cccccc 0 0 4px 0;
  -moz-box-shadow: #cccccc 0 0 4px 0;
  box-shadow: #cccccc 0 0 4px 0;
  min-height: 150px;
  padding: 40px 90px;
}
div#modal h2 {
  font-size: 45px;
  color: #525252;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
div#modal p {
  font-size: 15px;
  padding: 20px;
  text-align: center;
}
div#modal p span {
  color: #08db44;
}
div#modal button {
  font-size: 25px;
  display: block;
  margin: 20px auto;
}

div#search-box {
  width: 1000px;
  margin: 20px auto;
  background: #fff;
  -webkit-box-shadow: #cccccc 0 0 4px 0;
  -moz-box-shadow: #cccccc 0 0 4px 0;
  box-shadow: #cccccc 0 0 4px 0;
  min-height: 150px;
}
div#search-box h1 {
  font-size: 25px;
  color: #525252;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
div#search-box div.search-box {
  padding: 40px;
}
div#search-box div.search-box input[type='text'] {
  width: 80%;
  margin-right: 15px;
}
div#search-box label {
  margin-right: 20px;
}
div#search-box input[type='date'] {
  border: 0px;
  margin-right: 10px;
}

fieldset.margin-bottom {
  margin-bottom: 50px;
}
fieldset.margin-bottom h4 {
  padding-bottom: 15px;
}

#ex1 .slider-selection {
  background: #8283FF;
}

div.padding {
  padding: 10px 40px;
}

.hidden-select {
  margin-top: 30px;
  display: none;
}
