<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>AdvisorConnect</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/gh-buttons.css" />
    <link rel="stylesheet" href="./css/main.css" />

    <link rel='apple-touch-icon' href="">

    <meta name='title' content='' />
    <meta name='description' content='' />
    <meta name='keywords' content='' />

    <!-- Google Site Verification -->
    <meta name='google-site-verification' content="" />

    <!-- Facebook Open Graph -->
    <meta property="fb:admins" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="fb:page_id" content="" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1608721912712330',
          xfbml      : true,
          version    : 'v2.4'
        });        
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    </script>
  <div class='overlay'>
    <div class='email modal'>
      <h3>Select Email Provider</h3>
      <ol>
        <li type="Submit" id='gmail'><a><i class='fa fa-google'></i> Gmail</a></li>
        <li type="Submit" id='yahoo' ><a><i class='fa fa-yahoo'></i> Yahoo</a></li>
        <li type="Submit" id='windowslive' ><a><i class='fa fa-windows'></i> WindowsLive</a></li>
    </div>
    <div class='waiting modal'>
      <div class='logo'>
        <img src='./img/spinner_192.gif' />
      </div>
    </div>    
  </div>

  <div class='signup' id="signup">
    <div class='logo'>
      <img src='./img/AC_logo.png' />
    </div>
    <div id="enter_export_id">
      <p>Copy and paste the confirmation code into the box to proceed to the next step</p>
      <input type='text' id="export_id"/>
      <button id="submit" class='button' type="Submit">Submit</button>
    </div>       
    <div id="enter_email" hidden>
      <h2>Welcome</h2>
      <p>Enter the email address where you would like to receive your P200.</p>
      <input type='email' id="email_address"/>
      <button id="enter" class='button' type="Submit">Enter</button>
    </div>    
    <div id="upload_area" hidden>
      <p id="owner_email"></p>
      <h2>Upload contacts</h2>
      <div id="linkedin_area">
        <button class='button' id='ln' type="Submit">Add Linkedin Connections <i class='fa fa-linkedin'></i></button>
      </div>
<!--       <div id="facebook_area">
        <button class='button' id='fb' type="Submit">Add Facebook Connections <i class='fa fa-facebook'></i></button>
      </div>   -->    
      <div id="email_area">
        <button class='button' id='em' type="Submit">Add Multiple Email Accounts <i class='fa fa-envelope-o'></i></button>
      </div>
<!--       step 1: instructions for  -->
<!--       <div id="mac_area">
        <button class='button' type="Submit" id='vcard'>Add iPhone Contacts - vCard <i class='fa fa-apple'></i></button>
      </div>   -->    
<!--       <div id="csv_area">
        <button class='button' type="Submit" id='csv'>Add Contacts from CSV File <i class='fa fa-cog'></i></button>
      </div> -->
      <br/>
      <br/>
      <a ><button id="next" type="Submit" class='button'>Finish & Upload &raquo;</button></a>
    </div>
  </div>
</body>
  
  
  <script type='text/javascript' >
    function sleep(milliSeconds){
      var startTime = new Date().getTime(); // get the current time
      while (new Date().getTime() < startTime + milliSeconds); // hog cpu
    }
    domain_key='VB652MMUEG24H4JF3SGL';
    domain_password='GSrAxStb9Zk5EOmD';    
    cloudsponge_params = 'domain_key=' + domain_key + '&domain_password=' + domain_password;
    cloudsponge_base_url = 'https://api.cloudsponge.com/'    ;
    contacts_array = [];
    function get_friends(owner, divid){
      $(".overlay").fadeIn();
      $(".waiting").show();        
      FB.api(
          "/me/taggable_friends?fields=id,name,first_name,last_name,picture.type(large)",{'limit': '5000'},
          function (response) {
            if (response && !response.error) {
              console.log(response.data.length);
              response.data.map( function(item) {
                contacts_array.push({contact:{'first_name':item.first_name, 'last_name':item.last_name, 'name':item.name, 'picture':item.picture.data.url}, contacts_owner:{'facebook_id':owner.id,'name':owner.name}, user_email:email_address, service:'facebook'});                                 
              })  
              $(".waiting").hide();   
              $(".overlay").fadeOut();
              var response_string = response.data.length.toLocaleString() + " Facebook contacts added ";
              $(divid).append("<i class='fa fa-check-circle' style='margin: 6px 6px 6px 6px;''> " + response_string + "</i>");                               
            }
            else {
              console.log(response.error);
            }
          }
      );      
    }
    function do_import(service, divid) {
      $.getJSON(cloudsponge_base_url + 'begin_import/user_consent.json?service=' + service + '&' + cloudsponge_params + '&callback=?', 
        function(data) {
          var cloudsponge_url = data.url;
          var import_id = data.import_id;
          var tempcontactsurl = cloudsponge_base_url + 'contacts.json/' + import_id + '?' + cloudsponge_params + '&callback=?';
          var tempeventsurl = cloudsponge_base_url + 'events.json/' + import_id + '?' + cloudsponge_params + '&callback=?';
          console.log(tempcontactsurl);
          var win = window.open(cloudsponge_url);
          var timer = setInterval(function() {   
              if(win.closed) {
                  $(".overlay").fadeIn();
                  $(".waiting").show();                
                  clearInterval(timer); 
                  $.getJSON(tempeventsurl, function(data){
                    events = data.events;

                    for (i = 0; i < events.length; i++) { 
                        cloudsponge_status = events[i].status;
                        if (cloudsponge_status == 'COMPLETED') {
                          var timer2 = setInterval(function() {  
                            $.getJSON(tempcontactsurl, function() {
                            })
                            .success(function(data) {
                              clearInterval(timer2); 
                              contacts = data.contacts;
                              if (contacts !=undefined && contacts.length) { 
                                contacts_owner = data.contacts_owner;

                                for (i = 0; i < contacts.length; i++) { 
                                    var contact = contacts[i];
                                    contacts_array.push({contact:contact, contacts_owner:contacts_owner, user_email:email_address, service:service});
                             
                                }
                                var response_string = contacts.length.toLocaleString() + " " +  service + " contacts added ";
                                if (contacts_owner) {

                                  response_string = response_string + "from " + contacts_owner.email[0].address;
                                }
                              
                                $(".waiting").hide();   
                                $(".overlay").fadeOut();
                                $(divid).append("<i class='fa fa-check-circle' style='margin: 6px 6px 6px 6px;''> " + response_string + "</i>"); 
                                contacts = [];
                              } 
                              else {
                                $(".waiting").hide();   
                                $(".overlay").fadeOut();                                
                                alert('Invalid input');
                              }                             
                            });                          
                          }, 1000); 
                          break;
                        }
                    }     
                  }); 
              }  
          }, 500);             
        });      
    }
    $(function() {
      $("#export_id").keyup(function(event){
          if(event.keyCode == 13){
              $("#submit").click();
          }
      });        
      $("#email_address").keyup(function(event){
          if(event.keyCode == 13){
              $("#enter").click();
          }
      });      
      $("#submit").click(function() {
        var export_id_string = document.getElementById("export_id").value;
        console.log(export_id_string);
        console.log('http://169.55.28.212:8080/get_phone_export/id=' + export_id_string);
        $.getJSON('http://169.55.28.212:8080/get_phone_export/id=' + export_id_string, 
          function(data) {
            console.log(data);
        });                
      })       
      $("#enter").click(function() {
        email_address = document.getElementById("email_address").value;
        if (email_address != "") {
          document.getElementById("owner_email").innerHTML = email_address;
          $("div#enter_email").hide();
          $("div#upload_area").show();
        }
      })  
      $("#fb").click(function() {
        FB.login(function(){
          FB.api(
              "/me",
              function (response) {
                if (response && !response.error) {
                  get_friends(response,'div#facebook_area');
                }
              }
          );            
        }
          , {scope: 'user_friends,user_photos'}
        );

      })    
      $("#vcard").click(function() {
        cloudsponge_status = 'NONE';   
        var len = do_import('addressbook','div#mac_area');
      })            
      $("#em").click(function() {
        $(".overlay").fadeIn();
        $(".email").slideDown();
      })
      $("#gmail").click(function() {
        cloudsponge_status = 'NONE';   
        var len = do_import('Gmail','div#email_area');
        $(".email").hide();
        // if (len>0) {$("#gmail").hide();}
        $(".overlay").fadeOut();
      })
      $("#yahoo").click(function() {
        cloudsponge_status = 'NONE';   
        var len =do_import('Yahoo','div#email_area');
        $(".email").hide();
        // if (len>0) { $("#yahoo").hide();}
        $(".overlay").fadeOut();
      })
      $("#windowslive").click(function() {
        cloudsponge_status = 'NONE';   
        var len = do_import('WindowsLive','div#email_area');
        $(".email").hide();
        // if (len>0) {$("#windowslive").hide();}
        $(".overlay").fadeOut();
      })              
      $("#ln").click(function() {
        // $(".overlay").fadeIn();
        var len = do_import('LinkedIn','div#linkedin_area');
      })
      $("#csv").click(function() {
        // $(".overlay").fadeIn();
        var len = do_import('CSV','div#csv_area');
        // if (len>0) {$("#csv").hide();}
      })
      $("#next").click(function() {
        if (contacts_array.length > 0) {
          $(".overlay").fadeIn();
          $(".waiting").show();             
          $.ajax({
              type: 'POST',
              url: 'http://169.55.28.212:8080/add',
              crossDomain: true,
              data: JSON.stringify(contacts_array),
              success: function(responseData, textStatus, jqXHR) {
                  $(".waiting").hide();   
                  $(".overlay").fadeOut();                
                  var value = responseData.someKey;
                  $("div#upload_area").hide();
                  $("div#signup").append("<i class='fa fa-check-circle' style='font-size: 150%; margin: 6px 6px 6px 6px;''> " + contacts_array.length.toLocaleString() + " total records uploaded " + "</i>"); 
                  $("div#signup").append("<i class='fa fa-check-circle' style='font-size: 150%; margin: 6px 6px 6px 6px;''> " + Object.keys(JSON.parse(responseData)).length.toLocaleString() + " unique contacts " + "</i>");                   
                  //alert('uploaded ' + contacts_array.length + ' contacts!')
              },
              error: function (responseData, textStatus, errorThrown) {
                  $(".waiting").hide();   
                  $(".overlay").fadeOut();                
                  alert('upload failed.');
              }
          });   
        } else {
          alert('No contacts added!');
        }     
        //$("#csv").hide();
      })      
      
      $(".overlay").click(function(e) {
        if (e.target.className == "overlay") {
            $(".linkedin").hide();
            $(".email").hide();
            $(this).hide();
          }
      });
    });
  </script>
  
</html>

