{% extends 'base.html' %}
{% block content %}
<div class='signup'>
  <div class='top-box col-lg-9 center'>
    <h5>STEP 1/4</h5>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 25%"></div>
    </div>
  </div>
  <div class='clear'></div>
  <div class='well col-lg-9 center'>
    <div class='row col-md-5'>
      <h1>Welcome to AdvisorConnect.  </h1>
      <p>Start prospecting in minutes! </p>
      <ul>
        <li>When you sign up we'll ask you to provide some information about yourself and confirm your identity.  This will allow us to analyze your extended network and it will help us to match you with compatible prospects.  </li>
        <li>We'll also ask you to tell us what your ideal prospect looks like (don't worry if you don't know that yet--you can come back to this later!)</li>
        <li>With this information we can provide you a detailed overview of your extended network and you can begin reviewing recommended prospects.  You can also search and filter prospects.  Just click on the prospect name to see a full profile (including verified contact information).</li>
      </ul>
      <p>AdvisorConnect</p>
    </div>
    <div class='row col-md-7'>
      <form class="form-horizontal" action='' method='POST'>
        {% if signup_form.errors %}
        <div class='alert alert-dismissable alert-danger'>
          {% for error in signup_form.errors.items() %}
          <div>
            <strong>{{ error[0] }}:</strong> {{ error[1][0] }}
          </div>
          {% endfor %}
        </div>
        {%endif%}
        {{ signup_form.csrf_token }}
        <fieldset>
          <legend>Enter your credentials below</legend>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">First:</label>
            <div class="col-lg-10">
              <input type="text" name='first_name' class="form-control" id="inputEmail" placeholder="First">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Last:</label>
            <div class="col-lg-10">
              <input type="text" name='last_name' class="form-control" id="inputEmail" placeholder="Last">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" name='email' class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" name='password' class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Confirmation</label>
            <div class="col-lg-10">
              <input type="password" name='password2' class="form-control" id="inputPassword" placeholder="Password">
              <span class="checkbox">
                <label>I accept AdvisorConnect's <a href='/terms'>Terms and Conditions</a></label>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class='clear'></div>
  </div>
  <br />
  <div class="alert alert-dismissable alert-success col-lg-7 centered">
    Already Have an account? <a href="{{ url_for("auth.login") }}" class="alert-link">Log In Here</a>.
  </div>
  <br/>
</div>
{% endblock %}
