{% extends 'base.html' %}
{% block header %}{% endblock %}
{% block content %}
  <div class='signup'>
    {%if reset != 'yes' %}
      <h1>Welcome, {{ user.first_name }}!</h1>
    {%endif%}
    <p>Your username is {{ user.email }}</p>
      
    <form class="card" action='' method='POST'>
      
      {% if signup_form.errors %}
      <div class='error'>
        {% for error in signup_form.errors.items() %}
        <div>
          <strong>{{ error[0] }}:</strong> {{ error[1][0] }}
        </div>
        {% endfor %}
      </div>
      {%endif%}

      {{ signup_form.csrf_token }}
      <input type='hidden' name='code' value='{{ code }}' />
        <h2>
          {%if reset == 'yes' %}
            Enter a new password
          {%else%}
            Create a password for your account
          {%endif%}
          </h2>
          <p>It must be at least 8 characters</p>
        <div class="form-group">
          <label for="inputPassword">Password:</label>
          <input type="password" name='password' id="inputPassword" placeholder="Password">          
        </div>
        <div class="form-group">
          <label for="inputPassword">Confirm Password:</label>          
          <input type="password" name='password2' id="inputPassword" placeholder="Confirm Password">
        </div>
      <button type="submit" class="button teal">Submit</button>
      {%if reset != 'yes' %}
      <span class="accept-terms">
        I accept AdvisorConnect's <a href='/terms'>Terms and Conditions</a>
      </span>
      {%endif%}
    </form>

    {%if reset != 'yes' %}
      <h5>
        Already Have an account? <a href="{{ url_for("auth.login") }}" class="alert-link">Log In Here</a>.
      </h5>
    {%endif%}
  </div>
{% endblock %}
{% block footer %}{% endblock %}
