<div class="subheader">
  <div class="wrap">
    <div class="col-4">
      {% if current_user.is_manager %}
        <a class="back-link" href="/managers/dashboard">← Back to Dashboard</a>
      {% endif %}
      <h2>{% if header %}{{ header }}{% else %}Network Summary{% endif %}</h2>
    </div>
    <div class="col-8">
      <div class="subnav">
        <ul>
          <li><a href="{% if not current_user.is_manager %}/dashboard{%else%}/managers/agent/{{ agent.user_id }}{%endif%}" class="{% if active == 'dashboard' %}selected{% endif %}">Network Summary</a></li>
          {%if agent.p200_completed %}
            {%if not agent.p200_approved and not current_user.is_manager%}
              <li><a href="/connections" class="{% if active == "connections" %}selected{% endif %}">Build Project 200</a></li>
            {%endif%}
            {%if agent.p200_submitted_to_manager or not current_user.is_manager %}
              <li><a href="{% if not current_user.is_manager %}/p200{%else%}/managers/p200/{{ agent.user_id }}{%endif%}" class="{% if active == 'p200' %}selected{% endif %}">View Project 200</a></li>
            {%endif%}
          {% elif not agent.p200_completed and not agent.p200_started and current_user.is_manager %} 
            <li><button id='{{ agent.user_id }}_p200_button' data-p200-id='{{ agent.user_id }}'>Request P200</button></li>
          {% endif %}                       
        </ul>
      </div>
    </div>
  </div>
</div>  
