<div class="subheader">
  <div class="wrap">
    <div class="col-4">
      <h2>Summary of Your Network</h2>
    </div>
    <div class="col-8">
      <div class="subnav">
        <ul>
          <li><a href="/dashboard" class="{% if active == "dashboard" %}selected{% endif %}">Your Network</a></li>
          <li><a href="/connections" class="{% if active == "connections" %}selected{% endif %}">My Connections</a></li>
          <li><a href="/extended/connections" class="{% if active == "extended" %}selected{% endif %}">Extended</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>  
