<tr data-row='{{ connection.prospect.id }}' data-intro="Once you find a contact you want to add to your Project 200 click Add.  You can also Skip the contact.  Don't worry, you can remove or unskip contacts if you change your mind later!" data-step="2">
  {% if connection.good %}
  {% else %}
  <td>
    <input class='connection-checkbox' data-connection-id='{{ connection.prospect.id }}' type="checkbox" />
  </td>
  {% endif %}
  <td>
    <div class="contact-info">
      <div class="wrap">                                          
        <div class="col-10">
          <div class="pic">
            <img src='{{ connection.prospect.image }}' />
          </div>
          <div class="main-info">                  
            <div class="name"> <span>{{ connection.prospect.name }}</span><span class="stars {{ connection.stars_display }}"></span></div>
            <div class="job">{{ connection.prospect.headline }}</div>
            <div class="location">{{ connection.prospect.linkedin_location_raw }}</div>
            <div class="tags">
              {% for referrer in connection.referrers %}
              {% if referrer['referrer_connection'].startswith('Worked') %}
              Worked with 
              {% else %}
              {{referrer['referrer_connection'].split(" together ")[0]}} with 
              {% endif %}
              {%if current_user.is_manager %}
                <a class="location">
                  <span>
                    {{referrer['referrer_name']}}
                  </span> 
                </a>              
              {%else%}
                <a href="/connections?query={{referrer['referrer_name']}}" class="location">
                  <span>
                    {{referrer['referrer_name']}}
                  </span> 
                </a>
              {%endif%}
              {% if referrer['referrer_connection'].startswith('Worked') %}
              at {{referrer['referrer_connection'].split("Worked at ")[-1].replace(" together "," ")}}
              {% else %}
              {{referrer['referrer_connection'].split(" ")[-1]}}  
              {% endif %}
              <br>
              {% endfor %}
            </div>              
            <div class="tags">
              {% for tag in connection.prospect.tags %}<span>{{ tag }}</span>{% endfor %}
            </div>
          </div>                
        </div>
        <div class="col-2">
          <div class="contact-links">
            {% if connection.prospect.facebook %}
              <a href="{{ connection.prospect.facebook }}"  target="_blank" class="facebook hint--top" data-hint="{{ connection.prospect.facebook }}"></a>
            {% endif %}
            {% if connection.prospect.linkedin %}
              <a href="{{ connection.prospect.linkedin }}"  target="_blank" class="linkedin hint--top" data-hint="{{ connection.prospect.linkedin }}"></a>
            {% else %}
              <a href="{{ connection.prospect.linkedin_url }}"  target="_blank" class="linkedin hint--top" data-hint="{{ connection.prospect.linkedin_url }}"></a>
            {% endif %}
            {% if connection.prospect.twitter %}
              <a href="{{ connection.prospect.twitter }}"  target="_blank" class="twitter hint--top" data-hint="{{ connection.prospect.twitter }}"></a>
            {% endif %}
            {% if connection.prospect.pinterest %}
              <a href="{{ connection.prospect.pinterest }}"  target="_blank" class="pinterest hint--top"  data-hint="{{ connection.prospect.pinterest }}"></a>
            {% endif %}
            {% if connection.prospect.amazon %}
              <a href="{{ connection.prospect.amazon }}"  target="_blank" class="amazon hint--top" data-hint="{{ connection.prospect.amazon }}"></a>
            {% endif %}
            {% if connection.prospect.soundcloud %}
              <a href="{{ connection.prospect.soundcloud }}"  target="_blank" class="soundcloud hint--top" data-hint="{{ connection.prospect.soundcloud }}"></a>
            {% endif %}         
            {% if connection.prospect.slideshare %}
              <a href="{{ connection.prospect.slideshare }}"  target="_blank" class="slideshare hint--top" data-hint="{{ connection.prospect.slideshare }}"></a>
            {% endif %}    
            {% if connection.prospect.plus %}
              <a href="{{ connection.prospect.plus }}"  target="_blank" class="plus hint--top" data-hint="{{ connection.prospect.plus }}"></a>
            {% endif %}          
            {% if connection.prospect.angel %}
              <a href="{{ connection.prospect.angel }}"  target="_blank" class="angel hint--top" data-hint="{{ connection.prospect.angel }}"></a>
            {% endif %}         
            {% if connection.prospect.foursquare %}
              <a href="{{ connection.prospect.foursquare }}"  target="_blank" class="foursquare hint--top" data-hint="{{ connection.prospect.foursquare }}"></a>
            {% endif %}      
            {% if connection.prospect.github %}
              <a href="{{ connection.prospect.github }}"  target="_blank" class="github hint--top" data-hint="{{ connection.prospect.github }}"></a>
            {% endif %}       
            {% if connection.prospect.flickr %}
              <a href="{{ connection.prospect.flickr }}"  target="_blank" class="flickr hint--top" data-hint="{{ connection.prospect.flickr }}"></a>
            {% endif %}                                                                                
            {% if connection.prospect.emails %}
              <a href="{{connection.prospect.mailto}}" target="_blank" class="email hint--top" data-hint="{{ connection.prospect.emails }}"></a>
            {% endif %}
            {% if connection.prospect.linkedin_location_raw %}
              <a href="http://classic.mapquest.com/?q={{ connection.prospect.linkedin_location_raw }}" data-hint="{{ connection.prospect.linkedin_location_raw }}" class="location hint--top" target="_blank" ></a>
            {% endif %}
            {% if connection.prospect.phone %}
              <a href="#" class="phone hint--top" data-hint="{{ connection.prospect.phone }}"></a>
            {% endif %}            
          </div>
        </div>
      </div>              
    </div>
  </td>
  <td class="contact-buttons">
    {%if active == "p200" %}
      {% if connection.good %}
        <div style='display:none;' class="col-12">
          <button data-remove='{{ connection.prospect.id }}' class="button teal">Remove</button>
        </div>
      {% else %}
        <div class="wrap">
          <div class="col-6">
            <button data-add='{{ connection.prospect.id }}' class="button teal">Add</button>
          </div>
          <div class="col-6">
            <button data-skip='{{ connection.prospect.id }}' class="button grey">Skip</button>
          </div>
        </div>
      {% endif %}
    {%elif active == "pdf" %}
      <div class="contact-info"> 
        <div class="wrap">    
          <div class="col-12"> 
            <div class="main-info">         
              {%if connection.prospect.phone %}
                <div class="location">{{ connection.prospect.phone }}</div>  
              {%endif%}
              {%if connection.prospect.emails %}
                <div class="tags">
                  {{ connection.prospect.emails }}
                </div>  
              {%endif%}            
            </div>
          </div>
        </div>
      </div>
    {%endif%}
  </td>
</tr>

