<div class='loading'><img src='/static/img/loading.gif' /></div>
<table class="contacts-table">
  <thead data-step="3" data-intro="Hint: You can also Add or Skip all the contacts on the page at once.">
    {% if active == "p200" or active == "pdf" %}
    {% else %}
      <th>
        <input name='select-all' type="checkbox" />
      </th>
    {% endif %}
    {% if active == "p200" or active == "pdf" %}
      <th>{{ agent.first_name }} {{ agent.last_name }}'s Prospects</th>
    {% else %}
      <th>Select All</th>
    {% endif %}
    <th class="select-all-buttons">
      {% if active == "p200" %}     
      {% elif active == "pdf" %}     
        Contact Information    
      {% else %}
        <div class="wrap">
          <div class="col-6">
            <button id='add-all' class="button teal">Add Selected</button>
          </div>
          <div class="col-6">
            <button id='skip-all' class="button grey">Skip Selected</button>
          </div>
        </div>
      {% endif %}
    </th>
  </thead>
  <tbody>
    {% for connection in connections %}
      {% include "_partials/connection.html" %}
    {% endfor %}
  </tbody>
  <tfoot>
    <th class="select-all-buttons">
      {% if active == "p200" %}     
      {% elif active == "pdf" %}     
        Contact Information    
      {% else %}
        <div class="wrap">
          <div class="col-6">
            <button id='add-all' class="button teal">Add Selected</button>
          </div>
          <div class="col-6">
            <button id='skip-all' class="button grey">Skip Selected</button>
          </div>
        </div>
      {% endif %}
    </th>
  </tfoot>
</table>

<div class='pagination'>
  <ul>

    <!-- First Page Button -->
    <a class='first disabled' data-page='{{ _page }}'>&#171;</a>    
    <!-- First Page Button -->

    {% for _page in range(1, pagination.pages + 1) %}
      {% if 1 == _page %}
        <a class='active' data-page='{{ _page }}'>{{ _page }}</a>
      {% else %}
        <a data-page='{{ _page }}'>{{ _page }}</a>
      {% endif %}
    {% endfor %}
    
    <!-- Last Page Button -->
    
    <a class='last'>&#187;</a>
    
    <!-- Last Page Button -->

  </ul>
  
  
  <div class="text-center">
    <small>Page <span data-page='{{ pagination.page }}'>{{ pagination.page }}</span> of {{ pagination.pages }}</small>
  </div>
  

</div>
