<tr data-row='{{ connection.prospect.id }}' data-intro="Once you find a contact you want to add to your Project 200 click Add.  You can also Skip the contact.  Don't worry, you can remove or unskip contacts if you change your mind later!" data-step="2">
  {% if connection.good %}
  {% else %}
  <td>
    <input class='connection-checkbox' data-connection-id='{{ connection.prospect.id }}' type="checkbox" />
  </td>
  {% endif %}
  <td>
    <div class="contact-info">
      <div class="wrap">                                          
        <div class="col-10">
          <div class="pic">
            <img src='{{ connection.prospect.image }}' />
          </div>
          <div class="main-info">                  
            <div class="name"> <span>{{ connection.prospect.name }}</span><span class="stars {{ connection.stars_display }}"></span></div>
            <div class="job">{{ connection.prospect.headline }}</div>
            <div class="location">{{ connection.prospect.linkedin_location_raw }} | {{ connection.prospect.age }} Years Old</div>
            <div class="tags">
              {% for referrer in connection.referrers %}
              {% if referrer['referrer_connection'].startswith('Worked') %}
              Worked with 
              {% else %}
              {{referrer['referrer_connection'].split(" together ")[0]}} with 
              {% endif %}
              {%if current_user.is_manager %}
                <a class="location">
                  <span>
                    {{referrer['referrer_name']}}
                  </span> 
                </a>              
              {%else%}
                <a href="/connections?query={{referrer['referrer_name']}}" class="location">
                  <span>
                    {{referrer['referrer_name']}}
                  </span> 
                </a>
              {%endif%}
              {% if referrer['referrer_connection'].startswith('Worked') %}
              at {{referrer['referrer_connection'].split("Worked at ")[-1].replace(" together "," ")}}
              {% else %}
              {{referrer['referrer_connection'].split(" ")[-1]}}  
              {% endif %}
              <br>
              {% endfor %}
            </div>              
            <div class="tags">
              {% for tag in connection.prospect.tags %}<span>{{ tag }}</span>{% endfor %}
            </div>
          </div>                
        </div>
        <div class="col-2">
          {% include "_partials/social.html" %}
        </div>
      </div>              
    </div>
  </td>
  <td class="contact-buttons">
    {%if active == "p200" or active == "connections" %}
      {% if connection.good %}
        <div style='display:none;' class="col-12">
          <button data-remove='{{ connection.prospect.id }}' class="button teal">Remove</button>
        </div>
      {% else %}
        <div class="wrap">
          <div class="col-6">
            <button data-add='{{ connection.prospect.id }}' class="button teal">Add</button>
          </div>
          <div class="col-6">
            <button data-skip='{{ connection.prospect.id }}' class="button grey">Skip</button>
          </div>
        </div>
      {% endif %}
    {%elif active == "pdf" %}
      <div class="contact-info"> 
        <div class="wrap">    
          <div class="col-12"> 
            <div class="main-info">         
              {%if connection.prospect.phone %}
                <div class="location">{{ connection.prospect.phone }}</div>  
              {%endif%}
              {%if connection.prospect.emails %}
                <div class="tags">
                  {{ connection.prospect.emails }}
                </div>  
              {%endif%}            
            </div>
          </div>
        </div>
      </div>
    {%endif%}
  </td>
</tr>

