
{% block content %}  
<div class="subheader" id="subheader">
  <div class="wrap">
    <div class="col-4">
      <h2>Manager Dashboard</h2>
    </div>

    <div class="col-8">
      <div class="subnav">
        <ul id="active_cell">
          {% if active != "selected" %}
            <li><a href="/managers/dashboard" class="selected">Dashboard</a></li>
          {% endif %}    
          {% if active != "agent_page" and active != "invite" %}
            <li data-tooltip="Invite a prospective agent to complete a network summary by uploading their contacts"><a href="/managers/invite" class="selected">Request Hiring Screen</a></li>
          {% endif %}       
          {% if active == "agent_page" and agent is not none and agent.p200_completed != true and agent.p200_started != true %} <!--  -->
            <li><button id='{{ agent.user_id }}_p200_button' data-p200-id='{{ agent.user_id }}' class="selected">Request P200</button></li>
          {% endif %}   

        </ul>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script type='text/javascript'>
 
var csrftoken = "{{ csrf_token() }}"
$(function() {

    $("[id$=_p200_button]").click(function() {
        console.log("clik")
        var user_id = $(this).data("p200-id");
        var name = $(this).name;
        if (user_id != undefined && user_id != null && user_id != '') {
          $.post("/managers/request_p200", {user_id:user_id}, function(data){
              if (data.name != undefined && data.name !=null && data.name != '') {
                document.getElementById("p200_success_message").innerHTML =  data.name + "'s P200 has been requested and should be available within 24 hours."
                document.getElementById("success").showModal();    
                document.getElementById(user_id + "_p200_button").style.display = "none";     
                document.getElementById(user_id + "_p200_pending").style.display = "inline";   
              }

            });          
        }

      });
});


</script>
{% endblock %}