{% extends 'base.html' %}

{% block content %}

{% include "_partials/agent_header.html" %}
<div class="wrap text-right">    
  <a href='{% if current_user.is_manager %}/managers/dashboard_pdf/{{agent.user_id}}{%else%}/dashboard_pdf{%endif%}?p200={{ p200 }}' target="_blank"><button id='export-network-summary' target="_blank" class='button dark-blue'>Print/Export PDF</button></a>
  <br><br>
</div>
{% include "_partials/agent_nav.html" %}
{%if agent.primary_network_size(p200=p200) | int > 0 %}
  <div class="section">
    <div class="wrap card">
      <div class="col-6">
        <div class="qualified-contacts">
          <h2 class="text-center">Market in GO Territory</h2>
          <canvas width="400px" height="240px" id='connections'></canvas>
          <h4 class="hint--top" data-hint="Number of qualified contacts in first-degree network." style='width: 130px;'>Initial</h4>
          <h4 class="hint--top" data-hint="Number of qualified contacts in second-degree network." style='width: 130px;'>Extended</h4>
          <h4 class="hint--top" data-hint="Number of first-degree plus second-degree qualified network contacts." style='width: 130px;'>Total</h4>
        </div>
      </div>
      <div class="col-6">
        <div class="network-breakdown">
          <h2 class="text-center hint--top">All Contacts by State</h2>        
          <canvas width="400px" height="240px" id='state'></canvas> 
        </div>
      </div>    
    </div>
  </div>
  <div class="section">
    <div class="wrap">
      <div class="col-7">
        <div class="card">
          <div class="card-header">
            <h4 class="hint--top">Initial Market by Industry</h4>
          </div>
          {%include "_partials/potential_markets.html" %}
        </div>
        <br>      
        {%include "_partials/contacts_uploaded.html" %}
        {% if not current_user.is_manager %}
         <!--  <span><small><a href='/exclusions_report'>Download detailed exclusions report</a></small></span> -->
        {%endif%}
      </div>
      <div class="col-5">
        {%include "_partials/network_statistics.html" %}
      </div>
    </div>
  </div>  
  {%with print = false %}
    {%include "_partials/network_summary_script.html" %}
  {%endwith%}
{%elif not p200%}
  <div class="section">
    <div class="wrap">
      <div class="note" style="text-align: center;">
        <br/>
        <p>We did not find any qualified prospects in {{ agent.location }}. Below is a summary of the contacts that were added during the upload process.</p>
      </div>      
      <div class="card contacts-uploaded">
        {%if agent.unique_contacts_uploaded %}
          <div class="card-header">
            <h4>Contact Source</h4>
            <span class="text-right">Uploaded</span>
          </div>
          <table>
            {%if agent.contacts_from_linkedin %}
              <tr>
                <td><img src="/static/img/linkedin-40.png"> <b>LinkedIn</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_linkedin | int) }}</td>
              </tr>
            {%endif%}
            {%if agent.contacts_from_gmail %}
              <tr>
                <td><img src="/static/img/gmail-40.png"> <b>Gmail</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_gmail | int) }}</td>
              </tr>
            {%endif%}
            {%if agent.contacts_from_yahoo %}
              <tr>
                <td><img src="/static/img/yahoo-mail-40.png"> <b>Yahoo! Mail</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_yahoo | int) }}</td>
              </tr>
            {%endif%}
            {%if agent.contacts_from_icloud %}
              <tr>
                <td><img src="/static/img/icloud-40.png"> <b>iCloud</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_icloud | int) }}</td>
              </tr>
            {%endif%}            
            {%if agent.contacts_from_windowslive %}
              <tr>
                <td><img src="/static/img/windows-live-40.png"> <b>Windows Live</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_windowslive | int) }}</td>
              </tr>
            {%endif%}
            {%if agent.contacts_from_aol %}
              <tr>
                <td><img src="/static/img/aol-40.png"> <b>Aol</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_aol | int) }}</td>
              </tr>
            {%endif%}
            {%if agent.contacts_from_csv %}
              <tr>
                <td><img src="/static/img/csv-40.png"> <b>CSV</b></td>
                <td class="text-right">{{ '{0:,}'.format(agent.contacts_from_csv | int) }}</td>
              </tr>
            {%endif%}            
          {%endif%}
        </table>
      </div>
    </div>
  </div>
{%endif%}
{% endblock %}
