{% extends 'base.html' %}

{% block content %}

{% include "_partials/agent_nav.html" %}
<div class="network-summary-print wrap">
  
  <div class="section">
    <div class="wrap card">
      <div class="col-6">
        <div class="qualified-contacts">
          <h2 class="text-center">Market in GO Territory</h2>
          <canvas width="360px" height="200px" id='connections'></canvas>
          <h4 class="hint--top" style='width: 100px;'>Initial</br><span style="font-weight:lighter;">{{ agent.primary_network_size(p200=p200) }}</span></h4>
          <h4 class="hint--top" style='width: 100px;'>Extended</br><span style="font-weight:lighter;">{{ agent.extended_network_size(p200=p200) }}</span></h4>
          <h4 class="hint--top" style='width: 100px;'>Total</br><span style="font-weight:lighter;">{{ agent.total_network_size(p200=p200) }}</span></h4>
        </div>
      </div>      
      <div class="col-6">
        <div class="network-breakdown">
          <h2 class="text-center hint--top">All Contacts by State</h2>        
            <canvas width="320px" height="200px" id='state'></canvas>                      
        </div>
      </div>

    </div>
  </div>

  <div class="section">
    <div class="card">
      <div class="card-header">
        <h4 class="hint--top">Initial Market by Industry</h4>
      </div>
      {%include "_partials/potential_markets.html" %}
    </div>
  </div> 

  <div class="section">
    {%include "_partials/contacts_uploaded.html" %}
  </div>

  <div class="section">  
    {%include "_partials/network_statistics.html" %}
  </div>  

</div>
{%with print = true %}
{%include "_partials/network_summary_script.html" %}
{%endwith%}
{% endblock %}

